<section class="admin-main-dashboard">
  <div class="row">
    <div class="columns xsmall-12">
      <% if current_user.username == "taha.jalil" %>
        <% @cities.each do |city| %>
          <p><%= link_to "Go to #{city.name}", dashboard_admin_city_path(current_user, city) %> | <%= link_to "Edit #{city.name}", edit_admin_city_path(current_user, city) %></p>
        <% end %>
      <% else %>
         <p><%= link_to "View/Add/Edit members/mentors/judges/sponsors of #{@city.name}", dashboard_admin_city_path(current_user, @city) %> | <%= link_to "Edit #{@city.name}", edit_admin_city_path(current_user, @city) %></p>
      <% end %>
    </div>
  </div>
</section>