<section class="login-form">
  <div class="row">
    <div class="columns xsmall-12 small-12 medium-12 large-12 text-center"> 
      <h1>Log In</h1>
      <%= render 'login_form' %>
    </div>
  </div>
</section>