#careers-main {
  @include prop(padding, 90, 0, 40);

  .beta {
    text-transform: uppercase;
    color: $greyLight;
    @include prop(margin-bottom, 20);
  }

  .careers-description {
    p {
      color: $greyLight;
      line-height: 1.8;
      @include fontSize(18);
      font-family: "OpenSans-Light";
      @include prop(margin-bottom, 20);
    }
  }
}

#careers-openings {

  .job-description {
    background: $white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    @include prop(margin-bottom, 20);
    border-left: 1px solid $greenLight;
    @include prop(padding, 10, 35);

    .alpha {
      color: $greyLight;
      font-family: "OpenSans-Light";

      span {
        text-transform: uppercase;
        font-family: "OpenSans-Bold";
        font-size: 13px;
        letter-spacing: 2px;
        color: $green;
      }
    }

    &.active {
      display: block;
    }

    &:first-child {
      .content {
        display: block;
      }
    }
  }

  .content {
    display: none;
  }

  .job-location {
    color: $greyDark;
    @include prop(margin, 7, 0, 10);
  }

  .job-synopsis {
    color: $green;
    @include prop(margin, 0, 0, 20);
  }

  ul {
    @include prop(margin, 0, 20);
  }

  li {
    list-style-type: disc;
    color: $greyLight;
    line-height: 1.5;
    @include prop(margin, 0, 0, 5);
  }

  .apply {
    @include prop(margin, 30, 0, 10);
    text-align: center;
  }
}

#careers-cta {
  @include prop(padding, 0, 0, 40);

  p {
    color: $greyLight;
    line-height: 1.4;
  }
}
