.admin-main-dashboard {

  .admin-city-panel {
    position: relative;
    @include prop(min-height, 250);
    @include pre(width, 100%);
    background-size: cover;
    background-color: white;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: 50%;
    z-index: 1;
    float: left;
    @include prop(padding, 0);
    @include prop(margin, 10, 0);

    @media only screen and (min-width: $smallScreen + px) {
      @include pre(width, 45%);
      @include prop(margin, 10);
    }

    @media only screen and (min-width: $mediumScreen + px) {
      @include pre(width, 30%);
    }

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(max-width, 265);
      @include pre(width, 22%);
    }

    &#city-boston {
      background-position-x: 70%;
    }

    &:before {
      content: "";
      position: absolute;
      @include pre(width, 100%);
      @include pre(height, 100%);
      @include pre(left, 0);
      background: rgba(0, 0, 0, 0.2);
      @include pre(transition, background 0.3s ease-out);
      z-index: 2;
    }

    &:hover {
      &:before {
        background: rgba(0, 0, 0, 0);
      }
    }

    .v-wrapper {
      @include prop(min-height, 250);
      position: relative;
      z-index: 3;

      .delta {
        text-align: center;
        color: $white;
        letter-spacing: 2px;
      }
    }
  }
}

#edit-city-form {
  @include prop(padding, 20, 0, 50);
}

.city-hero {
  @include prop(padding, 90, 0, 40);
  @include prop(min-height, 550);

  .hero-text {
    margin-top: 10rem;

    .beta {
      span {
        @include fontSize(15);
        vertical-align: top;
      }
    }

    h1, h2 {
      color: white;
      @include prop(padding, 10, 30);
      background-color: rgba(0,0,0,0.7);

      @media only screen and (min-width: $mediumScreen + px) {
        width: 70%;
        margin-left: 15%;      
      }
    }

    iframe {
      left: 50%;
      margin-left: -500px;
    }

    .video-action {
      @include prop(padding, 10, 30);
      color: $black;
      background-color: $white;
      position: relative;
      
      img {
        position: absolute;
        @include prop(top, 10);
        @include prop(left, 20);
        @include prop(width, 30);

        @media only screen and (min-width: $largeScreen + px) {
          @include prop(width, 50);
          @include prop(top, 5);
        }
      }
    }

    .video-action-on-hover {
      display: none;
      cursor: pointer;
      color: $black;
      background-color: $white;
    }
  }
}

#toronto-background-img {
  // background: asset_url('hero-toronto.jpg');
  background-size: cover;
  background-color: white;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position-y: 25%;
  background-position-x: 50%;
}

#boston-background-img {
  // background-image: asset_url('hero-boston.jpg');
  background-size: cover;
  background-color: white;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position-y: 60%;
  background-position-x: 50%;
}

.video-action-on-click {
  margin-top: 1.5rem;
  display: none;
}

#city-support {
  @include prop(padding, 40, 0);
  background-color: lighten($greyDark, 10);

  .city-email-signup {
    @include prop(margin-top, 50);

    @media only screen and (min-width: $mediumScreen + px) {
      @include prop(margin-top, 0);
    }
  }

  .punch {
    color: $white;
    @include prop(margin, 10, 0);
    font-family: "OpenSans-Regular";

    &.email {
      font-family: "OpenSans-Light";

      &:after {
        content: "";
        display: block;
        position: absolute;
        @include prop(height, 1);
        @include pre(width, 50%);
        @include prop(bottom, 0);
        @include pre(left, 25%);
        background-color: $green;
      }   
    }
  }

  ul {
    position: relative;
    @include pre(width, 100%);
    @include prop(margin-top, 10);
    @include prop(margin-bottom, 20);

    @media only screen and (min-width: $smallScreen + px) {
      @include prop(margin-bottom, 0);
    }

    img {
      @include prop(min-width, 25);
      @include prop(width, 30);
      height: auto;
    }
  }

  h2 {
    font-size: 25px;
    color: white;
  }
}

#city_mc_embed_signup {

  form {
    @include prop(padding-top, 0);
  }

  #city_mc_embed_signup_scroll {
    text-align: center;

    label {
      font-family: "OpenSans-Regular";
      color: $white;
      @include fontSize(20);
      @include prop(margin-top, 0);
    }

    .email-field {
      @include pre(width, 100%);
      @include prop(margin-top, 20);

      input[type="email"] {
        @extend input[type="email"];
        width: 100%;
      }
    }

    .clear {
      @include prop(margin-top, 20);

      input[type="submit"] {
        @extend .button;
        width: 50%;
        @include prop(padding, 10, 20);
        cursor: pointer;
      }
    }
  }
}

