#cities-hero {
  @include prop(margin, 65, 0, 0);
  @include prop(padding, 50, 0);
  background-image: asset_url("map.jpg");
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-size: cover;
  background-position-x: 50%;

  @media only screen and (min-width: $mediumScreen + px) {
    @include prop(min-height, 340);
    @include prop(padding, 100, 0);
  }

  .gamma {
    color: $white;
    @include fontSize(24);

    @media only screen and (min-width: $mediumScreen + px) {
      @include fontSize(28);      
    }
  }

  .punch {
    @include prop(margin, 10, 0, 0);
    color: $white;
    font-family: "OpenSans-Light";
    @include pre(width, 100%);
    position: relative;
    @include fontSize(16);

    @media only screen and (min-width: $mediumScreen + px) {
      @include pre(width, 80%);
      @include pre(left, 10%);
      @include fontSize(20);
    }

    @media only screen and (min-width: $largeScreen + px) {
      @include pre(width, 60%);
      @include pre(left, 20%);
    }
  }
}

.admin-main-dashboard,
.cities-grid {

  .admin-city-panel {
    position: relative;
    @include prop(min-height, 250);
    @include pre(width, 100%);
    background-size: cover;
    background-color: white;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: 50%;
    z-index: 1;
    float: left;
    @include prop(padding, 0);
    @include prop(margin, 10, 0);

    @media only screen and (min-width: $smallScreen + px) {
      @include pre(width, 45%);
      @include prop(margin, 10);
    }

    @media only screen and (min-width: $mediumScreen + px) {
      @include pre(width, 30%);
    }

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(max-width, 265);
      @include pre(width, 22%);
    }

    &#city-boston {
      background-position-x: 70%;
    }

    &:before {
      content: "";
      position: absolute;
      @include pre(width, 100%);
      @include pre(height, 100%);
      @include pre(left, 0);
      background: rgba(0, 0, 0, 0.2);
      @include pre(transition, background 0.3s ease-out);
      z-index: 2;
    }

    &:hover {
      &:before {
        background: rgba(0, 0, 0, 0);
      }

      .tag {
        &.registration-closed {
          opacity: 1;
          @include prop(bottom, 0);
        }
      }
    }

    .v-wrapper {
      @include prop(min-height, 250);
      position: relative;
      z-index: 3;
      overflow: hidden;

      .delta {
        text-align: center;
        color: $white;
        letter-spacing: 5px;
      }

      p {
        a {
          color: $white;
          @include pre(transition, color 0.3s ease-out);

          &:hover {
            color: darken($white, 20);
          }
        }
      }
    }

    .tag {
      @include fontSize(10);
      letter-spacing: 2px;
      font-family: "OpenSans-Bold";
      color: $white;
      background-color: $greenBackground;
      @include prop(padding, 5, 10);
      text-transform: uppercase;
      position: absolute;
      @include prop(left, 0);
      @include prop(right, 0);

      &.registration-closed {
        opacity: 0;
        @include prop(bottom, -24);
        transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
      }

      &.registration-open {
        @include prop(bottom, 0);
        z-index: 2;
      }
    }
  }
}

.cities-grid {
  @include prop(padding, 20, 0);
}

#edit-city-form {
  @include prop(padding, 20, 0, 50);
}

#city_mc_embed_signup {

  form {
    @include prop(padding-top, 0);
  }

  #city_mc_embed_signup_scroll {
    text-align: center;

    label {
      font-family: "OpenSans-Regular";
      color: $white;
      @include fontSize(20);
      @include prop(margin-top, 0);
    }

    .email-field {
      @include pre(width, 100%);
      @include prop(margin-top, 20);

      input[type="email"] {
        @extend input[type="email"];
        width: 100%;
      }
    }

    .clear {
      @include prop(margin-top, 20);

      input[type="submit"] {
        @extend .button;
        width: 50%;
        @include prop(padding, 10, 20);
        cursor: pointer;
      }
    }
  }
}

