#hackathon-timeline {
  @include prop(padding, 70, 0, 50);
  
  .row {
    &.main {
      @include prop(margin, 0);
      @include prop(padding, 0, 20);
      max-width: none;
    }
  }

  .left-panel {
    z-index: 1;
    display: none;

    @media only screen and (min-width: $smallScreen + px) {
      display: block;
      @include pre(height, 100vh);
      background: $offWhite;
    }

    @media only screen and (min-width: 1200px) {
      @include prop(padding, 0, 60);
    }

    ul {
      @include prop(padding-bottom, 10);
    }

    .mobile {
      display: block;
      @include prop(padding-bottom, 30);

      @media only screen and (min-width: $largeScreen + px) {
        display: none;
      }
    }

    .tablet-desktop {
      display: none;
      @include prop(padding-bottom, 30);

      @media only screen and (min-width: $largeScreen + px) {
        display: block;
      }
    }

    .button {
      @include fontSize(13);
      letter-spacing: 1px;
    }

    .mentors-cta {
      background: $greenBackground;
      position: absolute;
      @include pre(left, 0);
      @include pre(width, 100%);
      @include prop(padding, 10, 10, 20);

      #img-mentor {
        display: inline-block;
        position: absolute;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: cover;
        @include prop(height, 70);
        @include prop(width, 70);
      }

      .punch {
        position: relative;
        @include prop(padding-left, 90);
        color: $white;
        font-family: "OpenSans-Regular";
        @include fontSize(15);
        line-height: 1.5;
        @include prop(margin, 0);
        @include prop(padding-bottom, 30);
      }

      .button {
        display: block;
        position: relative;
        text-align: center;
        @include prop(bottom, -10);
      }
    }
  }

  li {
    @include prop(margin, 20, 0);
    @include pre(transition, all 0.3s ease);

    &:hover {
      .punch {
        color: $greenBackground;
      }

      span {
        background: $greenLight;

        &:before {
          background: $greenLight;
        }
      }
    }

    a {
      &.active {
        .punch {
          color: $greenBackground;
        }

        span {
          background: $greenLight;

          &:before {
            background: $greenLight;
          }
        }
      }
    }

    &:first-child {
      @include prop(margin, 20, 0);
    }

    &:last-child {
      @media only screen and (max-width: 943px) {
        #dot-five {
          @include prop(top, 20);

          &:before {
            @include prop(height, 50);
            @include prop(left, 12);
            @include prop(bottom, 27);
          }
        }

        .punch {
          @include prop(margin, -5, 0, 0, 45);
          line-height: 1.5;
        }
      }
    }

    .punch {
      color: $greyDark;
      font-family: "OpenSans-Regular";
      @include prop(margin, 0, 0, 0, 15);
      line-height: 5;
      @include pre(transition, all 0.3s ease);
      text-transform: uppercase; 
      letter-spacing: 2px;
      @include fontSize(12);
      display: inline-block;
    }

    span {
      display: inline-block;
      position: relative;
      content: "";
      @include prop(width, 24);
      @include prop(height, 24);
      background: $white;
      @include pre(border-radius, 50%);
      @include prop(margin-top, 0);
      @include pre(transition, all 0.3s ease);
      @include prop(left, 2);
      @include prop(top, 9);

      &:before {
        content: "";
        display: block;
        position: absolute;
        @include prop(width, 1);
        @include prop(height, 50);
        @include prop(left, 12);
        @include prop(bottom, 27);
        background: lighten($greyLight, 50);
        @include pre(transition, all 0.3s ease);
        z-index: 2;
      }

      &:after {
        display: block;
        position: relative;
        content: "";
        @include prop(width, 30);
        @include prop(height, 30);
        background: $white;
        @include border(1, solid, $greenBackground);
        @include pre(border-radius, 50%);
        @include pre(transition, all 0.3s ease);
        z-index: -1;
        @include prop(top, -3);
        @include prop(left, -3);
      }

      &#dot-one {
        &:before {
          display: none;
        }
      }
    }
  }
  
  .right-panel {
    @media only screen and (max-width: 320px) {
      @include pre(width, 100%);
      @include prop(padding, 0);
      float: left;
    }
  }

  .timeline-panel {
    @include prop(margin, 20, 0);
    @include prop(padding, 20, 0, 0);
    @include border(1, solid, $greyDark, bottom);

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(padding, 20, 0, 40);
    }

    &:last-child {
      @include border(0, solid, $greyDark, bottom);      
    }

    .timeline-panel-img {
      display: block;
      height: 200px;
      width: 200px;
      margin: 0 auto;

      &#img-mini-events {
        background: asset_url('mini-events.jpg') 0 100% no-repeat;
        background-size: 160%;
      }

      &#img-orientation {
        background: asset_url('orientation.jpg') 30% 100%;
        background-size: 160%;
      }

      &#img-hackathon {
        background: asset_url('hackathon.jpg') 0% 100%;
        background-size: 120%;
      }

      &#img-hackathon-day-one {
        background: asset_url('hackathon-day-one.jpg') 60% 100%;
        background-size: 160%;
      }

      &#img-hackathon-day-two {
        background: asset_url('hackathon-day-two.jpg') 0% 100%;
        background-size: 120%;
      }

      &#img-hackathon-day-three {
        background: asset_url('hackathon-day-three.jpg') 30% 100%;
        background-size: 160%;
      }

      &#img-global-finals {
        background: asset_url('global-finals.jpg') 35% 100%;
        background-size: 160%;
      }

      &#img-partnerships-and-funding {
        background: asset_url('partnerships-funding.jpg') 35% 100%;
        background-size: 120%;
      }

      @media only screen and (min-width: $smallScreen + px) {
        height: 300px;
        width: 300px;
      }

      @media only screen and (min-width: $largeScreen + px) {
        float: left;
        display: inline;
        width: 300px;
        height: 300px;
      }
    }

    // .hackathon-panel-img {
    //   @extend .timeline-panel-img;
    // }

    .hackathon-day-one, .hackathon-day-two, .hackathon-day-three {
      @include prop(margin-top, 40);
      // @include prop(margin-top, 0);
    }

    .timeline-panel-text {
      @include prop(margin, 20, 0, 0);

      @media only screen and (min-width: $largeScreen + px) {
        @include prop(margin, 0, 0, 0, 330);
      }
    }

    .gamma, .delta {
      text-transform: uppercase;
      color: $greyLight;
      @include prop(margin-bottom, 10);
    }

    .delta,
    .icon-calendar {
      @include fontSize(14);
      font-family: "OpenSans-Bold";
      letter-spacing: 2px;

      &:before {
        color: $green;
        @include prop(margin-right, 10);
        @include fontSize(18);
      }
    }

    .punch {
      @include fontSize(18);
      font-family: "OpenSans-Light";
      @include prop(margin-top, 0);
    }
  }
}


#program-judging-criteria {
  @include prop(padding, 20, 0, 0);

  .single-question {
    background: $white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-left: 1px solid $greenLight;
    @include prop(padding, 20);

    .alpha {
      color: $greyLight;
      font-family: "OpenSans-Regular";
      @include fontSize(20);

      &:before {
        @include prop(padding-right, 20);
        color: $green;
      }
    }
  }

  .criteria-tile {
    @include prop(padding, 20, 10);

    @media only screen and (min-width: $mediumScreen + px) {
      @include prop(padding, 20, 40);      
    }
  }

  .green-bullet {
    position: relative;
    @include prop(padding, 0, 0, 0, 15);
    @include prop(margin, 10, 0);
    font-family: "OpenSans-Light";
    color: $greyDark;
    @include fontSize(16);

    &:first-child {
      @include prop(margin, 10, 0);
    }

    &:before {
      content: "";
      position: absolute;
      @include prop(top, 8);
      @include prop(left, 0);
      @include prop(width, 6);
      @include prop(height, 6);
      background-color: $green;
      @extend .circle;
    }
  }
}

.program-nav {
  display: block;
  position: fixed;
  @include pre(top, 85%);
  @include prop(right, -20);
  @include prop(width, 100);
  z-index: 998;

  @media only screen and (min-width: $smallScreen + px) {
    display: none;
  }

  .button {
    background-color: $greenLight;
    border-color: $greenLight;
    @include prop(padding, 15, 10);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.33);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.33);
    -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.33);
    @include pre(transition, background-color 0.3s ease-out);

    &:before {
      position: relative;
      color: $white;
      @include fontSize(35);
      @include prop(top, 10);
    }
  }

  ul {
    position: absolute;
    display: none;
    @include prop(bottom, 50);
    @include prop(right, 40);
    background-color: $greyDark;
    @include pre(transition, opacity 0.3s ease-out);
    @include prop(padding, 20);
    text-align: center;

    li {

      a {
        &.active {
          p {
            color: $greenLight;
          }
        }
      }

      p {
        @include prop(margin, 10);
        @include fontSize(16);
        color: $white;

        &:hover {
          color: $greenLight;
        }
      }
    }
  }

  &.active {
    @include pre(top, 87%);

    .button {
      @include prop(padding, 15, 20);

      &:before {
        content: "\e610";
        @include fontSize(15);
        @include pre(top, 0);
      }
    }

    ul {
      display: block;
    }
  }
}