#hackathon-hero {
  @include prop(margin-top, 60);
  @include prop(min-height, 300);

  background-image: asset_url("hero-hackathon.png");
  background-size: cover;
  background-color: white;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  // background-position-y: 50%;
  background-position-x: 50%;
}

#hackathon-timeline {
  @include prop(padding, 40, 0);
  
  .row {
    &.main {
      @include prop(margin, 0);
      @include prop(padding, 0, 20);
      max-width: none;
    }
  }

  li {
    @include prop(margin, 20, 0);
    @include pre(transition, all 0.3s ease);

    &:hover {
      .punch {
        color: $green;
      }

      span {
        background: $greenLight;

        &:before {
          background: $greenLight;
        }
      }
    }

    &.active {
      .punch {
        color: $green;
      }

      span {
        background: $greenLight;

        &:before {
          background: $greenLight;
        }
      }
    }

    &:first-child {
      .punch {
        color: $green;
      }

      span {
        background: $greenLight;

        &:before {
          background: $greenLight;
        }
      }
    }

    .punch {
      color: $greyDark;
      font-family: "OpenSans-Bold";
      @include prop(margin, 10, 0, 0, 60);
      line-height: 5;
      @include pre(transition, all 0.3s ease);
      text-transform: uppercase; 
      letter-spacing: 2px;
    }

    span {
      display: block;
      position: absolute;
      content: "";
      @include prop(width, 50);
      @include prop(height, 50);
      background: lighten($greyLight, 50);
      @include pre(border-radius, 50%);
      @include prop(margin-top, 25);
      @include pre(transition, all 0.3s ease);

      &:before {
        content: "";
        display: block;
        position: absolute;
        @include prop(width, 1);
        @include prop(height, 120);
        @include prop(bottom, 0);
        @include prop(left, 25);
        background: lighten($greyLight, 50);
        @include pre(transition, all 0.3s ease);
      }

      &#dot-one {
        &:before {
          display: none;
        }
      }
    }
  }

  .timeline-panel {
    @include prop(margin, 20, 0);
    @include prop(padding, 20, 0, 40);
    @include border(1, solid, $greyDark, bottom);

    &:nth-child(6) {
      @include border(0, solid, $greyDark, bottom);      
    }

    .timeline-panel-img {
      float: left;
      display: inline;
      width: 350px;
      height: 300px;
      background: lighten($greyLight, 50);
    }

    .hackathon-panel-img {
      height: 200px;
      @extend .timeline-panel-img;
    }

    .hackathon-day-one, .hackathon-day-two, .hackathon-day-three {
      @include prop(margin-top, 40);
    }

    .timeline-panel-text {
      @include prop(margin, 0, 0, 0, 400);
    }

    .gamma, .delta {
      text-transform: uppercase;
      color: $greyLight;
      @include prop(margin-bottom, 10);
    }

    .delta {
      @include fontSize(18);
      font-family: "OpenSans-Light";
    }

    .punch {
      @include fontSize(18);
      font-family: "OpenSans-Regular";
      @include prop(margin-top, 0);
    }
  }

}