// #hackathon-hero {
//   @include prop(margin-top, 60);
//   @include prop(min-height, 300);

//   background-image: asset_url("hero-hackathon.png");
//   background-size: cover;
//   background-color: white;
//   background-repeat-x: no-repeat;
//   background-repeat-y: no-repeat;
//   // background-position-y: 50%;
//   background-position-x: 50%;
// }

#hackathon-timeline {
  @include prop(padding, 100, 0, 50);
  
  .row {
    &.main {
      @include prop(margin, 0);
      @include prop(padding, 0, 20);
      max-width: none;
    }
  }

  .left-panel {
    display: none;

    @media only screen and (min-width: $smallScreen + px) {
      display: block;
    }
  }

  li {
    @include prop(margin, 0);
    @include pre(transition, all 0.3s ease);

    @media only screen and (min-width: 900px) {
      @include prop(margin, 20, 0);
    }

    &:hover {
      .punch {
        color: $greenBackground;
      }

      span {
        background: $greenLight;

        &:before {
          background: $greenLight;
        }
      }
    }

    a {
      &.active {
        .punch {
          color: $greenBackground;
        }

        span {
          background: $greenLight;

          &:before {
            background: $greenLight;
          }
        }
      }
    }

    &:first-child {
      @include prop(margin, 30, 0, 0);

      @media only screen and (min-width: 900px) {
        @include prop(margin, 20, 0);
      }
    }

    .punch {
      color: $greyDark;
      font-family: "OpenSans-Bold";
      @include prop(margin, 0, 0, 0, 25);
      line-height: 3;
      @include pre(transition, all 0.3s ease);
      text-transform: uppercase; 
      letter-spacing: 2px;
      @include fontSize(12);

      @media only screen and (min-width: 900px) {
        @include prop(margin, 10, 0, 0, 40);
        line-height: 3;
        @include fontSize(20);
      }
    }

    &:last-child {
      .punch {
        line-height: 1.5;
      }
    }

    span {
      display: block;
      position: absolute;
      content: "";
      @include prop(width, 20);
      @include prop(height, 20);
      background: lighten($greyLight, 50);
      @include pre(border-radius, 50%);
      @include prop(margin-top, 7);
      @include pre(transition, all 0.3s ease);

      @media only screen and (min-width: 900px) {
        @include prop(width, 30);
        @include prop(height, 30);
        @include prop(margin-top, 13);
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        @include prop(width, 1);
        @include prop(height, 37);
        @include prop(bottom, 0);
        @include prop(left, 9);
        background: lighten($greyLight, 50);
        @include pre(transition, all 0.3s ease);

        @media only screen and (min-width: 900px) {
          @include prop(height, 50);
          @include prop(left, 15);
          @include prop(bottom, 30);
        }
      }

      &#dot-one {
        &:before {
          display: none;
        }
      }
    }
  }
  
  .right-panel {
    @media only screen and (max-width: 320px) {
      @include pre(width, 100%);
      @include prop(padding, 0);
      float: left;
    }
  }

  .timeline-panel {
    @include prop(margin, 20, 0);
    // @include prop(margin, 0);
    @include prop(padding, 20, 0, 0);
    @include border(1, solid, $greyDark, bottom);

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(padding, 20, 0, 40);
      // @include prop(padding, 20, 0);
    }

    &:last-child {
      @include border(0, solid, $greyDark, bottom);      
    }

    .timeline-panel-img {
      display: block;
      height: 200px;
      width: 200px;
      margin: 0 auto;

      &#img-mini-events {
        background: asset_url('mini-events.jpg') 0 100% no-repeat;
        background-size: 160%;
      }

      &#img-orientation {
        background: asset_url('orientation.jpg') 30% 100%;
        background-size: 160%;
      }

      &#img-hackathon {
        background: asset_url('hackathon.jpg') 0% 100%;
        background-size: 120%;
      }

      &#img-hackathon-day-one {
        background: asset_url('hackathon-day-one.jpg') 60% 100%;
        background-size: 160%;
      }

      &#img-hackathon-day-two {
        background: asset_url('hackathon-day-two.jpg') 0% 100%;
        background-size: 120%;
      }

      &#img-hackathon-day-three {
        background: asset_url('hackathon-day-three.jpg') 30% 100%;
        background-size: 160%;
      }

      &#img-global-finals {
        background: asset_url('global-finals.jpg') 35% 100%;
        background-size: 160%;
      }

      &#img-partnerships-and-funding {
        background: asset_url('partnerships-funding.jpg') 35% 100%;
        background-size: 120%;
      }

      @media only screen and (min-width: $smallScreen + px) {
        height: 300px;
        width: 300px;
      }

      @media only screen and (min-width: $largeScreen + px) {
        float: left;
        display: inline;
        width: 300px;
        height: 300px;
      }
    }

    // .hackathon-panel-img {
    //   @extend .timeline-panel-img;
    // }

    .hackathon-day-one, .hackathon-day-two, .hackathon-day-three {
      @include prop(margin-top, 40);
      // @include prop(margin-top, 0);
    }

    .timeline-panel-text {
      @include prop(margin, 20, 0, 0);

      @media only screen and (min-width: $largeScreen + px) {
        @include prop(margin, 0, 0, 0, 330);
      }
    }

    .gamma, .delta {
      text-transform: uppercase;
      color: $greyLight;
      @include prop(margin-bottom, 10);
    }

    .delta,
    .icon-calendar {
      @include fontSize(14);
      font-family: "OpenSans-Bold";
      letter-spacing: 2px;

      &:before {
        color: $green;
        @include prop(margin-right, 10);
        @include fontSize(18);
      }
    }

    .punch {
      @include fontSize(18);
      font-family: "OpenSans-Light";
      @include prop(margin-top, 0);
    }
  }

}