#homepage-hero {
  @include prop(padding, 90, 0, 40);
  @include prop(min-height, 600);

  background-size: cover;
  background-color: white;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position-y: 30%;
  background-position-x: 50%;
  background-image: linear-gradient(top, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.6)), asset_url("hero-homepage.jpg");
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.6)), asset_url("hero-homepage.jpg");
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.6)), asset_url("hero-homepage.jpg");
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.6)), asset_url("hero-homepage.jpg");
  background-image: -webkit-gradient(linear, bottom, top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 1))), asset_url("hero-homepage.jpg");
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.6)), asset_url("hero-homepage.jpg");

  @media only screen and (min-width: $smallScreen + px) {
    background-image: linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0)), asset_url("hero-homepage.jpg");
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0)), asset_url("hero-homepage.jpg");
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0)), asset_url("hero-homepage.jpg");
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0)), asset_url("hero-homepage.jpg");
    background-image: -webkit-gradient(linear, bottom, top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1))), asset_url("hero-homepage.jpg");
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0)), asset_url("hero-homepage.jpg");
  }

  .v-wrapper {
    position: relative;
    @include prop(top, 50);
    @include prop(padding, 0, 25);
  }

  .hero-text {
    width: 100%;
    @include prop(margin, 0);
    text-align: center;

    h2 {
      color: $greyDark;
      text-transform: uppercase;

      @media only screen and (min-width: $mediumScreen + px) {
        @include fontSize(37);
      }
    }

    p {
      color: $greyDark;
      @include prop(line-height, 31);
      @include fontSize(17);

      @media only screen and (min-width: $mediumScreen + px) {
        @include pre(width, 90%);
        @include pre(margin-left, 5%);
      }
    }
  }
}

#homepage-mission {
  @include prop(padding, 110, 0);
  background-image: asset_url("map.jpg");
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-size: cover;

  .gamma {
    @include prop(margin-bottom, 30);
    color: $white;
    @include fontSize(23);
  }

  a {
    color: $white;
    text-decoration: underline;
    @include pre(transition, all 0.3s ease);
    @include fontSize(18);
    
    &:hover {
      color: $greenDark;
      text-decoration: none;
    }
  }
}

#homepage-impact {
  @include prop(padding, 50, 0, 20);

  .panel {
    @include prop(margin-bottom, 0);

    @media only screen and (min-width: $smallScreen + px) {
      @include prop(margin-bottom, 40);
    }
  }

  .gamma {
    @include prop(margin-bottom, 30);
    color: $greyLight;
  }

  .large-block-grid-3 {
    @include prop(margin, 0);
    @include prop(padding, 0, 0);
  }

  .education, .networks, .financing {
    position: relative;
    @include prop(padding-top, 200);
    @include prop(padding-bottom, 50);

    @media only screen and (min-width: $mediumScreen + px)  {
      @include prop(padding-bottom, 0);
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 200px;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .education {
    &:before {
      background: asset_url("icon-education.png") 50% 50% no-repeat no-repeat;
    }
  }

  .networks {
    &:before {
      background: asset_url("icon-networks.png") 50% 50% no-repeat no-repeat;
    }
  }

  .financing {
    &:before {
      background: asset_url("icon-financing.png") 50% 50% no-repeat no-repeat;
    }
  }

  .punch {
    font-family: "OpenSans-Bold";
    @include fontSize(16);
    @include prop(margin-bottom, 10);
    color: $greyLight;

    &.text-center {
      font-family: "OpenSans-Regular";
      @include fontSize(15);
      @include pre(line-height, 1.8);
      @include prop(margin-top, 10);
    }
  }
}

#homepage-sponsor-cta {
  @include prop(padding, 0, 0, 60);

  .text {
    text-align: center;
    @include prop(margin-bottom, 20);

    @media only screen and (min-width: $mediumScreen + px) {
      text-align: right;
      @include prop(margin-bottom, 0);
    }
  }

  .cta {
    text-align: center;

    @media only screen and (min-width: $mediumScreen + px) {
      text-align: left;
    }

    a {
      position: relative;
      @include prop(top, 7);
    }
  }
}

#homepage-streams {
  background: $offWhite;
  @include prop(padding, 40, 0);
  position: relative;

  .gamma {
    @include prop(margin-bottom, 30);
    @include fontSize(28);
  }

  .panel {
    @include prop(padding, 80, 20, 0);
    position: relative;
    text-transform: uppercase;
    font-family: "OpenSans-Light";
    color: $greyDark;
    @include fontSize(12);
    letter-spacing: 2px;
    @include prop(margin-bottom, 40);

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(margin-bottom, 0);
    }

    &:before {
      position: absolute;
      @include prop(left, 0);
      @include prop(right, 0);
      @include fontSize(70);
      // color: darken(#1964BB, 10);
      color: $green;
      @include prop(top, 0);
    }
  }

  ul {
    width: 100%;
  }

  .large-block-grid-6 {
    @include prop(padding, 0, 25);
    @include prop(margin, 0);
  }

  .text {
    text-align: center;
    @include prop(margin-bottom, 20);

    @media only screen and (min-width: $mediumScreen + px) {
      text-align: right;
      @include prop(margin-bottom, 0);
    }
  }

  .cta {
    text-align: center;

    @media only screen and (min-width: $mediumScreen + px) {
      text-align: left;
    }

    a {
      position: relative;
      @include prop(top, 7);
    }
  }

  .cta-row {
    @include prop(margin-top, 50);
  }

  img {
    @include border(1, solid, $bodyColor);
  }
}

#homepage-news {
  @include prop(padding, 40, 0);

  ul {
    float: none;
    @include prop(margin, 20, 0);

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(margin, 0);
    }
  }

  .gamma {
    font-family: "OpenSans-Light";
    @include fontSize(28);
    color: $greyLight;
    @include prop(margin, 0, 0, 20, 0);

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(margin, 0);
    }
  }

  li {
    position: relative;
    @include pre(width, 100%);
    @include prop(height, 70);
    @include prop(margin-bottom, 20);
    @include pre(filter, grayscale(100%));
    @include pre(transition, all 0.3s ease);
    float: none;

    @media only screen and (min-width: $smallScreen + px) {
      @include pre(width, 32%);
      @include prop(height, 70);
      @include prop(margin-bottom, 0);
      float: left;
    }

    &:hover {
      @include pre(filter, grayscale(0));
    }

    &#pakathon-news-one {
      background: asset_url('metro-news-logo.png') 50% 0 no-repeat no-repeat;
    }

    &#pakathon-news-two {
      background: asset_url('tribune-news-logo.png') 50% 0 no-repeat no-repeat;
    }

    &#pakathon-news-three {
      background: asset_url('asiasociety-news-logo.png') 50% 0 no-repeat no-repeat;
    }

    a {
      position: absolute;
      @include pre(height, 100%);
      @include pre(width, 100%);
      @include prop(left, 0);
    }
  }
}

#homepage-analytics {
  @include prop(padding, 0, 0, 40);

  .row {
    margin: 0;
    max-width: none;
  }

  .columns {
    padding: 0;
    overflow: hidden;
  }

  @media only screen and (min-width: $mediumScreen + px) {
    .column-left, .column-center, .column-right {
      height: 500px;
    }
  }

  .img-one, .img-two, .img-three {
    height: 100%;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
  }

  .img-one {
    background-image: asset_url("global-hackathon.png");
    min-height: 250px;
  }

  .img-two {
    background-image: asset_url("toronto-baithak.png");
    min-height: 250px;
  }

  .img-three {
    background-image: asset_url("saim.jpg");
    height: 500px;
    position: relative;

    .img-text {
      position: absolute;
      top: 0;
      @include prop(margin, 30, 30, 0);

      .tag {
        @include fontSize(10);
        letter-spacing: 2px;
        font-family: "OpenSans-Bold";
        color: $white;
        background-color: $greenBackground;
        @include prop(padding, 5, 10);
        text-transform: uppercase;
        @include prop(margin-bottom, 5);
      }

      .gamma {
        color: $white;
        @include prop(margin, 10, 20, 0, 0);
        @include fontSize(30);
        font-family: "OpenSans-Light";
      }

      .punch {
        color: $white;
        font-family: "OpenSans-Light";
        @include prop(margin, 20, 70, 40, 0);
        @include fontSize(17);
        line-height: 1.8;
      }

      .button {
        background: $white;
        @include border(1, solid, $white);
        @include fontSize(15);
        letter-spacing: 1px;
        font-family: "OpenSans-Bold";

        &:hover {
          background: $greenLight;
          @include border(1, solid, $greenLight);
          color: $white;
        }
      }

      @media only screen and (min-width: $mediumScreen + px) {
        .gamma {
          @include fontSize(30);
        }

        .punch {
          @include prop(margin, 20, 20, 40, 0);
        }
      }

      @media only screen and (min-width: $largeScreen + px) {
        .gamma {
          @include fontSize(37);
        }

        .punch {
          @include prop(margin, 20, 50, 40, 0);
        }
      }
    }

    &:before {
      content: "";
      display: block;
      min-height: 500px;
      width: 100%;
      background-color: $blackBackground;
      opacity: 0.8;
    }
  }

  .testimonial-row {
    background: $greyDark;
  }

  .testimonial {
    @include prop(padding, 20, 10);
    text-align: center;

    @media only screen and (min-width: $smallScreen + px) {
      text-align: left;
      @include prop(padding, 20);
    }

    .gamma {
      @include fontSize(20);
      font-family: "OpenSans-LightItalic";
      color: $white;

      @media only screen and (min-width: 768px) and (max-width: 920px) {
        @include fontSize(18);
      }
    }

    .punch {
      @include fontSize(12);
      text-transform: uppercase;
      font-family: "OpenSans-Regular";
      letter-spacing: 2px;
      @include prop(margin-bottom, 0);
      color: $white;
      @include prop(margin, 20, 0, 30);

      @media only screen and (min-width: $smallScreen + px) {
        @include prop(margin, 10, 0, 20);
      }

      @media only screen and (min-width: 768px) and (max-width: 1093px) {
        @include prop(margin, 10, 0, 15);
        @include fontSize(10);
      }
    }

    #testimonial-cta {
      .button {
        @include prop(padding, 5, 10);
        @include fontSize(12);

        @media only screen and (min-width: 768px) and (max-width: 1093px) {
          @include fontSize(10);
        } 
      }
    }
  }

  ul {
    background: $greenBackground;
    @include pre(height, 100%);
  }

  [class*="block-grid-"] {
    @include prop(margin, 0);
  }

  li {
    padding: 0;
    position: relative;

    .gamma {
      @include prop(margin, 20, 0, 0);
      color: $white;
      font-family: "OpenSans-Bold";
      @include fontSize(30);
      letter-spacing: 2px;

      @media only screen and (min-width: 1000px) {
        @include prop(margin, 20, 0, 11); 
      }
    }

    .punch {
      @include prop(margin, 5, 0, 30);
      color: $white;
      font-family: "OpenSans-Regular";
      text-transform: uppercase;
      @include fontSize(12);
      letter-spacing: 2px;
      line-height: 1.5;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      @include prop(height, 1);
      @include pre(width, 50%);
      @include prop(bottom, 0);
      @include pre(left, 25%);
      background-color: $green;
    }

    &:nth-child(4) {
      &:after {
        display: none;
      }
    }

    @media only screen and (max-width: $mediumScreen + px) {
      &:nth-child(3) {
        &:after {
          display: none;
        }
      }
    }
  }
}

#homepage-social {
  @include prop(padding, 40, 0);
  background-color: lighten($greyDark, 10);

  @media only screen and (min-width: $mediumScreen + px) {
    @include prop(padding, 40, 0, 60);  
  }
  

  .gamma {
    font-family: "OpenSans-Light";
    color: $white;
    @include fontSize(22);
  }

  .punch {
    font-family: "OpenSans-Light";
    color: $white;
    @include fontSize(15);
    @include prop(margin-bottom, 20);
    @include prop(margin-top, 20);
  }

  .social-text {
    .social-icons-columns {
      @media only screen and (max-width: 320px) {
        @include pre(width, 100%);
      }
    }
  
    .social-icons {
      position: relative;
      @include prop(width, 30);
      @include prop(height, 30);
      display: inline-block;
      @include prop(margin, 0, 30);

      &#social-icons-facebook {
        background: asset_url('logo-facebook.png') no-repeat no-repeat;
        background-size: contain;
      }

      &#social-icons-twitter {
        background: asset_url('logo-twitter.png') no-repeat no-repeat;
        background-size: contain;
      }

      &#social-icons-instagram {
        background: asset_url('logo-instagram.png') no-repeat no-repeat;
        background-size: contain;
      }

      a {
        position: absolute;
        @include pre(height, 100%);
        @include pre(width, 100%);
        @include prop(left, 0);
      }

      @media only screen and (max-width: 320px) { 
        @include prop(margin, 0, 20);
      }
    }
  }

  .tweet {
    position: relative;
    @include prop(top, 50);
    @include border(1, solid, $bodyColor);
    background: $white;

    .punch {
      @include prop(margin, 30, 20);
      color: $greyLight;
    }
  }
}