#homepage-hero {
  @include prop(padding, 90, 0, 40);
  @include prop(min-height, 600);

  background-size: cover;
  background-color: white;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  background-image: linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("careers-slide-1.jpg");
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("careers-slide-1.jpg");
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("careers-slide-1.jpg");
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("careers-slide-1.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), asset_url("careers-slide-1.jpg");
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("careers-slide-1.jpg");

  @media only screen and (min-width: $smallScreen + px) {
    background-image: linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("careers-slide-1.jpg");
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("careers-slide-1.jpg");
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("careers-slide-1.jpg");
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("careers-slide-1.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), asset_url("careers-slide-1.jpg");
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("careers-slide-1.jpg");
  }

  .v-wrapper {
    position: relative;
    @include prop(top, 50);
  }

  .hero-text {
    width: 100%;
    @include prop(margin, 0);
    text-align: center;

    @media only screen and (min-width: $smallScreen + px) {
      width: 50%;
      text-align: left;
    }
  }
}

#homepage-mission {
  @include prop(padding, 90, 0);

  .gamma {
    font-weight: 300;
    @include prop(margin-bottom, 30);
  }
}

#homepage-impact {
  background-color: lighten($bodyColor, 50);
  @include prop(padding, 90, 0, 40);

  .panel {
    @include prop(margin-bottom, 40);

    @media only screen and (min-width: $smallScreen + px) {
      @include prop(margin-bottom, 0);
    }
  }

  .gamma {
    @include prop(margin-bottom, 30);
  }

  .large-block-grid-3 {
    @include prop(padding, 0, 25);
  }

  .punch {
    font-size: 16px;
    @include prop(margin-bottom, 10);

    &.text-left {
      font-size: 20px;
    }
  }
}

#homepage-sponsor-cta {
  @include prop(padding, 60, 0);

  .text {
    text-align: center;
    @include prop(margin-bottom, 20);

    @media only screen and (min-width: $smallScreen + px) {
      text-align: right;
      @include prop(margin-bottom, 0);
    }
  }

  .cta {
    text-align: center;

    @media only screen and (min-width: $smallScreen + px) {
      text-align: left;
    }

    a {
      position: relative;
      @include prop(top, 7);
    }
  }
}

#homepage-streams {
  @include prop(padding, 40, 0);
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    @include prop(height, 1);
    @include pre(width, 90%);
    @include prop(top, 0);
    @include pre(left, 5%);
    background-color: $black;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    @include prop(height, 1);
    @include pre(width, 90%);
    @include prop(bottom, 0);
    @include pre(left, 5%);
    background-color: $black;
  }

  .gamma {
    @include prop(margin-bottom, 30);
  }

  .panel {
    @include prop(padding, 20);

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(padding, 0, 20);
    }
  }

  ul {
    width: 100%;
  }

  .large-block-grid-6 {
    @include prop(padding, 0, 25);
    @include prop(margin, 0);
  }

  .text {
    text-align: center;
    @include prop(margin-bottom, 20);

    @media only screen and (min-width: $smallScreen + px) {
      text-align: right;
      @include prop(margin-bottom, 0);
    }
  }

  .cta {
    text-align: center;

    @media only screen and (min-width: $smallScreen + px) {
      text-align: left;
    }

    a {
      position: relative;
      @include prop(top, 7);
    }
  }

  .cta-row {
    @include prop(margin-top, 50);
  }
}