#resource-form {
    @include prop(min-height, 400);
    @include prop(padding, 20, 0, 90);
}

#resources-hero {
    @include prop(margin, 65, 0, 0);
    @include prop(min-height, 60);

    background-image: asset_url("resources-banner-2.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    background-position-x: 0%;
    background-position-y: 50%;

    @media only screen and (min-width: $smallScreen + px) {
        @include prop(min-height, 100);
    }

    @media only screen and (min-width: $mediumScreen + px) {
        @include prop(min-height, 150);
    }

    @media only screen and (min-width: $largeScreen + px) {
        @include prop(min-height, 200);
    }
}

#email-course-resources-repo,
#webinar-series-resources-repo,
#misc-resources-repo {
    @include prop(padding, 20, 0);

    ul {
        @include prop(margin, 0);
        float: left;

        @media only screen and (max-width: $smallScreen + px) {
            @include pre(width, 100%);
        }
    }

    .main-resource-link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    li {

        @media only screen and (max-width: 320px) {
            @include pre(width, 100%);
        }
    }

    .resource-box {
        @include prop(padding, 20);
    }
}

#email-course-resources-repo {
    @include prop(padding, 40, 0, 20);

    ul {
        float: left;

        @media only screen and (max-width: $mediumScreen + px) {
            @include pre(width, 100%);
        }
    }

    .icon-doc,
    .icon-audio,
    .icon-video {
        @include prop(padding, 10);

        &:before {
            content: none;
        }
    }

    .resource-box {
        @include pre(width, 100%);
    }

    .email-course-banner {
        @include prop(min-height, 240);
        background-size: cover;
        background-color: white;
        background-repeat-x: no-repeat;
        background-repeat-y: no-repeat;
        background-position-x: 50%;
        background-position-y: 100%;
    }

    .type {
        @include prop(margin, 10, 0, 0);
    }
}

.resource-box {
    z-index: 1;
    cursor: pointer;
    // @include prop(margin, 20, 0);
    // @include prop(padding, 20);

    .icon-doc,
    .icon-audio,
    .icon-video {
        @include prop(padding, 20, 10);
        @include pre(transition, box-shadow 0.3s ease-out);
        @include border(1, solid, $greenLight, bottom);
        @include pre(box-shadow, 0 1px 3px rgba(0, 0, 0, 0.2));

        &:before {
            @include fontSize(30);
            color: $green;
        }
    }

    &:hover {
        .icon-doc,
        .icon-audio,
        .icon-video {
            @include pre(box-shadow, 0 3px 9px rgba(0,0,0,0.2));
        }
    }

    h4 {
        @include prop(margin, 20, 0, 0);

        span {
            font-family: "OpenSans-Bold";
        }
    }

    .type {
        text-transform: uppercase;
        font-family: "OpenSans-Bold";
        @include fontSize(13);
        letter-spacing: 2px;
        color: $green;
    }

    .resource-posted {
        color: $bodyColor;
        @include prop(padding, 0, 0, 30)
    }

    .download-link {
        z-index: 2;
    }
}

#my-resources-repo {
    @include prop(min-height, 400);
    @include prop(padding, 20, 0);

    .resource-box {
        @include prop(padding, 20);

        .icon-doc,
        .icon-audio,
        .icon-video {
            @include prop(padding, 20, 10, 40);
        }
    }

    .punch {
        @include prop(margin, 0);
    }
}