.single-city-hero {
  @include prop(padding, 130, 0, 40);
  @include prop(min-height, 300);
  position: relative;

  background-size: cover;
  background-color: white;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position-y: 30%;
  background-position-x: 50%;

  &:before {
    content: "";
    position: absolute;
    @include pre(width, 100%);
    @include pre(height, 100%);
    @include pre(left, 0);
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    @include pre(transition, background 0.3s ease-out);
    z-index: 2;
  }

  .gamma {
    color: $white;
    position: relative;
    z-index: 3;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

.single-city-hackathon {
  @include prop(padding, 40, 0);
  position: relative;

  .hackathon-header,
  .hackathon-details {
    @include prop(margin-bottom, 50);
  }

  .keyline {
    position: relative;
    @include pre(width, 50%);
    @include pre(left, 25%);
  }

  .hackathon-details {
    .hackathon-stopwatch {
      position: relative;
      @include prop(min-height, 150);
      @include pre(width, 100%);
      background-color: $offWhite;
      @include pre(border, 1px solid $greyDark);

      @media only screen and (min-width: 480px) {
        @include pre(width, 50%);
        @include pre(left, 25%);
      }

      @media only screen and (min-width: $smallScreen + px) {
        @include pre(left, 0%);
        @include pre(width, 100%);
      }

      .v-wrapper {
        @include prop(min-height, 150);

        .circle {
          position: relative; 
          @include pre(border, 1px solid $greyLight);
          @include prop(height, 100);
          @include prop(width, 100);
          @include pre(left, 50%);
          @include prop(margin-left, -50);
          @include prop(padding, 10, 0);
        }
      }
    }

    .hackathon-date {
      @include pre(border-left, 1px solid $greyDark);
      @include pre(border-bottom, 1px solid $greyDark);
      @include pre(border-right, 1px solid $greyDark);
    }

    .address {
      display: block;
      color: $greyDark;
      @include fontSize(18);
      @include prop(padding-left, 30);

      &:before {
        content: "";
        position: absolute;
        @include prop(top, 3);
        @include prop(left, 20);
        @include prop(width, 18);
        @include prop(height, 18);
        // @include pre(border, 2px solid $green);
        background-color: $green;
        @extend .circle;
      }
    }

    .description {
      @include fontSize(18);
      line-height: 1.8;
      color: $bodyColor;
      @include prop(padding, 10, 0, 25);
      font-family: "OpenSans-Light";
    }

    .button {
      @include fontSize(13);
      letter-spacing: 2px;
    }
  }

  .hackathon-daily-descriptions {
    .image {
      position: relative;
      @include pre(width, 100%);
      @include pre(border, 1px solid $greyDark);
      @include prop(min-height, 200);
      background-color: $offWhite;

      .day-indicator {
        position: absolute;
        @include pre(bottom, 0);
        @include pre(left, 0);
        @include prop(margin, 10);
        @include fontSize(24);
        color: $greyDark;
        font-family: "OpenSans-Bold";
      }
    }

    .description {
      p {
        @include fontSize(16);
        line-height: 2;
        color: $bodyColor;
        @include prop(padding, 10, 0);
        font-family: "OpenSans-Light";
      }
    }
  }
}

.single-city-judging-and-faqs {
  @include prop(padding, 20, 0);
  background-color: $offWhite;

  .judging-criteria {
    position: relative;
    @include prop(padding-bottom, 10);

    @media only screen and (min-width: $smallScreen + px) {
      @include prop(padding-bottom, 0);      
    }

    &:before {
      content: "";
      position: absolute;
      display: none;
      background-color: $green;
      @include pre(right, 0);
      @include pre(top, 5%);
      @include prop(width, 1);
      @include pre(height, 90%);

      @media only screen and (min-width: $smallScreen + px) {
        display: block;
      }
    }

    &:after {
     content: "";
      position: absolute;
      display: block;
      background-color: $green;
      @include pre(bottom, 0);
      @include pre(left, 5%);
      @include prop(height, 1);
      @include pre(width, 90%);

      @media only screen and (min-width: $smallScreen + px) {
        display: none;
      } 
    }
  }

  .faqs {
    @include prop(padding-top, 20);

    @media only screen and (min-width: $smallScreen + px) {
      @include prop(padding-top, 0);      
    }
  }

  .gamma {
    @include prop(padding, 0, 0, 10);
  }

  .criteria,
  .question {
    color: $greyDark;
    @include fontSize(16);
    @include prop(padding, 10, 0);
    font-family: "OpenSans-Semibold";
  }

  .green-bullet {
    position: relative;
    @include prop(padding, 0, 0, 10, 15);
    font-family: "OpenSans-Light";
    color: $greyDark;
    @include fontSize(16);

    &:before {
      content: "";
      position: absolute;
      @include prop(top, 8);
      @include prop(left, 0);
      @include prop(width, 6);
      @include prop(height, 6);
      background-color: $green;
      @extend .circle;
    }
  }

  .answer {
    position: relative;
    @include prop(padding, 0, 0, 10, 0);
    font-family: "OpenSans-Light";
    color: $greyDark;
    @include fontSize(16);
    line-height: 1.8;

    &.last-answer {
      @include prop(padding, 0, 0, 30, 0);
    }
  }

  .min-small-screen {
    display: none;

    @media only screen and (min-width: $smallScreen + px) {
      display: block;
    }
  }

  .button {
    @include fontSize(13);
    letter-spacing: 2px;
    display: block;
    position: relative;
    @include pre(width, 100%);

    @media only screen and (min-width: 480px) {
      @include pre(width, 50%);
      @include pre(left, 25%);      
    }

    @media only screen and (min-width: $smallScreen + px) {
      @include pre(width, 70%);
      @include pre(left, 15%);      
    }

    @media only screen and (min-width: $mediumScreen + px) {
      @include pre(width, 60%);
      @include pre(left, 20%);
    }
  }
}

.hackathon-cta {
  @include prop(padding, 20, 0);
  background-color: $greyLight;

  .delta {
    color: $white;
  }

  .button {
    position: relative;
    @include fontSize(13);
    letter-spacing: 2px;
    display: block;
    @include prop(margin-top, 20);
    @include prop(top, 0);
    @include prop(left, 0);
    @include pre(width, 100%);

    @media only screen and (min-width: 480px) {
      @include pre(width, 50%);
      @include pre(left, 25%);      
    }

    @media only screen and (min-width: $smallScreen + px) {
      display: inline;
      @include prop(top, -4);
      @include prop(left, 20);
    }
  }
}