.single-city-hero {
  @include prop(padding, 70, 0, 0);
  position: relative;

  background-size: cover;
  background-color: white;
  background-position: 50% 40%;
  background-repeat: no-repeat no-repeat;

  &:before {
    content: "";
    position: absolute;
    @include pre(width, 100%);
    @include pre(height, 100%);
    @include pre(left, 0);
    top: 0;
    background: rgba(53, 53, 53, 0.84);
    z-index: 2;
  }

  .row {
    position: relative;

    .v-wrapper {
      @include prop(min-height, 300);
      @include prop(height, 300);

      .columns {
        float: none;
      }
    }
  }

  .gamma {
    color: $white;
    position: relative;
    z-index: 3;
    text-transform: uppercase;
    letter-spacing: 5px;
    @include pre(width, 100%);

    @media only screen and (min-width: $mediumScreen + px) {
      @include pre(width, 50%);
      @include pre(left, 25%);
    }
  }

  .inner-nav {
    position: absolute;
    @include pre(left, 0);
    @include prop(top, -2);
    z-index: 3;
    display: none;

    @media only screen and (min-width: $mediumScreen + px) {
      display: block;
    }

    li {
      @include prop(min-width, 260);
      @include prop(min-height, 40);
      position: relative;

      p {
        color: $white;
        @include prop(margin, 0);
        font-family: "OpenSans-Bold";
        @include fontSize(13);
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 1px;
      }

      a {
        position: relative;
        display: block;
        @include prop(height, 40);
        @include prop(padding, 14, 0, 13, 30);

        &:hover {
          background: $greenBackground;
        }
      }

      &#single-city-hackathon-nav-item {
        background: rgba(255, 255, 255, 0.3);
      }

      &#single-city-judging-nav-item {
        background: rgba(255, 255, 255, 0.25);
      }

      &#single-city-resources-nav-item {
        background: rgba(255, 255, 255, 0.20);
      }

      &#single-city-mentors-nav-item {
        background: rgba(255, 255, 255, 0.15);
      }

      &#single-city-judges-nav-item {
        background: rgba(255, 255, 255, 0.10);
      }

      &#single-city-team-nav-item {
        background: rgba(255, 255, 255, 0.05);
      }

      &#single-city-partner-nav-item {
        background: rgba(255, 255, 255, 0);
      }
    }
  }
}

#single-city-hackathon {
  @include prop(padding, 40, 0, 70);
  position: relative;
  background: $greenBackground;

  .gamma {
    @include fontSize(35);
    color: $white;
  }

  .hackathon-details {
    @include prop(margin-bottom, 50);

    .hackathon-stopwatch {
      position: relative;
      @include prop(min-height, 260);
      @include prop(width, 260);
      background: asset_url('hackathon.jpg') 0% 100%;
      background-size: 120%;
      @extend .circle;
      @include pre(left, 50%);
      @include prop(margin-left, -130);

      .v-wrapper {
        @include prop(min-height, 260);
        @include prop(height, 260);

        .circle {
          position: relative; 
          background: rgba(255, 255, 255, 0.9);
          @include prop(height, 170);
          @include prop(width, 170);
          @include prop(left, 45);
        }
      }

      .text {
        @include fontSize(16);
        font-family: "OpenSans-Bold";
        text-transform: uppercase;
        line-height: 1.75;
        color: $greyLight;

        &:first-child {
          @include prop(padding-top, 18);
        }
      }

      .number {
        @include fontSize(60);
        font-family: "OpenSans-Bold";
        text-transform: uppercase;
        line-height: 1.3;
        color: $green; 
      }
    }

    .dates-and-address {
      @include prop(padding, 10, 0, 20);
      @include pre(border-bottom, 2px solid $greenLightest);
    }

    .date,
    .address {
      color: $greenLightest;
      @include fontSize(14);
      line-height: 2.5;
      font-family: "OpenSans-Bold";
      text-transform: uppercase;
      letter-spacing: 2px;
      @include prop(padding-left, 25);
      position: relative;

      &:before {
        position: absolute;
        @include fontSize(20);
        @include prop(left, 0);
        @include prop(top, 5);
      }
    }

    .date {
      @include prop(padding-right, 20);
    }

    .description {
      @include fontSize(18);
      line-height: 1.8;
      color: $white;
      @include prop(padding, 20, 0, 25);
      font-family: "OpenSans-Light";
    }

    .button {
      @include fontSize(13);
      letter-spacing: 2px;
    }
  }
}

#single-city-hackathon-days {
  @include prop(padding, 20, 0, 0);
  background-color: $offWhite;

  .row {
    background: $white;
    position: relative;
    @include prop(padding, 40, 0);
    @include prop(top, -80);
  }

  .day-indicator {
    position: relative;
    @include prop(margin-bottom, 10);
    @include fontSize(20);
    line-height: 1.4;
    color: $greyDark;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
  }

  .image {
    position: relative;
    @include pre(width, 100%);
    @include prop(min-height, 200);
    background-color: $offWhite;

    &#admin-image-1,
    &#admin-image-2,
    &#admin-image-3 {
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: cover;
    }

    &#image-day-1 {
      background: asset_url('hackathon-day-one.jpg') 50% 50% / cover;
    }

    &#image-day-2 {
      background: asset_url('hackathon-day-two.jpg') 50% 50% / cover;
    }

    &#image-day-3 {
      background: asset_url('hackathon-day-three.jpg') 50% 50% / cover;
    }
  }

  .description {
    p {
      @include fontSize(16);
      line-height: 2;
      color: $bodyColor;
      @include prop(padding, 10, 0);
      font-family: "OpenSans-Light";
    }
  }
}

#single-city-judging-and-faqs {
  @include prop(padding, 0, 0, 20);
  background-color: $offWhite;

  .judging-criteria {
    position: relative;
    @include prop(padding-bottom, 10);

    @media only screen and (min-width: $smallScreen + px) {
      @include prop(padding-bottom, 0);      
    }

    &:before {
      content: "";
      position: absolute;
      display: none;
      background-color: $green;
      @include pre(right, 0);
      @include pre(top, 5%);
      @include prop(width, 1);
      @include pre(height, 90%);

      @media only screen and (min-width: $smallScreen + px) {
        display: block;
      }
    }

    &:after {
     content: "";
      position: absolute;
      display: block;
      background-color: $green;
      @include pre(bottom, 0);
      @include pre(left, 5%);
      @include prop(height, 1);
      @include pre(width, 90%);

      @media only screen and (min-width: $smallScreen + px) {
        display: none;
      } 
    }
  }

  .faqs {
    @include prop(padding-top, 20);

    @media only screen and (min-width: $smallScreen + px) {
      @include prop(padding-top, 0);      
    }
  }

  .gamma {
    @include prop(padding, 0, 0, 10);
  }

  .criteria,
  .question {
    color: $greyDark;
    @include fontSize(16);
    @include prop(padding, 10, 0);
    font-family: "OpenSans-Semibold";
  }

  .green-bullet {
    position: relative;
    @include prop(padding, 0, 0, 10, 15);
    font-family: "OpenSans-Light";
    color: $greyDark;
    @include fontSize(16);

    &:before {
      content: "";
      position: absolute;
      @include prop(top, 8);
      @include prop(left, 0);
      @include prop(width, 6);
      @include prop(height, 6);
      background-color: $green;
      @extend .circle;
    }
  }

  .answer {
    position: relative;
    @include prop(padding, 0, 0, 10, 0);
    font-family: "OpenSans-Light";
    color: $greyDark;
    @include fontSize(16);
    line-height: 1.8;

    &.last-answer {
      @include prop(padding, 0, 0, 30, 0);
    }
  }

  .min-small-screen {
    display: none;

    @media only screen and (min-width: $smallScreen + px) {
      display: block;
    }
  }

  .button {
    @include fontSize(13);
    letter-spacing: 2px;
    display: block;
    position: relative;
    @include pre(width, 100%);

    @media only screen and (min-width: 480px) {
      @include pre(width, 50%);
      @include pre(left, 25%);      
    }

    @media only screen and (min-width: $smallScreen + px) {
      @include pre(width, 70%);
      @include pre(left, 15%);      
    }

    @media only screen and (min-width: $mediumScreen + px) {
      @include pre(width, 60%);
      @include pre(left, 20%);
    }
  }
}

#hackathon-cta {
  @include prop(padding, 20, 0);
  background-color: $greenBackground;

  .delta {
    color: $white;
    font-family: "OpenSans-Light";
  }

  .button {
    position: relative;
    @include fontSize(13);
    letter-spacing: 2px;
    display: block;
    @include prop(margin-top, 20);
    @include prop(top, 0);
    @include prop(left, 0);
    @include pre(width, 100%);

    @media only screen and (min-width: 480px) {
      @include pre(width, 50%);
      @include pre(left, 25%);      
    }

    @media only screen and (min-width: $smallScreen + px) {
      display: inline;
      @include prop(top, -4);
      @include prop(left, 20);
    }
  }
}

#single-city-resources {
  @include prop(padding, 40, 0);

  .gamma {
    @include prop(padding-bottom, 20);
  }

  ul {
    @include prop(margin, 0);
    float: left;

    @media only screen and (max-width: $smallScreen + px) {
      @include pre(width, 100%);
    }
  }

  .resource-box {
    @include prop(padding, 20);
  }

  .resources-cta {
    @include prop(padding, 20, 0);
  }

  .button {
    @include fontSize(13);
    letter-spacing: 2px;
    position: relative;
  }
}

#single-city-mentors,
#single-city-judges,
#single-city-team {
  @include prop(padding, 40, 0);
  background-color: $offWhite;

  .gamma {
    @include prop(padding-bottom, 20);
  }

  .admin-user-panel {
    position: relative;
    background-size: cover;
    background-color: white;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: 50%;
    z-index: 1;
    float: left;
    @include prop(padding, 0);
    @include prop(min-height, 250);
    @include pre(width, 44%);
    @include prop(margin, 5);

    @media only screen and (min-width: $smallScreen + px) and (max-width: 707px) {
      @include pre(width, 30%);
      @include prop(margin, 10);
    }

    @media only screen and (min-width: 708px) {
      @include pre(width, 22%);
    }

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(max-width, 265);
      @include pre(width, 18%);
    }

    &:before {
      content: none;
    }

    &.user-mentor,
    &.user-judge {
      .team-member-info {
        @media only screen and (min-width: $smallScreen + px) {
          @include prop(height, 25);
        }
      }
    }

    .team-member-info {
      position: absolute;
      @include pre(left, 0);
      @include pre(right, 0);
      @include pre(bottom, 0);
      overflow: hidden;
      height: auto;
      background-color: rgba(0, 0, 0, 0.5);
      @include pre(transition, height 0.3s ease-out);

      @media only screen and (min-width: $smallScreen + px) {
        @include prop(height, 50);
      }

      .delta,
      .epsilon {
        color: $white;
        font-family: "OpenSans-Light";
      }

      .delta {
        @include fontSize(18);
      }

      .epsilon {
        @include fontSize(14);
        @include prop(padding-bottom, 10);
      }

      .social-icons {
        display: inline-block;
        
        a {
          &:before {
            position: relative;
            color: $white;
            @include fontSize(20);
            @include prop(padding, 10);

            @media only screen and (min-width: $smallScreen + px) {
              @include prop(padding, 20);
            }
          }
        }
      }
    }

    @media only screen and (min-width: $smallScreen + px) {
      &:hover {
        &.user-mentor,
        &.user-judge {
          .team-member-info {
            @include pre(height, 100%);
          }
        }

        .team-member-info {
          @include prop(height, 100);
        }
      }
    }
  }
}

#single-city-gallery {
  @include prop(padding, 40, 0);

  .row:first-child {
    @include prop(margin, 0);
    @include pre(width, 100%);
    max-width: none;
  }

  .gallery-image {
    @include prop(min-height, 300);
    position: relative;

    background-size: cover;
    background-color: $grey;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-y: 30%;
    background-position-x: 50%;

    &#image-1 {
      background: asset_url('global-finals.jpg') 50% 50% / cover;
    }
    &#image-2 {
      background: asset_url('orientation.jpg') 50% 50% / cover;
    }
    &#image-3 {
      background: asset_url('toronto-baithak.png') 50% 50% / cover;
    }
    &#image-4 {
      background: asset_url('mini-events.jpg') 50% 50% / cover;
    }
  }

  .gallery-cta {
    @include prop(padding-top, 40);
  }

  .mobile {
    display: block;

    @media only screen and (min-width: $smallScreen + px) {
      display: none;
    }
  }

  .tablet-desktop {
    display: none;

    @media only screen and (min-width: $smallScreen + px) {
      display: block;
    }
  }

  .button {
    @include fontSize(13);
    letter-spacing: 2px;
    position: relative;
  }
}

#single-city-partners {
  @include prop(padding, 40, 0);
  background-color: $offWhite;

  .columns {
    float: left;
  }

  .gamma {
    @include prop(padding, 0, 0, 20);
  }

  .community-partner {
    background: $white;
    @include pre(width, 100%);
    @include prop(max-height, 160);
    @include prop(margin, 20, 0);
    position: relative;
    z-index: 1;

    .v-wrapper {
      @include prop(height, 160);
    }

    .partner-logo {
      @include pre(width, 100%);
    }
  }

}