#team-hero {
  @include prop(padding, 90, 0, 40);
  @include prop(min-height, 400);

  background-size: cover;
  background-color: white;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position-y: 70%;
  background-position-x: 50%;
  background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("homepage-hero.jpg");
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("homepage-hero.jpg");
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("homepage-hero.jpg");
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("homepage-hero.jpg");
  background-image: -webkit-gradient(linear, top top, top bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0.2))), asset_url("homepage-hero.jpg");
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), asset_url("homepage-hero.jpg");

  .punch {  
    color: $greyDark;
    line-height: 1.8;
    @include fontSize(17);

    @media only screen and (min-width: $smallScreen + px) {
      width: 70%;
      @include pre(margin-left, 15%);
    }
  }

  .v-wrapper {
    position: relative;
    @include prop(top, 50);
    @include prop(padding, 0, 25);
  }
}

#team-core, #team-city-leads, #team-board-of-directors, #team-partners, #team-sponsors, #team-cta {
  @include prop(padding, 40, 0);
}
  
#team-cta {
  @extend #homepage-sponsor-cta;
  background-color: lighten($greyDark, 10);
  @include prop(padding-bottom, 70);

  .delta {
    color: $white;
  }
}