.admin-users-dashboard,
#team-core {

  .type-of-user,
  .admin-hackathon-details,
  .admin-events-details,
  .admin-project-details,
  .admin-gallery-details,
  .admin-faq-details {
    @include prop(margin, 40, -10);

    .gamma {
      @include prop(margin, 10);
    }
  }

  .admin-user-panel {
    position: relative;
    @include prop(min-height, 250);
    @include pre(width, 100%);
    background-size: cover;
    background-color: white;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: 50%;
    z-index: 1;
    float: left;
    @include prop(padding, 0);
    @include prop(margin, 10, 0);

    @media only screen and (min-width: $smallScreen + px) {
      @include pre(width, 45%);
      @include prop(margin, 10);
    }

    @media only screen and (min-width: $mediumScreen + px) {
      @include pre(width, 30%);
    }

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(max-width, 265);
      @include pre(width, 22%);
    }

    .team-member-info {
      position: absolute;
      @include pre(left, 0);
      @include pre(right, 0);
      @include pre(bottom, 0);
      overflow: hidden;
      height: auto;
      background-color: rgba(0, 0, 0, 0.5);
      @include pre(transition, height 0.3s ease-out);

      @media only screen and (min-width: $smallScreen + px) {
        @include prop(height, 50);
      }

      .delta,
      .epsilon {
        color: $white;
        font-family: "OpenSans-Light";
      }

      .delta {
        @include fontSize(18);
      }

      .epsilon {
        @include fontSize(14);
        @include prop(padding-bottom, 10);
      }

      .social-icons {
        display: inline-block;
        
        a {
          &:before {
            position: relative;
            color: $white;
            @include fontSize(20);
            @include prop(padding, 10);

            @media only screen and (min-width: $smallScreen + px) {
              @include prop(padding, 20);
            }
          }
        }
      }
    }

    @media only screen and (min-width: $smallScreen + px) {
      &:hover {
        &.user-mentor,
        &.user-judge {
          .team-member-info {
            @include pre(height, 100%);
          }
        }

        .team-member-info {
          @include prop(height, 100);
        }
      }
    }

    // &:before {
    //   content: "";
    //   position: absolute;
    //   @include pre(width, 100%);
    //   @include pre(height, 100%);
    //   @include pre(left, 0);
    //   background: rgba(0, 0, 0, 0.4);
    //   @include pre(transition, background 0.3s ease-out);
    //   z-index: 2;
    // }

    // .v-wrapper {
    //   @include prop(min-height, 250);
    //   position: relative;
    //   z-index: 3;
    //   overflow: hidden;

    //   .delta {
    //     text-align: center;
    //     color: $white;
    //   }

    //   .epsilon {
    //     color: $white;
    //     letter-spacing: 5px;
    //     font-family: "OpenSans-Light";
    //   }
    // }
  }
}

#team-mentors,
#admin-mentors {
  @include prop(padding, 40, 0, 0);

  .gamma {
    @include prop(margin, 20, 10);
    letter-spacing: 5px;
  }

  ul {
    @include prop(padding-top, 20);
    @include prop(padding-right, 10);
    @include prop(padding-left, 10);

    @media only screen and (min-width: $mediumScreen + px) {
      @include prop(padding, 0);
      @include prop(padding-top, 20);
    }
  }

  .mentor-profile {
    background: $white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    @include prop(margin-bottom, 40);
    border-left: 1px solid $greenLight;
    position: relative;
  }

  .mentor-img {
    position: relative;
    @include prop(height, 250); 
    @include prop(width, 250);
    background-size: cover;
    background-color: white;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: 50%;
    background-position-y: 0%;
    z-index: 1;
    @include pre(left, 50%);
    @include prop(margin-left, -125);
  }

  .team-member-info {
    @include prop(padding, 0);
    @include prop(margin, 10);
    position: relative;
  }

  .delta {
    @include prop(padding, 0, 10);
  }

  p {
    font-family: "OpenSans-Light";
    @include prop(padding, 10);
  }

  br {
    line-height: 2;
  }
}

#admin-mentors {
  .mentor-profile {
    @include prop(padding-bottom, 40);
  }
}

#team-core {
  @include prop(padding, 40, 0);
  background-color: $offWhite;

  .gamma {
    @include prop(margin, 20, 10);
    letter-spacing: 5px;
  }

  .row {
    @include prop(padding, 20, 0);
  }

  .admin-user-panel {
    position: relative;
    @include prop(min-height, 250);
    @include pre(width, 44%);
    @include prop(margin, 5);

    @media only screen and (min-width: $smallScreen + px) and (max-width: 707px) {
      @include pre(width, 30%);
      @include prop(margin, 10);
    }

    @media only screen and (min-width: 708px) {
      @include pre(width, 22%);
    }

    @media only screen and (min-width: $largeScreen + px) {
      @include prop(max-width, 265);
      @include pre(width, 18%);
    }

    &:before {
      content: none;
    }

    .team-member-info {
      position: absolute;
      @include pre(left, 0);
      @include pre(right, 0);
      @include pre(bottom, 0);
      background-color: rgba(0, 0, 0, 0.5);

      .delta,
      .epsilon {
        color: $white;
        font-family: "OpenSans-Light";
      }

      .delta {
        @include fontSize(20);
      }

      .epsilon {
        @include fontSize(14);
      }
    }
  }
}

#team-hero {
  @include prop(padding, 70, 0, 40);
  @include prop(min-height, 200);
  position: relative;

  @media only screen and (min-width: $smallScreen + px) {
    @include prop(min-height, 300); 
  }

  background-size: cover;
  background-color: white;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position-y: 30%;
  background-position-x: 50%;
  background-image: asset_url("careers-slide-1.jpg");

  &:before {
    content: "";
    display: block;
    width: 100%;
    min-height: 100%;
    top: 0;
    background: rgba(53, 53, 53, 0.84);
    position: absolute;
  }

  .row {
    position: relative;

    .v-wrapper {
      @include prop(min-height, 200);
      @include prop(height, 200);

      .columns {
        float: none;
      }
    }
  }

  .gamma {
    color: $white;
    position: relative;
    z-index: 3;
    @include pre(width, 100%);

    @media only screen and (min-width: $mediumScreen + px) {
      @include pre(width, 50%);
      @include pre(left, 25%);
    }
  }

  .inner-nav {
    position: absolute;
    @include pre(left, 0);
    @include prop(top, -2);
    z-index: 3;
    display: none;

    @media only screen and (min-width: $mediumScreen + px) {
      display: block;
    }

    li {
      @include prop(min-width, 260);
      @include prop(min-height, 40);
      position: relative;

      p {
        color: $white;
        @include prop(margin, 0);
        font-family: "OpenSans-Bold";
        @include fontSize(13);
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 1px;
      }

      a {
        position: relative;
        display: block;
        @include prop(height, 40);
        @include prop(padding, 14, 0, 13, 30);

        &:hover {
          background: $greenBackground;
        }
      }

      &#team-nav-item {
        background: rgba(255, 255, 255, 0.15);
      }

      &#mentors-nav-item {
        background: rgba(255, 255, 255, 0.1);
      }

      &#partners-nav-item {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
}

#team-city-leads, 
#team-partners, 
#team-sponsors, 
#team-cta {
  @include prop(padding, 40, 0, 0);

  ul {
    @include prop(margin, 0, 10);
    float: left;
  }

  li {
    @include prop(padding, 0, 20);
    float: left;
  }
}

#team-partners {
  @include prop(padding, 40, 0, 90);

  .gamma {
    @include prop(margin, 20, 10);
    letter-spacing: 5px;
  }
}
  
#team-cta {
  @extend #homepage-sponsor-cta;
  background-color: lighten($greyDark, 10);
  @include prop(padding-bottom, 70);

  .delta {
    color: $white;
  }
}

#team-partners {
  .columns {
    float: left;
  }

  .gamma {
    @include prop(padding, 0, 0, 20);
  }

  .community-partner {
    background: $white;
    @include pre(width, 100%);
    @include prop(max-height, 160);
    @include prop(margin, 20, 0);
    position: relative;
    z-index: 1;

    .v-wrapper {
      @include prop(height, 160);
    }

    .partner-logo {
      @include pre(width, 100%);
    }
  }

}