#team-hero {
  @include prop(padding, 90, 0, 40);
  @include prop(min-height, 400);
  position: relative;

  background-size: cover;
  background-color: white;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position-y: 70%;
  background-position-x: 50%;
  background-image: asset_url("homepage-hero.jpg");

  &:before {
    content: "";
    display: block;
    width: 100%;
    min-height: 100%;
    top: 0;
    background-color: $greenBackground;
    opacity: 0.8;
    position: absolute;
  }

  .gamma {
    color: $white;
  }

  .punch {  
    color: $white;
    line-height: 1.8;
    @include fontSize(17);

    @media only screen and (min-width: $smallScreen + px) {
      width: 70%;
      @include pre(margin-left, 15%);
    }
  }

  .v-wrapper {
    position: relative;
    @include prop(top, 30);
    @include prop(padding, 0, 25);

    @media only screen and (min-width: 550px) {
      @include prop(top, 50);
    }
  }
}

#team-core, #team-city-leads, #team-partners, #team-sponsors, #team-cta {
  @include prop(padding, 40, 0, 0);

  ul {
    @include prop(margin, 0);
    float: left;
  }

  li {
    @include prop(padding, 0, 20);
    float: left;
    @include prop(height, 200);
  }
}

#team-partners {
  @include prop(padding, 40, 0, 90);
}
  
#team-cta {
  @extend #homepage-sponsor-cta;
  background-color: lighten($greyDark, 10);
  @include prop(padding-bottom, 70);

  .delta {
    color: $white;
  }
}

#team-core {
  .team-photo {
    position: relative;
    @include prop(width, 200);
    @include pre(height, 100%);
    display: inline-block;
    @include prop(margin, 20, 0);

    img {
      @include pre(max-width, 100%);
    }

    @media only screen and (min-width: $xsmallScreen + px) and (max-width: 415px) {
      @include prop(width, 150);
    }

    @media only screen and (min-width: $mediumScreen + px) {
      @include prop(width, 180);
    }

    @media only screen and (min-width: $largeScreen + px) and (max-width: 1215px) {
      @include prop(width, 160);
    }
  }
}

#team-partners {
  li:last-child {
    img {
      @include prop(height, 200);
    }
  }
}