.toronto-appetizer {
  @include prop(padding, 130, 0, 40);

  ul {
    @include prop(padding-top, 20);
    @include prop(padding-right, 10);
    @include prop(padding-left, 10);

    @media only screen and (min-width: $mediumScreen + px) {
      @include prop(padding-top, 20);
      @include prop(padding, 0);
    }
  }

  .single-stream {
    background: $white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    @include prop(margin-bottom, 40);
    border-left: 1px solid $greenLight;
    @include prop(padding, 20);

    .alpha {
      color: $greyLight;
      font-family: "OpenSans-Light";

      &:before {
        @include prop(padding-right, 20);
        color: $green;
      }
    }

    .description {
      color: $greyDark;
      @include prop(margin, 20, 0);
      line-height: 1.5;
      @include fontSize(14);
      background-color: lighten($greenBackground, 40);


      @media only screen and (min-width: $smallScreen + px) {
        @include fontSize(14);
      }
    }
  }
}