<section id="careers-header" class="fixed sticky topnav">
  <div class="row">
    <div class="columns small-12 text-center">
      <nav>
        <ul>
          <li class="logo topnav-titles"><%= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:team), size: "40"), root_path %> PAKATHON</li>
          <li class="cta topnav-titles"><a class="apply-button button medium" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">APPLY</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section id="careers-carousel">
  <div class="row">
    <div class="columns small-12">
      <ul class="example-orbit" data-orbit>
        <li data-orbit-slide="headline-1" class="slide-1">
          <div class="headline">
            <h2 class="text-center">BOSTON MEETS TORONTO</h2>
            <div class="row">
              <div class="keyline columns large-1 large-centered medium-1 medium-centered small-2 small-centered">
              </div>
            </div>
            <h3 class="text-center">Make lasting friendships across different cities</h3>
          </div>
        </li>
        <li class="slide-2 active" data-orbit-slide="headline-2">
          <div class="headline">
            <h2 class="text-center">LEAVE A MARK</h2>
            <div class="row">
              <div class="keyline columns large-1 large-centered medium-1 medium-centered small-2 small-centered">
              </div>
            </div>
            <h3 class="text-center">Help us spread the word</h3>
          </div>
        </li>
        <li data-orbit-slide="headline-3" class="slide-3">
          <div class="headline">
            <h2 class="text-center">Build a network of entrepreneurs, activists, investors and superstars</h2>
            <div class="row">
              <div class="keyline columns large-1 large-centered medium-1 medium-centered small-2 small-centered">
              </div>
            </div>
            <h3 class="text-center"><a class="apply-button button medium" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">JUMPSTART YOUR CAREER</a></h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="careers-main">
  <div class="row">
    <div class="columns small-12 medium-12 large-12">
      <div class="row">
        <div class="columns small-12 text-center">
          <h1>CAREERS</h1>
          <div class="row">
            <div class="keyline columns large-2 large-centered medium-4 medium-centered small-6 small-centered">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="careers-description columns small-12 medium-10 medium-centered large-10 large-centered">
          <p class="text-left">We are looking to groom the next generation of leaders and have high expectations from each and every one of our team members.</p>
          <p class="text-left">Each city team will be working with over 15 cities globally to solve real-world problems. Team members will be exposed to a global network of superstars, entrepreneurs, investors and activists. They will be put in roles where they will grow as leaders, develop close friendships in multiple cities across continents and make a quantifiable impact on Pakistan and the world.</p>
          <p class="text-left">No prior experience in technology, entrepreneurship or design is necessary but we are looking for people hungry to learn and make an impact. You must be able to problem solve under pressure, pick up new skills and concepts, develop relationships, show leadership, have excellent time management skills and demonstrate a track record of going beyond your comfort zone.</p>
        </div>
      </div>
      <div class="row">
        <div class="job-descriptions columns small-11 small-centered medium-10 medium-centered large-8 large-centered">
          <h2>Global Marketing Lead</h2>
          <p class="job-location">Virtual</p>
          <p class="job-synopsis">Pakathon is looking for a Global Marketing Lead. We are looking for someone to tell our story – and Pakistan’s story – to the world.  The responsibilities of this position include:</p>
          <ul>
            <li>work with leadership team to recruit our ad agency and work with them to tell our story to the world</li>
            <li>work with marketing leads in each city to document our activity in chapters and communicate our success stories to the world</li>
            <li>create a social media and blogging strategy</li>
            <li>outreach to press and bloggers</li>
            <li>work with brand designer to create promotional material (includes banners etc)</li>
            <li>help us create a network of celebrities, influencers and fans to amplify our message</li>
            <li>create video case studies for participants to use</li>
          </ul>
        </div>
        <div class="job-descriptions columns small-11 small-centered medium-10 medium-centered large-8 large-centered">
          <h2>City Delegates</h2>
          <p class="job-location">NYC, Chicago, Boston, DC, Philadelphia, San Fransisco, Australia, Dubai</p>
          <p class="job-synopsis">City Delegates help evangelize our activities in your city. These are the committees available:</p>
          <ul>
            <li>Membership Engagement</li>
            <li>Partnerships & Alliances</li>
            <li>Logistics & Technical Management</li>
            <li>Sponsorships</li>
            <li>Media & Marketing</li>
            <li>Mentors & Judges Engagement</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="careers-cta">
  <div id="apply" class="row">
    <div class="columns small-12 text-center">
      <p>If your background is a good fit, we will reach out to schedule an interview.</p>
    </div>
  </div>
</section>