<%= render 'layouts/header' %>

<!-- <section id="careers-header" class="fixed sticky topnav">
  <div class="row">
    <div class="columns small-12 text-center">
      <nav>
        <ul>
          <li class="logo topnav-titles"><%= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:team), size: "30"), root_path %> PAKATHON</li>
          <li class="cta topnav-titles"><a class="apply-button button medium" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">APPLY</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section> -->

<!-- 
<section id="careers-carousel">
  <div class="row">
    <div class="columns small-12">
      <ul class="example-orbit" data-orbit>
        <li data-orbit-slide="headline-1" class="slide-1">
          <div class="headline">
            <h2 class="text-center">BOSTON MEETS TORONTO</h2>
            <h3 class="text-center">Make lasting friendships across different cities</h3>
          </div>
        </li>
        <li class="slide-2 active" data-orbit-slide="headline-2">
          <div class="headline">
            <h2 class="text-center">LEAVE A MARK</h2>
            <h3 class="text-center">Help us spread the word</h3>
          </div>
        </li>
        <li data-orbit-slide="headline-3" class="slide-3">
          <div class="headline">
            <h3 class="text-center">Build a network of entrepreneurs, activists, investors and superstars</h3>
            <h3 class="text-center"><a class="apply-button button medium" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">JUMPSTART YOUR CAREER</a></h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section> -->

<!-- <section id="careers-hero">
  <div class="row">
    <div class="columns large-4 medium-4 small-12 xsmall-12">
    </div>

    <div class="columns large-4 medium-4 small-12 xsmall-12">
    </div>

    <div class="columns large-4 medium-4 small-12 xsmall-12">
    </div>
  </div>
</section> -->

<section id="careers-main">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12 text-center">
      <h1 class="beta">Careers</h1>

      <div class="careers-description">
        <p class="text-center first">We are looking to groom the next generation of leaders and have high expectations from all our team members.</p>
        <p class="text-center second">Each city team will be working with over 15 cities globally to solve real-world problems. Team members will be exposed to a global network of superstars, entrepreneurs, investors and activists. They will be put in roles where they will grow as leaders, develop close friendships in multiple cities across continents and make a quantifiable impact on Pakistan and the world.</p>
        <p class="text-center third">No prior experience in technology, entrepreneurship or design is necessary but we are looking for people hungry to learn and make an impact. You must be able to problem solve under pressure, pick up new skills and concepts, develop relationships, show leadership, have excellent time management skills and demonstrate a track record of going beyond your comfort zone.</p>
      </div>
    </div>
  </div>
</section>

<section id="careers-openings">
  <div class="row">
    <div class="all-openings">
      <div class="job-description columns large-8 large-centered medium-10 medium-centered small-11 small-centered xsmall-11 xsmall-centered">
        <h2 class="alpha">City Leads <span>Volunteer</span></h2>
        <p class="job-location">San Francisco, Atlanta, New York City, London, Malaysia, Singapore</p>
        <div class="content">
          <p class="job-synopsis">Pakathon is looking for leads to evangelize our movement in their cities. Leads will be responsible for recruiting delegates, organizing 3-4 events in their city every year and being the central spokesperson for our mission. The responsibilites will include:</p>
          <ul>
            <li>City leads serve a 2 year term, running two annual Pakathons</li>
            <li>City Leads are responsible for selecting the core team</li>
            <li>City leads are responsible for recruiting, motivating and inspiring a core team of 5-7</li>
            <li>City Leads will be responsible for membership development</li>
            <li>City leads are responsible for managing 3 mini events + 1 Pakathon a year</li>
            <li>City leads must submit photo documentation of each event on our social media pages</li>
            <li>City leads are responsible for creating a network of mentors</li>
            <li>City leads must create and manage a sponsorship team responsible for raising $5000 or in-kind sponsorship per year</li>
            <li>City leads must fill out feedback and learning documents every 6 months</li>
            <li>City leads can approve university chapters based on guidelines given by the global team who will report to the city leads with progress</li>
          </ul>
          <div class="apply"><a class="button" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">Apply</a></div>
        </div>
      </div>
      
      <div class="job-description columns large-8 large-centered medium-10 medium-centered small-11 small-centered xsmall-11 xsmall-centered">
        <h2 class="alpha">City Delegates <span>Volunteer</span></h2>
        <p class="job-location">New York City, Chicago, Boston, Washington DC, Philadelphia, San Francisco, Australia, Dubai</p>
        <div class="content">
          <p class="job-synopsis">City Delegates help evangelize our activities in your city. These are the committees available:</p>
          <ul>
            <li>Membership Engagement</li>
            <li>Partnerships &amp; Alliances</li>
            <li>Logistics &amp; Technical Management</li>
            <li>Sponsorships</li>
            <li>Media &amp; Marketing</li>
            <li>Mentors &amp; Judges Engagement</li>
          </ul>
          <div class="apply"><a class="button" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">Apply</a></div>
        </div>
      </div>

      <div class="job-description columns large-8 large-centered medium-10 medium-centered small-11 small-centered xsmall-11 xsmall-centered">
        <h2 class="alpha">Social &amp; Inbound Marketing Team <span>Volunteer</span></h2>
        <p class="job-location">Virtual</p>
        <div class="content">
          <p class="job-synopsis">Pakathon is looking for individuals to join the Social &amp; Inbound Marketing Team. The ideal candidate will be passionate to tell our story – and Pakistan’s story – to the world. The size of the team will be anywhere from 1 to 3 individuals. The primary objective of the team is creating, growing and maintaining a positive, value driven relationship with the Pakathon Community. The responsibilities will include:</p>
          <ul>
            <li>Creating &amp; maintaining all inbound marketing campaigns:
              <ul>
                <li>Blogging</li>
                <li>Tripwires</li>
                <li>Contest</li>
              </ul>
            </li>
            <li>Maintaining, updating, and reporting on all social media activities:
              <ul>
                <li>Facebook, Twitter, YouTube, etc.</li>
                <li>Audience Analytics</li>
              </ul>
            </li>
          </ul>
          <div class="apply"><a class="button" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">Apply</a></div>
        </div>
      </div>

      <div class="job-description columns large-8 large-centered medium-10 medium-centered small-11 small-centered xsmall-11 xsmall-centered">
        <h2 class="alpha">Public &amp; Media Relations Team <span>Volunteer</span></h2>
        <p class="job-location">Virtual</p>
        <div class="content">
          <p class="job-synopsis">Pakathon is looking for individuals to join the Public &amp; Media Relations Team. The ideal candidate will be passionate to tell our story – and Pakistan’s story – to the world. The size of the team will be anywhere from 1 to 3 individuals. The primary objective of the team is maintaining and growing Pakathon's reputation with third parties such as influencers and the press. The responsibilities will include:</p>
          <ul>
            <li>Creating &amp; maintaining press relations:
              <ul>
                <li>Press Outreach</li>
                <li>Press Releases</li>
                <li>Media Monitoring</li>
              </ul>
            </li>
            <li>Crafting a positive reputation by getting endorsements from influential parties
              <ul>
                <li>Sourcing and managing public speaking opportunities</li>
                <li>Outreach to celebrities &amp; influential parties</li>
              </ul>
            </li>
          </ul>
          <div class="apply"><a class="button" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">Apply</a></div>
        </div>
      </div>

      <div class="job-description columns large-8 large-centered medium-10 medium-centered small-11 small-centered xsmall-11 xsmall-centered">
        <h2 class="alpha">Marketing Research Team <span>Volunteer</span></h2>
        <p class="job-location">Virtual</p>
        <div class="content">
          <p class="job-synopsis">Pakathon is looking for individuals to join the Public &amp; Media Relations Team. The ideal candidate will be passionate to tell our story – and Pakistan’s story – to the world. The size of the team will be anywhere from 1 to 2 individuals. The primary objective of the team entails analysis and reporting of internal and external data to assist in making marketing decisions. The responsibilities will include:</p>
          <ul>
            <li>Research and analysis on all Pakathon audiences
              <ul>
                <li>Geographic Trends</li>
                <li>Demographic Trends</li>
              </ul>
            </li>
            <li>Research and analysis on Pakathon Startups
              <ul>
                <li>Creating case studies</li>
              </ul>
            </li>
          </ul>
          <div class="apply"><a class="button" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">Apply</a></div>
        </div>
      </div>

      <div class="job-description columns large-8 large-centered medium-10 medium-centered small-11 small-centered xsmall-11 xsmall-centered">
        <h2 class="alpha">Design &amp; Creative Team <span>Volunteer</span></h2>
        <p class="job-location">Virtual</p>
        <div class="content">
          <p class="job-synopsis">Pakathon is looking for individuals to join the Public &amp; Media Relations Team. The ideal candidate will be passionate to tell our story – and Pakistan’s story – to the world. The size of the team will be anywhere from 1 to 3 individuals. The primary objective of the team entails creating &amp; maintaining the look, feel and personality of the Pakathon Brand. The responsibilities will include:</p>
          <ul>
            <li>Designing all external marketing collateral
              <ul>
                <li>Branding</li>
                <li>Templates</li>
                <li>Creative Briefs</li>
                <li>Copy Writing</li>
                <li>All design work</li>
              </ul>
            </li>
          </ul>
          <div class="apply"><a class="button" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">Apply</a></div>
        </div>
      </div>

      <div class="job-description columns large-8 large-centered medium-10 medium-centered small-11 small-centered xsmall-11 xsmall-centered">
        <h2 class="alpha">Tech &amp; Digital Team <span>Volunteer</span></h2>
        <p class="job-location">Virtual</p>
        <div class="content">
          <p class="job-synopsis">Pakathon is looking for individuals to join the Public &amp; Media Relations Team. The ideal candidate will be passionate to tell our story – and Pakistan’s story – to the world. The size of the team will be anywhere from 1 to 3 individuals. The primary objective of the team entails maintaining and growing Pakathon's digital presence. The responsibilities will include:</p>
          <ul>
            <li>All things Pakathon Website
              <ul>
                <li>Updating the website</li>
                <li>Activity analysis and reporting of analytics</li>
              </ul>
            </li>
            <li>Maintaining digital marketing & automation
              <ul>
                <li>Communication Platforms</li>
                <li>Emails, Adwords etc.</li>
              </ul>
            </li>
          </ul>
          <div class="apply"><a class="button" href="https://pakathon.typeform.com/to/gToRsO" target="_blank">Apply</a></div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section id="careers-cta">
  <div id="apply" class="row">
    <div class="columns small-12 text-center">
      <p>If your background is a good fit, we will reach out to schedule an interview.</p>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>