<section id="careers-header" class="fixed sticky topnav">
  <div class="row">
    <div class="columns small-12 text-center">
      <nav>
        <ul>
          <li class="logo topnav-titles"><%= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:team), size: "40"), root_path %> PAKATHON</li>
          <li class="cta topnav-titles"><a class="apply-button button medium" href="#apply">APPLY</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>