<section id="careers-header" class="fixed sticky topnav">
  <div class="row">
    <div class="columns small-12 text-center">
      <nav>
        <ul>
          <li class="logo topnav-titles"><%= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:team), size: "40"), root_path %> PAKATHON</li>
          <li class="cta topnav-titles"><a class="apply-button button medium" href="#apply">APPLY</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section id="careers-carousel">
  <div class="row">
    <div class="columns small-12">
      <ul class="example-orbit" data-orbit>
        <li>
          <img src="http://sandmanhotelgroup.files.wordpress.com/2012/11/101737874.jpg" alt="slide 1" />
          <div class="orbit-caption">
            Caption One.
          </div>
        </li>
        <li class="active">
          <img src="http://upload.wikimedia.org/wikipedia/commons/0/07/Boston_downtown_skyline.jpg" alt="slide 2" />
          <div class="orbit-caption">
            Caption Two.
          </div>
        </li>
        <li>
          <img src="http://wallpaper-download.net/wallpapers/travel-wallpapers-statue-liberty-wallpaper-wallpaper-34891.jpg" alt="slide 3" />
          <div class="orbit-caption">
            Caption Three.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>