<section class="admin-new-user">
  <div class="row">
    <div class="columns xsmall-12">
      <h4 class="delta">Edit <%= @user.name %></h4>
      <%= render 'userinfo' %>
    </div>
  </div>
</section>