//----------------------------------------------------------------
//  Placeholders
//----------------------------------------------------------------
.clearfix,
%clearfix {

      &:after {
        content: "";
        width: 100%;
        height: 0;
        display: block;
        clear: both;
    }
}

.circle,
%circle {
    @include pre(background-clip, padding-box);
    @include pre(border-radius, 50%);
    overflow: hidden;
}

.has-shadow,
%has-shadow {
    box-shadow: 0 2px 3px #ccc;
    box-shadow: 0 0.2rem 0.3rem #ccc;
}


//----------------------------------------------------------------
//  General Elements
//----------------------------------------------------------------
a {
    outline: none;
    color: $greenBackground;
    font-family: "OpenSans-Light";
    font-weight: 100;

    &:hover {
        color: darken($greenBackground, 10);
    }
}

iframe, 
object, 
embed {
    max-width: 100%;
}

.img-circle {
    border-radius: 100%;
}

.success {
    border-radius: 5px;
}

li {
    list-style: none;
}

.keyline {
    height: 2px;
    background-color: rgba(94, 149, 22, 1);
}

.logo {
    position: absolute;
    top: 5px;
    left: 5%;
    right: 5%;
    font-size: 25px;
    color: rgba(94, 149, 22, 1);

    @media only screen and (max-width: 700px) {
        right: auto;
    }

    img {
        margin-bottom: 5px;
    }
}

.button {
    font-family: "OpenSans-Bold";
    @include prop(padding, 10, 30);
    @include border(1, solid, $greenLight);
    background: transparent;
    color: $greenLight;
    @include pre(transition, all 0.3s ease);
    text-transform: uppercase;

    &:hover {
        background: $greenLight;
        color: $white;
    }

    // all positioning properties need to be taken out and 
    // placed in the specific instance of this style in the other
    // stylesheet, not in common
    
    &.back-button {
        position: relative;
        @include prop(top, 20);
        @include fontSize(13);
    }

    &.tiny {
        position: relative;
        @include prop(top, 20);
        @include prop(padding, 5, 20);
        @include fontSize(13);
        @include prop(margin-right, 10);
    }

    &.green {
      color: $white;
      background: $greenLight;
      pointer: cursor;

      &:hover {
        background: $white;
        color: $greenLight;
      }
    }

    &.white {
      color: $greenLight;
      background: $white;
      pointer: cursor;

      &:hover {
        color: darken($greenLight, 5);
        background: darken($white, 2);
      }
    }

    &.white-green {
      color: $greenLight;
      background: $white;
      pointer: cursor;

      &:hover {
        background: $greenLight;
        color: $white;
      }
    }

    &.orange {
        @include border(0, solid, $orange);
        color: $white;
        background: $orange;
        @include pre(transition, background 0.3s ease);

        &:hover {
            background: darken($orange, 10);
            @include border(0, solid, $orange);
        }
    }

    &.red {
        @include border(0, solid, $red);
        color: $white;
        background: $red;
        @include pre(transition, background 0.3s ease);

        &:hover {
            background: darken($red, 10);
            @include border(0, solid, $red);
        }
    }

    &.white-red {
        @include border(1, solid, $red);
        color: $red;

        &:hover {
            background: $red;
            color: $white;
        }
    }
}

.punch {
  @include fontSize(20);
  @include pre(line-height, 1.4);
  @include prop(margin, 30, 0, 40);
  font-weight: 100;
}

.admin-users-dashboard,
.admin-new-user,
.admin-new-hackathon,
.admin-new-event,
.new-logo,
.admin-main-dashboard {
  @include prop(padding, 20, 0, 50);
}

.login-form {
  @include prop(padding, 90, 0, 50);
}

//----------------------------------------------------------------
//  Helper Classes
//----------------------------------------------------------------
.overflow-hidden {
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.v-wrapper {
  display: table;
  height: 100%;
  width: 100%;

  .v-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
}

.has-radius {
  @include radius(3);
}

.hidden {
  display: none;
}


//----------------------------------------------------------------
//  Backgrounds & Containers
//----------------------------------------------------------------
.bg-white {
  background: $white;
}

.bg-black {
  background: $black;

  * {
    color: $white;
}
}

//----------------------------------------------------------------
//  Borders
//----------------------------------------------------------------
[class*="border-"] {
  @include border(1, solid, transparent);
}

[class*="top-border"] {
  @include border(1, solid, transparent, top);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

[class*="bottom-border"] {
  @include border(1, solid, transparent, bottom);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

[class*="left-border"] {
  @include border(1, solid, transparent, left);
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

[class*="right-border"] {
  @include border(1, solid, transparent, right);
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

[class*="thick-"] {
  @include prop(border-width, 2);
}

[class*="xthick-"] {
  @include prop(border-width, 4);
}

[class*="border-white"] {
  border-color: #fff;
}