@include font(OpenSans-Bold, opensans-bold-webfont);
@include font(OpenSans-Italic, opensans-italic-webfont);
@include font(OpenSans-Light, opensans-light-webfont);
@include font(OpenSans-LightItalic, opensans-lightitalic-webfont);
@include font(OpenSans-Regular, opensans-regular-webfont);
@include font(OpenSans-Semibold, opensans-semibold-webfont);
@include font(icomoon, icomoon);

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
	color: $titleColor;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

h1, 
.alpha {
  font-family: 'OpenSans-Regular';
  @include fontSize(30);
  color: $greyLight;

  @media only screen and (max-width: ($largeScreen) + px ) {
      @include fontSize(24)
  }
}

h2, 
.beta {
  font-family: 'OpenSans-Regular';
  @include fontSize(35);

  @media only screen and (min-width: ($mediumScreen + px)) {
    @include fontSize(45);
  }
}

h3, 
.gamma {
  font-family: 'OpenSans-Light';
  @include fontSize(28);

  @media only screen and (min-width: ($mediumScreen + px)) {
    @include fontSize(30);
  }
}

h4, 
.delta {
  font-family: 'OpenSans-Regular';
  @include fontSize(22);

  @media only screen and (min-width: ($mediumScreen + px)) {
    @include fontSize(24);
  }
}

h5, 
.epsilon {
  font-family: 'OpenSans-Regular';
  @include fontSize(16);
}

h6, 
.zeta {
}

p,
li {
  font-family: 'OpenSans-Regular';
	color: $bodyColor;
  @include fontSize(16);

  &.semibold {
    font-family: 'OpenSans-Semibold';
  }

  &.heading {
    font-family: 'OpenSans-Bold';
    @include fontSize(20);
    text-transform: uppercase;
    color: $greyLight;
    position: relative;
    @include prop(margin-bottom, 20);

    &:before {
      position: absolute;
      content: "";
      @include pre(width, 100%);
      @include prop(height, 1);
      @include pre(bottom, 0);
      @include pre(left, 0);
      background-color: $greenBackground;
    }
  }

  &.tiny {
    @include fontSize(14);
    line-height: 1.6;
  }
}

ol,
ul {
    
    li {

    }
}

ul {

    li {

    }
}

ol {

    li {

    }
}

// ==========================================================================
// ICON FONT
// ==========================================================================

[class^="icon-"], [class*=" icon-"] {
    &:before {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icon-location:before {
    content: "\e612";
}
.icon-linkedin:before {
    content: "\e611";
}
.icon-twitter:before {
    content: "\e60c";
}
.icon-instagram:before {
    content: "\e60b";
}
.icon-facebook:before {
    content: "\e60a";
}
.icon-women:before {
    content: "\e60f";
}
.icon-law-order:before {
    content: "\e60e";
}
.icon-energy:before {
    content: "\e60d";
}
.icon-video:before {
    content: "\e609";
}
.icon-audio:before {
    content: "\e608";
}
.icon-doc:before {
    content: "\e607";
}
.icon-bitcoin:before {
    content: "\e600";
}
.icon-book:before {
    content: "\e601";
}
.icon-cafe:before {
    content: "\e602";
}
.icon-gaming:before {
    content: "\e603";
}
.icon-healthcare:before {
    content: "\e604";
}
.icon-retail:before {
    content: "\e605";
}
.icon-close:before {
    content: "\e610";
}
.icon-drawer:before {
    content: "\e613";
}
.icon-calendar:before {
    content: "\e606";
}