<section class="admin-new-event">
  <div class="row">
    <div class="columns xsmall-12">
      <h4 class="delta">Edit Event Details</h4>
      <%= render 'event_form' %>
    </div>
  </div>
</section>