<%= render 'layouts/header' %>

<section id="hackathon-hero">
</section>

<section id="hackathon-timeline">
  <div class="row">
    <div class="columns large-2 medium-2 small-2 xsmall-2">
      <ul>
        <li>Mini Events</li>
        <li>Orientation</li>
        <li>Hackathon</li>
        <li>Global Finals</li>
        <li>Partnerships</li>
        <li>Funding</li>
      </ul>
    </div>

    <div class="columns large-10 medium-10 small-10 xsmall-10">
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>