<%= render 'layouts/header' %>

<section id="hackathon-hero">
</section>

<section id="hackathon-timeline">
  <div class="row">
    <div class="columns large-4 medium-4 small-6 xsmall-12">
      <ul>
        <li>
          <span id="dot-one"></span>
          <p class="punch">Mini Events</p>
        </li>
        <li>
          <span id="dot-two"></span>
          <p class="punch">Orientation</p>
        </li>
        <li>
          <span id="dot-three"></span>
          <p class="punch">Hackathon</p>
        </li>
        <li>
          <span id="dot-four"></span>
          <p class="punch">Global Finals</p>
        </li>
        <li>
          <span id="dot-five"></span>
          <p class="punch">Partnerships</p>
        </li>
        <li>
          <span id="dot-six"></span>
          <p class="punch">Funding</p>
        </li>
      </ul>
    </div>

    <div class="columns large-8 medium-8 small-6 xsmall-12">
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>