<!-- <section id="contact-team">
  <div class="row">
    <div class="columns large-6 large-centered medium-6 medium-centered small-12 xsmall-12 text-center">
      <h2 class="gamma">We're always looking to add passionate and driven individuals to the team. Interested in being a part?</h2>
      <a class="button" href="javascript:void(0)">Checkout current openings</a>
    </div>
  </div>
</section> -->

<section id="contact-form">
  <div class="row">
    <div class="columns large-8 large-centered medium-10 medium-centered small-12 xsmall-12 text-center">
      <h2 class="gamma">Want to know more about Pakathon? Drop us a line and we'll get back to you very soon!</h2>
      <h2 class="gamma">contact@pakathon.org</h2>
    </div>
  </div>
</section>