<%= render 'layouts/header' %>

<section id="team-hero">
  <div class="v-wrapper">
    <div class="v-inner">
      <div class="row">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div class="hero-text text-center">
            <h2 class="gamma">A sentence on why Pakathon exists</h2>
            <p class="punch">This sentence describes the passionate team of organizers, volunteers, partners and sponsors that help make Pakathon happen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team-core">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <h2 class="gamma">Core Team</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-4 small-block-grid-6 xsmall-block-grid-4">
      <li></li>
    </ul>
  </div>
</section>

<section id="team-city-leads">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <h2 class="gamma">City Leads</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-4 small-block-grid-6 xsmall-block-grid-4">
      <li></li>
    </ul>
  </div>
</section>

<section id="team-board-of-directors">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <h2 class="gamma">Board of Directors</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-4 small-block-grid-6 xsmall-block-grid-4">
      <li></li>
    </ul>
  </div>
</section>

<section id="team-partners">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <h2 class="gamma">Partners</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-4 small-block-grid-6 xsmall-block-grid-4">
      <li></li>
    </ul>
  </div>
</section>

<section id="team-sponsors">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <h2 class="gamma">Sponsors</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-4 small-block-grid-6 xsmall-block-grid-4">
      <li></li>
    </ul>
  </div>
</section>

<section id="team-cta">
  <div class="columns large-7 medium-7 small-12 xsmall-12 text">
    <h2 class="delta">Interested in getting involved?</h2>
  </div>
  <div class="columns large-5 medium-5 small-12 xsmall-12 cta">
    <!-- this will link to the CONTACT page -->
    <a href="javascript:void(0)" class="button">Lets Talk</a>
  </div>
</section>


<%= render 'layouts/footer' %>