<%= render 'layouts/header' %>

<section id="homepage-hero">
  <div class="v-wrapper">
    <div class="v-inner">
      <div class="row">
        <div class="columns large-10 large-centered medium-10 medium-centered small-12 xsmall-12">
          <div class="hero-text text-center">
            <h2 class="gamma">A short sentence on what Pakathon is trying to accomplish and why it matters</h2>
            <p class="punch">This sentence explains why Pakathon is a worthy cause, and will make people want to learn more about it so they'll ultimately volunteer, participate in their city's hackathon, become a sponsor, etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="homepage-mission">
  <div class="row">
    <div class="columns large-10 large-centered medium-10 medium-centered small-12 xsmall-12 text-center">
      <h2 class="gamma">Our mission is to help the entrepreneurship ecosystem in Pakistan by facilitating global collaboration of participants and mentors the real sentence should be this long.</h2>
      <!-- this will link to the HACKATHON page -->
      <a href="javascript:void(0)" class="punch">Learn more about how we're making this happen</a>
    </div>
  </div>
</section>

<section id="homepage-impact">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12 text-center">
      <h2 class="gamma">A Short Statement About Making An Impact</h2>
    </div>
  </div>

  <div class="row">
    <ul class="columns large-block-grid-3 medium-block-grid-3 small-block-grid-1 xsmall-block-grid-1">
      <li class="panel text-center">
        <p class="punch">EDUCATION SERVICES</p>
        <img src="http://placehold.it/500x300&text=image">
        <p class="punch text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue a odio vel gravida. Duis tristique at tortor sed tempus.</p>
      </li>
      <li class="panel text-center">
        <p class="punch">CREATING GLOBAL NETWORKS</p>
        <img src="http://placehold.it/500x300&text=image">
        <p class="punch text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue a odio vel gravida. Duis tristique at tortor sed tempus.</p>
      </li>
      <li class="panel text-center">
        <p class="punch">FINANCING</p>
        <img src="http://placehold.it/500x300&text=image">
        <p class="punch text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue a odio vel gravida. Duis tristique at tortor sed tempus.</p>
      </li>
    </ul>
  </div>
</section>

<section id="homepage-sponsor-cta">
  <div class="row">
    <div class="columns large-7 medium-7 small-12 xsmall-12 text">
      <h2 class="delta">Interested in getting involved?</h2>
    </div>
    <div class="columns large-5 medium-5 small-12 xsmall-12 cta">
      <!-- this will link to the CONTACT page -->
      <a href="javascript:void(0)" class="button">Get in touch</a>
    </div>
  </div>
</section>

<section id="homepage-streams">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12 text-center">
      <h2 class="gamma">Streams at Pakathon</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-3 small-block-grid-2 xsmall-block-grid-2 text-center">
      <li class="panel text-center icon-healthcare">
        Healthcare in the U.S.
      </li>
      <li class="panel text-center icon-gaming">
        Gaming
      </li>
      <li class="panel text-center icon-bitcoin">
        Bitcoin and financial lending
      </li>
      <li class="panel text-center icon-book">
        storytelling
      </li>
      <li class="panel text-center icon-retail">
        retail
      </li>
      <li class="panel text-center icon-cafe">
        cafes and democracy
      </li>
    </ul>
  </div>
 <!--  <div class="row cta-row">
    <div class="columns large-8 medium-8 small-12 xsmall-12 text">
      <h2 class="delta">Learn more about how you can get involved</h2>
    </div>
    <div class="columns large-4 medium-4 small-12 xsmall-12 cta">
      <a href="javascript:void(0)" class="button">Learn More</a>
    </div>
  </div> -->
</section>

<section id="homepage-analytics">
  <div class="row">
    <div class="columns large-6 medium-6 small-12 xsmall-12 column-left">
      <div class="row">
        <div class="columns large-12 medium-12 small-12 xsmall-12 img-one">
        </div>
      </div>

      <div class="row testimonial-row">
        <div class="columns large-5 medium-6 small-12 xsmall-12">
          <div class="testimonial">
            <h2 class="gamma">"Pakathon was an experience I'll never forget."</h2>
            <p class="punch">- pakathon participant</p>
          </div>
        </div>

        <div class="columns large-7 medium-6 small-12 xsmall-12 img-two">
        </div>
      </div>
    </div>

    <div class="columns large-2 medium-2 small-12 xsmall-12 text-center column-center">
      <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-2 xsmall-block-grid-2">
        <li>
          <h2 class="gamma">1000</h2>
          <p class="punch">Global participants</p>
        </li>
        <li>
          <h2 class="gamma">15</h2>
          <p class="punch">Host cities</p>
        </li>
        <li>
          <h2 class="gamma">5</h2>
          <p class="punch">Host Countries</p>
        </li>
        <li>
          <h2 class="gamma">10</h2>
          <p class="punch">Member Universities in Pakistan</p>
        </li>
      </ul>
    </div>

    <div class="columns large-4 medium-4 small-12 xsmall-12 img-three column-right">
      <div class="img-text">
        <h2 class="gamma">A short sentence on success stories</h2>
        <p class="punch">Lorem ipsum phasellus imperdiet libero eget erat congue elementum</p>
        <!-- link to HACKATHON page -->
        <a class="button" href="javascript:void(0)">get involved</a>
      </div>
    </div>
  </div>
</section>

<section id="homepage-news">
  <div class="row text-center">
    <div class="columns large-4 medium-12 small-12 xsmall-12">
      <h2 class="gamma">Pakathon In The News</h2>
    </div>

    <div class="columns large-8 medium-12 small-12 xsmall-12 text-center">
      <div class="row text-center">
        <ul class="columns large-block-grid-3 medium-block-grid-3 small-block-grid-3 xsmall-block-grid-1">
          <li class="panel text-center" id="pakathon-news-one">
            <a href="http://www.metro.us/local/pakathon-boston-techies-tackle-pakistan-problems/tmWmhA---3cNwhU1bEl2Vc/" target="_blank"></a>
          </li>
          <li class="panel text-center" id="pakathon-news-two">
            <a href="http://tribune.com.pk/story/584560/pakathon-aims-at-solving-pakistans-problems-through-technology/" target="_blank"></a>
          </li>
          <li class="panel text-center" id="pakathon-news-three">
            <a href="http://asiasociety.org/blog/asia/pakathon-taps-pakistani-diasporas-best-and-brightest-smart-solutions" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="homepage-social">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12 text-center social-text">
      <h2 class="gamma">Keep in Touch</h2>
      <p class="punch">Follow us on social media to stay informed with the exciting things to come</p>
      <div class="row">
        <div class="columns large-6 large-centered medium-6 medium-centered small-6 small-centered xsmall-12">
          <div id="social-icons-facebook" class="social-icons">
            <a href="https://www.facebook.com/PakathonBoston">
            </a>
          </div>
          <div id="social-icons-twitter" class="social-icons">
            <a href="https://twitter.com/PakathonGlobal">
            </a>
          </div>
          <div id="social-icons-instagram" class="social-icons">
            <a href="https://instagram.com/pakathonglobal/">
            </a>
          </div>
        </div>
      </div>
    </div>

   <!--  <div class="columns large-6 medium-6 small-12 xsmall-12">
      <div class="tweet">
        <a class="twitter-timeline" href="https://twitter.com/search?q=pakathon" data-widget-id="509175845777182720" data-chrome="transparent" width="500" height="104"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div> -->
  </div>
</section>

<%= render 'layouts/footer' %>