<section id="team-hero">
  <div class="v-wrapper">
    <div class="v-inner">
      <div class="row">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div class="hero-text text-center">
            <h2 class="gamma">A sentence on why Pakathon exists</h2>
            <p class="punch">This sentence describes the passionate team of organizers, volunteers, partners and sponsors that help make Pakathon happen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team-core">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <h2 class="gamma">TEAM</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-4 small-block-grid-3 xsmall-block-grid-2">
      <% @users.each do |user| %>
        <% if user.type_of_user == "Core Team Member" || user.type_of_user == "City Lead" %>
          <li class="team-photo text-center">
            <%= image_tag user.avatar %>
            <h2 class="epsilon"><%= user.name %></h2>
            <p class="user-description"><%= user.description %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>

<!-- <section id="team-city-leads">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <h2 class="gamma">CITY LEADS</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-4 small-block-grid-3 xsmall-block-grid-2">
      <%# @users.each do |user| %>
        <%# if user.type_of_user == "City Lead" %>
          <li class="team-photo text-center">
            <%#= image_tag user.avatar %>
            <h2 class="epsilon"><%#= user.name %></h2>
            <p class="user-description"><%#= user.description %></p>
          </li>
        <%# end %>
      <%# end %>
    </ul>
  </div>
</section> -->

<!-- <section id="team-partners">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <h2 class="gamma">Partners</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-6 small-block-grid-4 xsmall-block-grid-4">
      <li></li>
    </ul>
  </div>
</section>

<section id="team-sponsors">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <h2 class="gamma">Sponsors</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-6 small-block-grid-4 xsmall-block-grid-4">
      <li></li>
    </ul>
  </div>
</section>

<section id="team-cta">
  <div class="columns large-7 medium-7 small-12 xsmall-12 text">
    <h2 class="delta">Interested in getting involved?</h2>
  </div>
  <div class="columns large-5 medium-5 small-12 xsmall-12 cta">
    <a href="javascript:void(0)" class="button">Lets Talk</a>
  </div>
</section> -->