<%= render 'layouts/header' %>

<section id="hackathon-hero">
</section>

<section id="hackathon-timeline">
  <div class="row main">
    <div class="columns large-4 medium-4 small-6 xsmall-12 left-panel">
      <ul>
        <li>
          <a href="#mini-events-panel" class="smooth-scroll">
            <span id="dot-one"></span>
            <p class="punch">Mini Events</p>
          </a>
        </li>
      
        <li>
          <a href="#orientation-panel" class="smooth-scroll">
            <span id="dot-two"></span>
            <p class="punch">Orientation</p>
          </a>
        </li>
      
        <li>
          <a href="#hackathon-panel" class="smooth-scroll">
            <span id="dot-three"></span>
            <p class="punch">Hackathon</p>
          </a>
        </li>
      
        <li>
          <a href="#global-finals-panel" class="smooth-scroll">
            <span id="dot-four"></span>
            <p class="punch">Global Finals</p>
          </a>
        </li>
      
        <li>
          <a href="#partnerships-panel" class="smooth-scroll">
            <span id="dot-five"></span>
            <p class="punch">Partnerships</p>
          </a>
        </li>

        <li>
          <a href="#funding-panel" class="smooth-scroll">
            <span id="dot-six"></span>
            <p class="punch">Funding</p>
          </a>
        </li>        
      </ul>
    </div>

    <div class="columns large-8 medium-8 small-6 xsmall-12">
      <div class="row timeline-panel" id="mini-events-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <img id="img-mini-events" class="timeline-panel-img">
          <div class="timeline-panel-text">
            <h2 class="gamma">Mini Events</h2>
            <h2 class="delta">Year-Round</h2>
            <p class="punch">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac cursus lacus. Fusce finibus finibus urna non vehicula. Nulla venenatis nunc at venenatis bibendum. Donec ac velit non est aliquet tincidunt eget a tortor. Morbi a molestie est.</p>
          </div>
        </div>
      </div>

      <div class="row timeline-panel" id="orientation-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <img id="img-mini-events" class="timeline-panel-img">
          <div class="timeline-panel-text">
            <h2 class="gamma">Orientation</h2>
            <h2 class="delta">First two weeks of september</h2>
            <p class="punch">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac cursus lacus. Fusce finibus finibus urna non vehicula. Nulla venenatis nunc at venenatis bibendum. Donec ac velit non est aliquet tincidunt eget a tortor. Morbi a molestie est.</p>
          </div>
        </div>
      </div>

      <div class="row timeline-panel" id="hackathon-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <img id="img-mini-events" class="timeline-panel-img">
          <div class="timeline-panel-text">
            <h2 class="gamma">Hackathon</h2>
            <h2 class="delta">October 2nd - 4th, 2015</h2>
            <p class="punch">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac cursus lacus. Fusce finibus finibus urna non vehicula. Nulla venenatis nunc at venenatis bibendum. Donec ac velit non est aliquet tincidunt eget a tortor. Morbi a molestie est.</p>
          </div>
        </div>

        <div class="columns large-12 medium-12 small-12 xsmall-12 hackathon-day-one">
          <img id="img-mini-events" class="hackathon-panel-img">
          <div class="timeline-panel-text">
            <h2 class="delta">Day 1</h2>
            <p class="punch">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac cursus lacus. Fusce finibus finibus urna non vehicula. Nulla venenatis nunc at venenatis bibendum. Donec ac velit non est aliquet tincidunt eget a tortor. Morbi a molestie est.</p>
          </div>
        </div>

        <div class="columns large-12 medium-12 small-12 xsmall-12 hackathon-day-two">
          <img id="img-mini-events" class="hackathon-panel-img">
          <div class="timeline-panel-text">
            <h2 class="delta">Day 2</h2>
            <p class="punch">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac cursus lacus. Fusce finibus finibus urna non vehicula. Nulla venenatis nunc at venenatis bibendum. Donec ac velit non est aliquet tincidunt eget a tortor. Morbi a molestie est.</p>
          </div>
        </div>

        <div class="columns large-12 medium-12 small-12 xsmall-12 hackathon-day-three">
          <img id="img-mini-events" class="hackathon-panel-img">
          <div class="timeline-panel-text">
            <h2 class="delta">Day 3</h2>
            <p class="punch">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac cursus lacus. Fusce finibus finibus urna non vehicula. Nulla venenatis nunc at venenatis bibendum. Donec ac velit non est aliquet tincidunt eget a tortor. Morbi a molestie est.</p>
          </div>
        </div>
      </div>

      <div class="row timeline-panel" id="global-finals-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <img id="img-mini-events" class="timeline-panel-img">
          <div class="timeline-panel-text">
            <h2 class="gamma">Global Finals</h2>
            <h2 class="delta">November 10th</h2>
            <p class="punch">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac cursus lacus. Fusce finibus finibus urna non vehicula. Nulla venenatis nunc at venenatis bibendum. Donec ac velit non est aliquet tincidunt eget a tortor. Morbi a molestie est.</p>
          </div>
        </div>
      </div>

      <div class="row timeline-panel" id="partnerships-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <img id="img-mini-events" class="timeline-panel-img">
          <div class="timeline-panel-text">
            <h2 class="gamma">Partnerships</h2>
            <h2 class="delta">Year-Round</h2>
            <p class="punch">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac cursus lacus. Fusce finibus finibus urna non vehicula. Nulla venenatis nunc at venenatis bibendum. Donec ac velit non est aliquet tincidunt eget a tortor. Morbi a molestie est.</p>
          </div>
        </div>
      </div>

      <div class="row timeline-panel" id="funding-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <img id="img-mini-events" class="timeline-panel-img">
          <div class="timeline-panel-text">
            <h2 class="gamma">Funding</h2>
            <h2 class="delta">Year-Round</h2>
            <p class="punch">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac cursus lacus. Fusce finibus finibus urna non vehicula. Nulla venenatis nunc at venenatis bibendum. Donec ac velit non est aliquet tincidunt eget a tortor. Morbi a molestie est.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>