<%= render 'layouts/header' %>

<section id="team-hero">
  <div class="v-wrapper">
    <div class="v-inner">
      <div class="row">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div class="hero-text text-center">
            <h2 class="gamma">A sentence on why Pakathon exists</h2>
            <p class="punch">This sentence describes the passionate team of organizers, volunteers, partners and sponsors that help make Pakathon happen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>