<section id="global-final-hero">
  <div class="row">
    <div class="columns large-10 large-centered medium-10 medium-centered small-12 xsmall-12">
      <div class="hero-text text-center">
        <h3 class="gamma">PAKATHON GLOBAL FINAL</h3>
        <p class="punch">Please check back on <span>November 8th, 2015 at 10:30AM EST</span> for the link to the livestream. In the meantime, enjoy and get inspired by all the activity coming in globally via Twitter below. We look forward to you joining the conversation online as we crown the Pakathon 2015 Winning Team!</p>
      </div>
    </div>
  </div>
</section>

<section id="twitter-grid">
  <div class="row">
    <div class="columns xsmall-12 large-10 large-centered text-center">
      <h4 class="delta">Follow all the activity from the Global Finals using the hashtags <span class="green">#pakathon</span> <span class="green">#changemaker</span> <span class="green">#globalfinal2015</span></h4>
      <p class="small">(momentarily refresh to view the latest curated tweets)</p>
      <a class="twitter-grid" href="https://twitter.com/_/timelines/663173774552887296">Official Global Finals Twitter Stream</a> <script async src="https://platform.twitter.com/widgets.js"></script>
    </div>
  </div>
</section>