<%= render 'layouts/header' %>

<section id="homepage-hero">
  <div class="v-wrapper">
    <div class="v-inner">
      <div class="row">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div class="hero-text">
            <h2 class="gamma">A short sentence on what Pakathon is trying to accomplish and why it matters</h2>
            <p class="punch">This sentence explains why Pakathon is a worthy cause, and will make people want to learn more about it so they'll ultimately volunteer, participate in their city's hackathon, become a sponsor, etc.</p>
            <a id="homepage-hero-button" class="button" href="javascript:void(0)">Get Involved</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="homepage-mission">
  <div class="row">
    <div class="columns large-10 large-centered medium-10 medium-centered small-12 xsmall-12 text-center">
      <h2 class="gamma">Our mission is to help the entrepreneurship ecosystem in Pakistan by facilitating global collaboration of participants and mentors the real sentence should be this long.</h2>
      <a href="javascript:void(0)" class="punch">Learn more about how we're making this happen</a>
    </div>
  </div>
</section>

<section id="homepage-impact">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12 text-center">
      <h2 class="gamma">A Short Statement About Making An Impact</h2>
    </div>
  </div>

  <div class="row">
    <ul class="columns large-block-grid-3 medium-block-grid-3 small-block-grid-1 xsmall-block-grid-1">
      <li class="panel text-center">
        <p class="punch">EDUCATION SERVICES</p>
        <img src="http://placehold.it/500x300&text=image">
        <p class="punch text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue a odio vel gravida. Duis tristique at tortor sed tempus.</p>
      </li>
      <li class="panel text-center">
        <p class="punch">CREATING GLOBAL NETWORKS</p>
        <img src="http://placehold.it/500x300&text=image">
        <p class="punch text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue a odio vel gravida. Duis tristique at tortor sed tempus.</p>
      </li>
      <li class="panel text-center">
        <p class="punch">FINANCING</p>
        <img src="http://placehold.it/500x300&text=image">
        <p class="punch text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue a odio vel gravida. Duis tristique at tortor sed tempus.</p>
      </li>
    </ul>
  </div>
</section>

<section id="homepage-sponsor-cta">
  <div class="row">
    <div class="columns large-6 medium-6 small-12 xsmall-12 text">
      <h2 class="delta">Interested in getting involved?</h2>
    </div>
    <div class="columns large-6 medium-6 small-12 xsmall-12 cta">
      <a href="javascript:void(0)" class="button">CTA for Sponsors/Partners</a>
    </div>
  </div>
</section>

<section id="homepage-streams">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12 text-center">
      <h2 class="gamma">Introduction to all streams at Pakathon</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-3 small-block-grid-2 xsmall-block-grid-1 text-center">
      <li class="panel text-center">
        <img src="http://placehold.it/300x200&text=icon+and+title+of+track">
      </li>
      <li class="panel text-center">
        <img src="http://placehold.it/300x200&text=icon+and+title+of+track">
      </li>
      <li class="panel text-center">
        <img src="http://placehold.it/300x200&text=icon+and+title+of+track">
      </li>
      <li class="panel text-center">
        <img src="http://placehold.it/300x200&text=icon+and+title+of+track">
      </li>
      <li class="panel text-center">
        <img src="http://placehold.it/300x200&text=icon+and+title+of+track">
      </li>
      <li class="panel text-center">
        <img src="http://placehold.it/300x200&text=icon+and+title+of+track">
      </li>
    </ul>
  </div>
  <div class="row cta-row">
    <div class="columns large-8 medium-8 small-12 xsmall-12 text">
      <h2 class="delta">Learn more about how you can get involved</h2>
    </div>
    <div class="columns large-4 medium-4 small-12 xsmall-12 cta">
      <a href="javascript:void(0)" class="button">Learn More</a>
    </div>
  </div>
</section>

<section id="homepage-news">
  <div class="row">
    <div class="columns large-4 medium-4 small-12 xsmall-12">
      <h2 class="gamma">Pakathon In The News</h2>
      <p class="punch text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue a odio vel gravida. Duis tristique at tortor sed tempus. <a href="javascript:void(0)">See All</a></p>
    </div>
    <div class="columns large-8 medium-8 small-12 xsmall-12">
      <div class="row text-center">
        <ul class="columns large-block-grid-3 medium-block-grid-3 small-block-grid-3 xsmall-block-grid-3">
          <li class="panel text-center">
            <img src="http://placehold.it/200&text=logo">
          </li>
          <li class="panel text-center">
            <img src="http://placehold.it/200&text=logo">
          </li>
          <li class="panel text-center">
            <img src="http://placehold.it/200&text=logo">
          </li>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="homepage-hackathon">
  <div class="v-wrapper">
    <div class="v-inner">
      <div class="row">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div class="homepage-hackathon-text">
            <h2 class="gamma">A short sentence on what Pakathon actually is, as an event</h2>
            <p class="punch">A couple of sentences about the intent behind the hackathon and its impact</p>
            <a id="homepage-hackathon-button" class="button" href="javascript:void(0)">Learn More About The Hackathon</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="homepage-analytics">
  <div class="row main-row">
    <div class="columns large-8 medium-8 small-12 xsmall-12">
      <div class="row">
        <div class="columns large-5 medium-5 small-12 xsmall-12 data-or-image-1">
          <h2 class="gamma">Some data or image</h2>
        </div>
        <div class="columns large-2 medium-2 small-8 xsmall-8">
          <div class="row">
            <div class="columns large-12 medium-12 small-12 xsmall-12 stat-detail">
              <h2 class="gamma">50%</h2>
              <p class="punch">STAT DETAIL</p>
            </div>
          </div>

          <div class="row">
            <div class="columns large-12 medium-12 small-12 xsmall-12 stat-detail">
              <h2 class="gamma">15K</h2>
              <p class="punch">STAT DETAIL</p>
            </div>
          </div>
        </div>
        <div class="columns large-5 medium-5 small-4 xsmall-4 data-or-image-2">
          <h2 class="gamma">Some data or image</h2>
        </div>
      </div>

      <div class="row">
        <div class="columns large-6 medium-6 small-12 xsmall-12">
          <h2 class="gamma"><i>"Pakathon was an experience I'll never forget."</i></h2>
          <p class="punch">- PAKATHON PARTICIPANT</p>
        </div>

        <div class="columns large-4 medium-4 small-6 xsmall-6 data-or-image-3">
          <h2 class="gamma">Some data or image</h2>
        </div>

        <div class="columns large-2 medium-2 small-6 xsmall-6">
          <div class="row">
            <div class="columns large-12 medium-12 small-12 xsmall-12 stat-detail">
              <h2 class="gamma">863</h2>
              <p class="punch">STAT DETAIL</p>
            </div>
          </div>

          <div class="row">
            <div class="columns large-12 medium-12 small-12 xsmall-12 stat-detail">
              <h2 class="gamma">10,000</h2>
              <p class="punch">STAT DETAIL</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns large-4 medium-4 small-12 xsmall-12">
      <div class="row panel-right-top">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <h2 class="gamma">A short sentence on success stories</h2>
          <p class="punch">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="button" href="javascript:void(0)">Get Involved</a>
        </div>
      </div>

      <div class="row panel-right-bottom">
        <div class="columns large-12 medium-12 small-12 xsmall-12 data-or-image-4">
          <h2 class="gamma">Some data or image</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="homepage-social">
  <div class="row">
    <div class="columns large-6 medium-6 small-12 xsmall-12 social-text">
      <h2 class="gamma">Keep in Touch</h2>
      <p class="punch">Follow us on social media to stay informed with the exciting things to come</p>
      <div class="row">
        <ul class="columns large-block-grid-4 medium-block-grid-4 small-block-grid-4 xsmall-block-grid-4">
          <li><img class="circle" src="http://placehold.it/50"></li>
          <li><img class="circle" src="http://placehold.it/50"></li>
          <li><img class="circle" src="http://placehold.it/50"></li>
          <li><img class="circle" src="http://placehold.it/50"></li>
        </ul>
      </div>
    </div>

    <div class="columns large-6 medium-6 small-12 xsmall-12">
      <div class="tweet">
        <p class="punch">"Latest Tweet Here Lorem ipsum dolor sit amet, consectetur adipiscing elit"</p>
      </div>
    </div>
  </div>
</section>