<%= render 'layouts/header' %>

<section id="homepage-hero">
  <div class="v-wrapper">
    <div class="v-inner">
      <div class="row">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div class="hero-text">
            <h2 class="gamma">A short sentence on what Pakathon is trying to accomplish and why it matters</h2>
            <p class="punch">This sentence explains why Pakathon is a worthy cause, and will make people want to learn more about it so they'll ultimately volunteer, participate in their city's hackathon, become a sponsor, etc.</p>
            <a id="homepage-hero-button" class="button" href="javascript:void(0)">Get Involved</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="homepage-mission">
  <div class="row">
    <div class="columns large-10 large-centered medium-10 medium-centered small-12 xsmall-12 text-center">
      <h2 class="gamma">Our mission is to help the entrepreneurship ecosystem in Pakistan by facilitating global collaboration of participants and mentors the real sentence should be this long.</h2>
      <a href="javascript:void(0)" class="punch">Learn more about how we're making this happen</a>
    </div>
  </div>
</section>