<section id="hackathon-timeline">
  <div class="row main">
    <div class="columns large-4 medium-4 small-4 xsmall-12 left-panel">
      <ul>
        <li>
          <a href="#mini-events-panel" id="mini-events-node" class="smooth-scroll active">
            <span id="dot-one"></span>
            <p class="punch">Mini Events</p>
          </a>
        </li>
      
        <li>
          <a href="#orientation-panel" id="orientation-node" class="smooth-scroll">
            <span id="dot-two"></span>
            <p class="punch">Orientation</p>
          </a>
        </li>
      
        <li>
          <a href="#hackathon-panel" id="hackathon-node" class="smooth-scroll">
            <span id="dot-three"></span>
            <p class="punch">Hackathon</p>
          </a>
        </li>
      
        <li>
          <a href="#global-finals-panel" id="global-finals-node" class="smooth-scroll">
            <span id="dot-four"></span>
            <p class="punch">Global Finals</p>
          </a>
        </li>
      
        <li>
          <a href="#partnerships-and-funding-panel" id="partnerships-and-funding-node" class="smooth-scroll">
            <span id="dot-five"></span>
            <p class="punch">Partnerships and Funding</p>
          </a>
        </li>
      </ul>

      <div class="tablet-desktop">
        <%= link_to "Hackathon Judging Criteria", "#program-judging-criteria", {class: "button green smooth-scroll", target: "_blank"} %>
      </div>

      <div class="mobile">
        <%= link_to "Judging Criteria", "#program-judging-criteria", {class: "button green smooth-scroll", target: "_blank"} %>
      </div>
    </div>

    <div class="columns large-8 medium-8 small-8 xsmall-12 right-panel">
      <div class="row timeline-panel" id="mini-events-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div id="img-mini-events" class="timeline-panel-img circle"></div>
          <div class="timeline-panel-text">
            <h2 class="gamma">Mini Events</h2>
            <h2 class="icon-calendar delta">Year-Round</h2>
            <p class="punch">Each city chapter organizes 2-3 mini events focused on a particular subject matter and/or bringing the community together. These range from mango lassi coding sessions to conversations with mentors, investors and entrepreneurs.</p>
          </div>
        </div>
      </div>

      <div class="row timeline-panel" id="orientation-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div id="img-orientation" class="timeline-panel-img circle"></div>
          <div class="timeline-panel-text">
            <h2 class="gamma">Orientation</h2>
            <h2 class="icon-calendar delta">First two weeks of september</h2>
            <p class="punch">Orientation sessions are held two weeks prior to the main hackathon in October. This allows participants to start networking with other participants and mentors. We will be on hand to answer any questions and help you connect with other participants across the world.</p>
          </div>
        </div>
      </div>

      <div class="row timeline-panel" id="hackathon-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div id="img-hackathon" class="timeline-panel-img circle"></div>
          <div class="timeline-panel-text">
            <h2 class="gamma">Hackathon</h2>
            <h2 class="icon-calendar delta">October 2nd - 4th, 2015</h2>
            <p class="punch">Our flagship event is a three day hackathon that takes place across all our chapters and university locations across the world, at the same time! This year the event will take place on the weekend of October 2nd 2015. A hackathon is an event where individuals from different backgrounds ranging from software to business and design intensively collaborate to launch a venture.</p>
          </div>
        </div>

        <div class="columns large-12 medium-12 small-12 xsmall-12 hackathon-day-one">
          <div id="img-hackathon-day-one" class="timeline-panel-img circle"></div>
          <div class="timeline-panel-text">
            <h2 class="icon-calendar delta">Day 1</h2>
            <p class="punch">Friday night begins with participants brainstorming with mentors and refining their ideas. Be ready to think on your feet and challenge yourself. Meet and debate others interested in your ideas. Find individuals with different skill sets to make sure you have a well rounded team of engineers, designers and strategists. At the end of the night one person from each team pitches to the audience and gives one last call for team members.  Friday night is the last time you have to form a team. Pakathon organizers will felicitate introductions and brainstorming.</p>
          </div>
        </div>

        <div class="columns large-12 medium-12 small-12 xsmall-12 hackathon-day-two">
          <div id="img-hackathon-day-two" class="timeline-panel-img circle"></div>
          <div class="timeline-panel-text">
            <h2 class="icon-calendar delta">Day 2</h2>
            <p class="punch">Come in early, grab some coffee and get ready to work. Each team must create a business plan and a prototype of product wherever applicable. If you have a website, software or hardware create a mockup and practise demo-ing it. Coordinate and hold skype check-ins with team members in other cities. Chapters will have mentors on hand or over skype to help you with your business plan and prototype. Check with your city to see how long they have their facilities open. Teams with participants in multiple cities must pick which city their team will be collectively pitching from.</p>
          </div>
        </div>

        <div class="columns large-12 medium-12 small-12 xsmall-12 hackathon-day-three">
          <div id="img-hackathon-day-three" class="timeline-panel-img circle"></div>
          <div class="timeline-panel-text">
            <h2 class="icon-calendar delta">Day 3</h2>
            <p class="punch">Teams will have a few hours in the morning to finalize their pitches, slides and any prototype they will be demo-ing. Then pitching starts, each team gets assigned a time block to pitch in front of judges. Judges pick the winner from each city or university based on the quality of plan and global collaboration of the team.</p>
          </div>
        </div>
      </div>

      <div class="row timeline-panel" id="global-finals-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div id="img-global-finals" class="timeline-panel-img circle"></div>
          <div class="timeline-panel-text">
            <h2 class="gamma">Global Finals</h2>
            <h2 class="icon-calendar delta">November 8th</h2>
            <p class="punch">The winner from each city or university will be invited to participate in global judging and compete. Winning teams have the option to pitch in person or send a video for our judges. Our all star judging panel is a mix of VCs, investors and entrepreneurs and they will pick the global winners that will be awarded prize money. This year the global finals will be held in second week of November in Toronto.</p>
          </div>
        </div>
      </div>

      <div class="row timeline-panel" id="partnerships-and-funding-panel">
        <div class="columns large-12 medium-12 small-12 xsmall-12">
          <div id="img-partnerships-and-funding" class="timeline-panel-img circle"></div>
          <div class="timeline-panel-text">
            <h2 class="gamma">Partnerships and Funding</h2>
            <h2 class="icon-calendar delta">Year-Round</h2>
            <p class="punch">We have partnerships with incubators and co-working spaces around the world to take your venture to the next step. Additionally we work with many of our sponsors to provide funding to our highest performing teams through grants in return for equity.</p>
          </div>
        </div>
      </div>

      <div class="row" id="program-judging-criteria">
        <div class="columns xsmall-12 text-center">
          <h2 class="gamma">Hackathon Judging Criteria</h2>
        </div>

        <ul class="columns large-block-grid-1 medium-block-grid-1 small-block-grid-1 xsmall-block-grid-1">
          <li>
            <div class="single-question">
              <h2 class="alpha">How are you making an impact? [40%]</h2>
              <div class="content">
                <ul>
                  <li class="green-bullet">Are you disrupting an industry?</li>
                  <li class="green-bullet">Who is your target market? What value are you providing them?</li>
                  <li class="green-bullet">What is the size of the market or the number of people impacted?</li>
                  <li class="green-bullet">How do you plan on reaching your target audience?</li>
                  <li class="green-bullet">How do you plan on making this financially sustainable? What is your revenue stream?</li>
                </ul>
              </div>
            </div>
          </li>

          <li>
            <div class="single-question">
              <h2 class="alpha">Tell us your story and share progress over the weekend. [40%]</h2>
              <div class="content">
                <ul>
                  <li class="green-bullet">Share the bios of your team and tell us why you are the right people to be working on this idea.</li>
                  <li class="green-bullet">Is there anything in your team’s background that will help you execute this project?</li>
                  <li class="green-bullet">What is the project you are working on?</li>
                  <li class="green-bullet">Demonstrate evidence of progress over the weekend.</li>
                  <li class="green-bullet">If you have a software or web based product, demonstrate how it would work.</li>
                  <li class="green-bullet">If you have a design mockup, demonstrate the User Interface.</li>
                </ul>
              </div>
            </div>
          </li>

          <li>
            <div class="single-question">
              <h2 class="alpha">How have you collaborated globally? [20%]</h2>
              <div class="content">
                <ul>
                  <li class="green-bullet">Did you work or interact with colleagues in another city? How did you collaborate and communicate?</li>
                  <li class="green-bullet">What tools did you use to collaborate (e.g Github, Pakathon Forum, Skype)</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="program-nav">
  <ul>
    <li>
      <a href="#mini-events-panel" id="mini-events-node" class="smooth-scroll">
        <span id="dot-one"></span>
        <p class="punch">Mini Events</p>
      </a>
    </li>
  
    <li>
      <a href="#orientation-panel" id="orientation-node" class="smooth-scroll">
        <span id="dot-two"></span>
        <p class="punch">Orientation</p>
      </a>
    </li>
  
    <li>
      <a href="#hackathon-panel" id="hackathon-node" class="smooth-scroll">
        <span id="dot-three"></span>
        <p class="punch">Hackathon</p>
      </a>
    </li>
  
    <li>
      <a href="#global-finals-panel" id="global-finals-node" class="smooth-scroll">
        <span id="dot-four"></span>
        <p class="punch">Global Finals</p>
      </a>
    </li>
  
    <li>
      <a href="#partnerships-and-funding-panel" id="partnerships-and-funding-node" class="smooth-scroll">
        <span id="dot-five"></span>
        <p class="punch">Partnerships and Funding</p>
      </a>
    </li>

    <li>
      <a href="#program-judging-criteria" class="smooth-scroll">
        <span id="dot-six"></span>
        <p class="punch">Judging Criteria</p>
      </a>
    </li> 
  </ul>
  <a class="button circle icon-drawer" id="page-nav-btn"><span class="hidden">Nav</span></a>
</div>