<section id="resources-hero">
  <div class="row">

    <!-- email course -->
    <ul class="columns large-block-grid-4 medium-block-grid-3 small-block-grid-2 xsmall-block-grid-1">
      <li class="resource-box">
        <a href="https://pakathonto.uberflip.com/i/537429-test-email-course-module-1-v2" class="main-resource-link" target="_blank">
          <div class="text-center icon-text-file">
            <p class="type">Email Course</p>
            <h4><span>PDF</span><br> Module 1: An Entrepreneurial Perspective on Pakistan's Creation</h4>
            <div class="resource-posted">
              <p class="tiny">Posted On: July 8th, 2015</p>
            </div>
            <div class="download-link">
              <a href="https://www.dropbox.com/s/2ax2m8afhfvlweb/CSI_HiveWire_Crowdfunding_Guide%202015.pdf?dl=0" class="tiny" target="_blank">Or click here to download</a>
            </div>

            <a href="https://twitter.com/intent/tweet?text=%E2%80%9CFlash%20Messages%20with%20Rails%20and%20Angular.%E2%80%9D%20by%20%40JoshuaWComeau%20https%3A%2F%2Fmedium.com%2F%40joshuawcomeau%2Fflash-messages-with-rails-and-angular-91d43f4517d1%3Fsource%3Dtw-669b36e543f3-1436411215246">Tweet</a>

<!--             <a href="https://twitter.com/share" class="twitter-share-button" data-via="tahaadiljalil" data-related="pakathonTO" data-hashtags="helloword">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
 -->
            <!-- https://twitter.com/intent/tweet?text=%E2%80%9CFlash%20Messages%20with%20Rails%20and%20Angular.%E2%80%9D%20by%20%40JoshuaWComeau%20https%3A%2F%2Fmedium.com%2F%40joshuawcomeau%2Fflash-messages-with-rails-and-angular-91d43f4517d1%3Fsource%3Dtw-669b36e543f3-1436411215246 -->

            <!-- <a href="https://twitter.com/share" class="twitter-share-button" data-via="tahaadiljalil">Share on Twitter</a> -->
      
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </a>
      </li>




    <!-- webinar blog -->
      <li class="resource-box">
        <a href="https://medium.com/@PakathonTO/pakathon-webinar-series-ecoenergyfinance-and-energy-in-pakistan-53e8a50616da" class="main-resource-link" target="_blank">
          <div class="text-center icon-text-file">
            <p class="type">Webinar Series</p>
            <h4><span>Blog</span><br> EcoEnergyFinance and Energy in Pakistan</h4>
            <div class="resource-posted">
              <p class="tiny">Posted On: June 30th, 2015</p>
            </div>
            <!-- <div class="download-link">
              <a href="https://www.dropbox.com/s/2ax2m8afhfvlweb/CSI_HiveWire_Crowdfunding_Guide%202015.pdf?dl=0" class="tiny" target="_blank">Or click here to download</a>
            </div> -->
          </div>
        </a>
      </li>

    <!-- webinar video -->
      <li class="resource-box">
        <a href="https://youtu.be/lIdjFVjQgWE" class="main-resource-link" target="_blank">
          <div class="text-center icon-video-file">
            <p class="type">Webinar Series</p>
            <h4><span>Video</span><br> EcoEnergyFinance and Energy in Pakistan</h4>
            <div class="resource-posted">
              <p class="tiny">Posted On: June 30th, 2015</p>
            </div>
            <!-- <div class="download-link">
              <a href="https://www.dropbox.com/s/2ax2m8afhfvlweb/CSI_HiveWire_Crowdfunding_Guide%202015.pdf?dl=0" class="tiny" target="_blank">Or click here to download</a>
            </div> -->
          </div>
        </a>
      </li>

    <!-- webinar audio -->
      <li class="resource-box">
        <a href="https://soundcloud.com/pakathon-toronto/webinar-energy-ecoenergyfinance" class="main-resource-link" target="_blank">
          <div class="text-center icon-audio-file">
            <p class="type">Webinar Series</p>
            <h4><span>Audio</span><br> EcoEnergyFinance and Energy in Pakistan</h4>
            <div class="resource-posted">
              <p class="tiny">Posted On: June 30th, 2015</p>
            </div>
            <!-- <div class="download-link">
              <a href="https://www.dropbox.com/s/2ax2m8afhfvlweb/CSI_HiveWire_Crowdfunding_Guide%202015.pdf?dl=0" class="tiny" target="_blank">Or click here to download</a>
            </div> -->
          </div>
        </a>
      </li>

    <!-- webinar slideshare -->
      <li id="june-webinar-slideshare" class="resource-box">
        <a href="#june-webinar-slideshare" target="_blank">
          <div class="text-center icon-text-file">
            <p class="type">Webinar Series</p>
            <h4><span>Slide Deck</span><br> EcoEnergyFinance and Energy in Pakistan</h4>
            <div class="resource-posted">
              <p class="tiny">Posted On: June 30th, 2015</p>
            </div>
            <!-- <div class="download-link">
              <a href="https://www.dropbox.com/s/2ax2m8afhfvlweb/CSI_HiveWire_Crowdfunding_Guide%202015.pdf?dl=0" class="tiny" target="_blank">Or click here to download</a>
            </div> -->
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>