<section id="streams">
  <div class="row">
    <div class="columns xsmall-12 small-12 medium-12 large-12 text-center">
      <h1 class="beta">Streams</h1>

      <div class="streams-description">
        <p class="text-center">
          For some of these streams, the sheer number, complexity and enormity of the challenges might be formidable. Don't be daunted. A critical part of the process is finding a problem area that you can effectively address - so spend some time thinking about each of the areas and try to identify discrete challenges. Each stream listed below refers to case studies that have attained substantial success, in terms of sustainability, growth, business strategy, and plan execution. Although we commend and applaud these initiatives, they are only examples. We’re looking for innovative new ideas, even if they’re tailored on similar scopes to the case studies and themes mentioned here. Ideal Pakathon projects will be measurable, scope-focused, and impact-oriented.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <ul class="columns large-block-grid-2 medium-block-grid-2 small-block-grid-1 xsmall-block-grid-1">
      <li id="stream-healthcare">
        <div class="single-stream">
          <h2 class="alpha icon-healthcare">Healthcare</h2>
          <div class="content">
            <p class="description">
              Healthcare in Pakistan is in crisis. Without a free national health service, patients turn to <a href="http://hir.harvard.edu/archives/5768" target="_blank">government run</a> hospitals that take in patients for a <a href="http://www.azmat.org/special-report-on-state-of-health-in-pakistan/" target="_blank">nominal fee</a>. Many of these hospitals provide substandard care. Inaccessible facilities, under-qualified staff and unavailability of appropriate medicines are oft-cited <a href="http://apps.who.int/medicinedocs/documents/s17305e/s17305e.pdf" target="_blank">patient concerns</a>. Private hospitals, on the other hand, are <a href="http://apps.who.int/medicinedocs/documents/s17305e/s17305e.pdf" target="_blank">few</a> and expensive. Additionally, since Pakathon seeks to empower Pakistanis to be change agents irrespective of geography, there are many business opportunities in North America’s healthcare market that we encourage participants to explore, such as preventive healthcare, data collection, medical devices, mobile health, and medical education. Rising incidences of chronic diseases and increasing healthcare costs are creating demand for affordable treatment options, such as <a href="http://www.marketsandmarkets.com/PressReleases/home-health-software.asp" target="_blank">home care</a>. Keep your project’s scope in mind at all times.
            </p>
            <p class="case-studies">Case studies include Healthwire, ProCheck, and HealthOne</p>
            <a href="https://drive.google.com/file/d/0B4qtt-SQs6dmMk1ZZFpYeXlwUFE/view?usp=sharing" class="button green fact-sheet-link" target="_blank">
              <div class="text-center icon-doc">
                <h5 class="epsilon">Healthcare Fact Sheet</h5>
              </div>
            </a>
          </div>
        </div>
      </li>

      <li id="stream-energy">
        <div class="single-stream">
          <h2 class="alpha icon-energy">Energy</h2>
          <div class="content">
            <p class="description">
              Pakistan is no stranger to <a href="http://blogs.wsj.com/washwire/2015/07/09/pakistans-other-national-struggle-its-energy-crisis/" target="_blank">blackouts</a> and <a href="http://foreignpolicy.com/2015/06/30/powerless-in-pakistan/" target="_blank">load shedding</a>. With a burgeoning energy crisis, worsened because of class divisions and poor infrastructure, many Pakistanis experience power outages that reach <a href="https://www.wilsoncenter.org/publication/pakistans-interminable-energy-crisis-there-any-way-out" target="_blank">up to 16 hours per day</a>. Around <a href="http://www.huffingtonpost.com/michael-hughes/how-pakistans-energy-cris_b_7310282.html" target="_blank">70 percent of the population lives on less than 300 units of electricity</a>, which is enough to power a fan and two light bulbs. Power shortages have led to other problems, such as <a href="https://www.wilsoncenter.org/publication/pakistans-interminable-energy-crisis-there-any-way-out" target="_blank">growing poverty levels, rising unemployment, and increasing illnesses</a>. Access to electricity remains most elusive for society’s most vulnerable, including elderly citizens and the poor. Affordable, clean energy goes a long way to solve many such issues. We’re thinking sustainability and accessibility. Many energy companies require substantial capital and established infrastructure, so we encourage Pakathon participants to find a low-capital-intensive niche, with the aims of gaining solid foothold in the marketplace.
            </p>
            <p class="case-studies">Case Studies include Solar City, Eco Energy Finance, Good Energy, and Ecotricity.</p>
            <a href="https://drive.google.com/file/d/0B4qtt-SQs6dmWm9QVXVZWnJhZjg/view?usp=sharing" class="button green fact-sheet-link" target="_blank">
              <div class="text-center icon-doc">
                <h5 class="epsilon">Energy Fact Sheet</h5>
              </div>
            </a>
          </div>
        </div>
      </li>

      <li id="stream-gaming">
        <div class="single-stream">
          <h2 class="alpha icon-gaming">Gaming</h2>
          <div class="content">
            <p class="description">
              Every year, <a href="http://tribune.com.pk/story/268898/cio-pakistan-it-industry-an-answer-to-the-energy-crisis/" target="_blank">more than 25,000</a> Pakistanis enter the IT industry. Games developed by Pakistan-based developers, such as <a href="http://newsweekpakistan.com/pakistans-silicon-valley/" target="_blank">Whacksy Taxi</a>, rank amongst the most downloaded apps in more than 25 countries. Startup companies in Lahore and Karachi frequently host informal gaming sessions to network with developers and tech innovators. There’s no shortage of talent or ideas here. Creativity and innovation are key. Make sure you know the market and your customers.
            </p>
            <p class="case-studies">Case studies include Gaming Revolution for International Development (GRID), Tintash Games, Mindstorm Studios, and Caramel Tech Studios.</p>
            <a href="https://drive.google.com/file/d/0B4qtt-SQs6dmejB1WFRETFhHUWM/view?usp=sharing" class="button green fact-sheet-link" target="_blank">
              <div class="text-center icon-doc">
                <h5 class="epsilon">Gaming Fact Sheet</h5>
              </div>
            </a>
          </div>
        </div>
      </li>

      <li id="stream-women">
        <div class="single-stream">
          <h2 class="alpha icon-women">Women Empowerment</h2>
          <div class="content">
            <p class="description">
              Progress for women in Pakistan includes economic security, political participation, and freedom from violence. With a large consumer base, participants are encouraged to explore a variety of different fields. Some areas of focus may include training, career services for women, maternity products, and fashion. We would like to see products and services that while important and useful are not widely available on the market; understanding market demand is essential.
            </p>
            <p class="case-studies">Case studies include Tailored, KangaDo, and Pink Rickshaw</p>
            <a href="https://drive.google.com/file/d/0B4qtt-SQs6dmb1JZQzBHV1pFWDA/view?usp=sharing" class="button green fact-sheet-link" target="_blank">
              <div class="text-center icon-doc">
                <h5 class="epsilon">Women Empowerment Fact Sheet</h5>
              </div>
            </a>
          </div>
        </div>
      </li>

      <li id="stream-education">
        <div class="single-stream">
          <h2 class="alpha icon-book">Education</h2>
          <div class="content">
            <p class="description">
              Pakistan’s budget for education is amongst the <a href="https://d3n8a8pro7vhmx.cloudfront.net/alifailaan/pages/540/attachments/original/1434016427/Alif_Ailaan_report_25_million_broken_promises_English.pdf?1434016427" target="_blank">lowest</a> worldwide. Despite the Constitution guaranteeing <a href="http://www.nytimes.com/2014/10/15/opinion/how-pakistan-fails-its-children.html" target="_blank">free</a> and compulsory education for all children between <a href="http://www.ipripak.org/education-system-of-pakistan-issues-problems-and-solutions/#sthash.5CJr41Ht.dpbs" target="_blank">5 and 16 years</a>, <a href="https://d3n8a8pro7vhmx.cloudfront.net/alifailaan/pages/540/attachments/original/1434016427/Alif_Ailaan_report_25_million_broken_promises_English.pdf?1434016427" target="_blank">25 million children in Pakistan have no access to schools. Most of these out-of-school children (55 percent) are girls</a>. Inadequate building infrastructure, lack of teacher training, and limited regulation of schools further <a href="http://www.iiste.org/Journals/index.php/JEP/article/viewFile/4532/4600" target="_blank">plague</a> the education system; which is why we would particularly like to see innovative solutions that combine technology and individual learning. We understand that education reform is a massive undertaking, which is why we would like to see projects with solid business models that can be replicated. Think long-term impact.
            </p>
            <p class="case-studies">Case studies include Khan Academy, AltSchool, Schoology, Montessori School System, and Tynker</p>
            <a href="https://drive.google.com/file/d/0B4qtt-SQs6dmVjlTQVp1bktsSTg/view?usp=sharing" class="button green fact-sheet-link" target="_blank">
              <div class="text-center icon-doc">
                <h4 class="epsilon">Education Fact Sheet</h5>
              </div>
            </a>
          </div>
        </div>
      </li>

      <li id="stream-law-order">
        <div class="single-stream">
          <h2 class="alpha icon-law-order">Law &amp; Order</h2>
          <div class="content">
            <p class="description">
              Across Pakistan, crime and safety is <a href="https://www.osac.gov/pages/ContentReportDetails.aspx?cid=17417" target="_blank">a serious problem</a>. Armed robberies, sectarian violence, home invasions, and kidnappings are some of the most <a href="https://www.osac.gov/pages/ContentReportDetails.aspx?cid=17417" target="_blank">prevalent crimes</a> in many urban areas. Home-grown militancy and terror attacks have caused the <a href="http://www.satp.org/satporgtp/countries/pakistan/database/casualties.htm" target="_blank">deaths of 58,000 people since 2003</a>, with losses to the economy <a href="http://tribune.com.pk/story/898015/economic-survey-2014-15-losses-due-to-war-on-terror-down-by-a-third-to-4-5b/" target="_blank">estimated at US$100 billion</a>. Petty crime, such as personal property theft, is common. Violence against women is also on the <a href="http://www.dw.com/en/violence-against-women-in-pakistan-often-met-with-state-inaction/a-18371614" target="_blank">rise</a>. We would like to see projects that are based on intensive research. Project areas that particularly interest us include cyber security, design thinking, as well as hardware to make cities safer.
            </p>
            <p class="case-studies">Case studies include Guardly and bSafe</p>
            <a href="https://drive.google.com/file/d/0B4qtt-SQs6dmMWtISFd2dThvSmc/view?usp=sharing" class="button green fact-sheet-link" target="_blank">
              <div class="text-center icon-doc">
                <h5 class="epsilon">Law &amp; Order Fact Sheet</h5>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>