<section id="streams">
  <div class="row">
    <div class="columns xsmall-12 small-12 medium-12 large-12 text-center">
      <h1 class="beta">Streams</h1>

      <div class="streams-description">
        <p class="text-center">
          For some of these streams, the sheer number, complexity and enormity of the challenges might be formidable. Don't be daunted. A critical part of the process is finding a problem area that you can effectively address - so spend some time thinking about each of the areas and try to identify discrete challenges. Each stream listed below refers to case studies that have attained substantial success, in terms of sustainability, growth, business strategy, and plan execution. Although we commend and applaud these initiatives, they are only examples. We’re looking for innovative new ideas, even if they’re tailored on similar scopes to the case studies and themes mentioned here. Ideal Pakathon projects will be measurable, scope-focused, and impact-oriented.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <ul class="columns large-block-grid-2 medium-block-grid-2 small-block-grid-2 xsmall-block-grid-1">
      <li>
        <div class="single-stream">
          <h2 class="alpha icon-healthcare">Healthcare</h2>
          <div class="content">
            <p class="description">
              Healthcare in Pakistan is in crisis. Without a free national health service, patients turn to <a href="http://hir.harvard.edu/archives/5768" target="_blank">government run</a> hospitals that take in patients for a <a href="http://www.azmat.org/special-report-on-state-of-health-in-pakistan/" target="_blank">nominal fee</a>. Many of these hospitals provide substandard care. Inaccessible facilities, under-qualified staff and unavailability of appropriate medicines are oft-cited <a href="http://apps.who.int/medicinedocs/documents/s17305e/s17305e.pdf" target="_blank">patient concerns</a>. Private hospitals, on the other hand, are <a href="http://apps.who.int/medicinedocs/documents/s17305e/s17305e.pdf" target="_blank">few</a> and expensive. Additionally, since Pakathon seeks to empower Pakistanis to be change agents irrespective of geography, there are many business opportunities in North America’s healthcare market that we encourage participants to explore, such as preventive healthcare, data collection, medical devices, mobile health, and medical education. Rising incidences of chronic diseases and increasing healthcare costs are creating demand for affordable treatment options, such as <a href="http://www.marketsandmarkets.com/PressReleases/home-health-software.asp" target="_blank">home care</a>. Keep your project’s scope in mind at all times.
            </p>
            <p class="case-studies">Case studies include Healthwire, ProCheck, and HealthOne</p>
          </div>
        </div>
      </li>

      <li>
        <div class="single-stream">
          <h2 class="alpha icon-gaming">Gaming</h2>
          <div class="content">
            <p class="description">
              Pakistan’s budget for education is amongst the lowest worldwide. Despite the Constitution guaranteeing free and compulsory education for all children between five and 16 years, 25 million children in Pakistan have no access to schools. Most of these out-of-school children (55%) are girls. Inadequate building infrastructure, lack of teacher training, and limited regulation of schools further plague the education system; which is why we would particularly like to see innovative solutions that combine technology and individual learning. We understand that education reform is a massive undertaking, which is why we would like to see projects with solid business models that can be replicated. Think long-term impact.
            </p>
            <p class="case-studies">Case studies include Healthwire, ProCheck, and HealthOne</p>
          </div>
        </div>
      </li>

      <li>
        <div class="single-stream">
          <h2 class="alpha icon-energy">Energy</h2>
          <div class="content">
            <p class="description">
              Pakistan’s budget for education is amongst the lowest worldwide. Despite the Constitution guaranteeing free and compulsory education for all children between five and 16 years, 25 million children in Pakistan have no access to schools. Most of these out-of-school children (55%) are girls. Inadequate building infrastructure, lack of teacher training, and limited regulation of schools further plague the education system; which is why we would particularly like to see innovative solutions that combine technology and individual learning. We understand that education reform is a massive undertaking, which is why we would like to see projects with solid business models that can be replicated. Think long-term impact.
            </p>
            <p class="case-studies">Case studies include Healthwire, ProCheck, and HealthOne</p>
          </div>
        </div>
      </li>

      <li>
        <div class="single-stream">
          <h2 class="alpha icon-book">Education</h2>
          <div class="content">
            <p class="description">
              Pakistan’s budget for education is amongst the lowest worldwide. Despite the Constitution guaranteeing free and compulsory education for all children between five and 16 years, 25 million children in Pakistan have no access to schools. Most of these out-of-school children (55%) are girls. Inadequate building infrastructure, lack of teacher training, and limited regulation of schools further plague the education system; which is why we would particularly like to see innovative solutions that combine technology and individual learning. We understand that education reform is a massive undertaking, which is why we would like to see projects with solid business models that can be replicated. Think long-term impact.
            </p>
            <p class="case-studies">Case studies include Healthwire, ProCheck, and HealthOne</p>
          </div>
        </div>
      </li>

      <li>
        <div class="single-stream">
          <h2 class="alpha icon-women">Women Empowerment</h2>
          <div class="content">
            <p class="description">
              Pakistan’s budget for education is amongst the lowest worldwide. Despite the Constitution guaranteeing free and compulsory education for all children between five and 16 years, 25 million children in Pakistan have no access to schools. Most of these out-of-school children (55%) are girls. Inadequate building infrastructure, lack of teacher training, and limited regulation of schools further plague the education system; which is why we would particularly like to see innovative solutions that combine technology and individual learning. We understand that education reform is a massive undertaking, which is why we would like to see projects with solid business models that can be replicated. Think long-term impact.
            </p>
            <p class="case-studies">Case studies include Healthwire, ProCheck, and HealthOne</p>
          </div>
        </div>
      </li>

      <li>
        <div class="single-stream">
          <h2 class="alpha icon-law-order">Law and Order</h2>
          <div class="content">
            <p class="description">
              Pakistan’s budget for education is amongst the lowest worldwide. Despite the Constitution guaranteeing free and compulsory education for all children between five and 16 years, 25 million children in Pakistan have no access to schools. Most of these out-of-school children (55%) are girls. Inadequate building infrastructure, lack of teacher training, and limited regulation of schools further plague the education system; which is why we would particularly like to see innovative solutions that combine technology and individual learning. We understand that education reform is a massive undertaking, which is why we would like to see projects with solid business models that can be replicated. Think long-term impact.
            </p>
            <p class="case-studies">Case studies include Healthwire, ProCheck, and HealthOne</p>
          </div>
        </div>
      </li>
    </ul>

    <!-- <div class="columns large-6 medium-6 small-12 xsmall-12">
      <div class="single-stream">
        <h2 class="alpha">Healthcare</h2>
        <div class="content">
          <p class="stream-description">
            Pakistan’s budget for education is amongst the lowest worldwide. Despite the Constitution guaranteeing free and compulsory education for all children between five and 16 years, 25 million children in Pakistan have no access to schools. Most of these out-of-school children (55%) are girls. Inadequate building infrastructure, lack of teacher training, and limited regulation of schools further plague the education system; which is why we would particularly like to see innovative solutions that combine technology and individual learning. We understand that education reform is a massive undertaking, which is why we would like to see projects with solid business models that can be replicated. Think long-term impact.
          </p>
          <p class="stream-description">Case studies include Khan Academy, AltSchool, Schoology, Montessori School System, and Tynker.</p>
        </div>
      </div>
    </div> -->

   <!--  <div class="columns large-6 medium-6 small-12 xsmall-12">
      <div class="single-stream">
        <h2 class="alpha">Gaming</h2>
      </div>
    </div>

    <div class="columns large-6 medium-6 small-12 xsmall-12">
      <div class="single-stream">
        <h2 class="alpha">Energy</h2>
      </div>
    </div>

    <div class="columns large-6 medium-6 small-12 xsmall-12">
      <div class="single-stream">
        <h2 class="alpha">Education</h2>
      </div>
    </div>

    <div class="columns large-6 medium-6 small-12 xsmall-12">
      <div class="single-stream">
        <h2 class="alpha">Women Empowerment</h2>
      </div>
    </div>

    <div class="columns large-6 medium-6 small-12 xsmall-12">
      <div class="single-stream">
        <h2 class="alpha">Law and Order</h2>
      </div>
    </div> -->
  </div>
</section>