<section class="toronto-appetizer">
  <div class="row">
    <div class="columns large-8 medium-8 small-12 xsmall-12">
      <ul class="row">
        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-book">Education</h2>
            <div class="content">
              <p class="description">equiping farmers with education tools</p>
              <p class="description">getting involved in mainstream if you go alternative</p>
              <p class="description">teaching system to track teacher performance</p>
            </div>
          </div>
        </li>

        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-energy">Energy</h2>
            <div class="content">
              <p class="description">off-grid energy solution e.g. solar</p>
              <p class="description">education on energy waste and conservation management, and incentive the process</p>
              <p class="description">use hydro energy to illuminate highways and streets in northern areas</p>
            </div>
          </div>
        </li>

        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-healthcare">Healthcare</h2>
            <div class="content">
              <p class="description">taking down stigmas around health education and issues e.g. mental, sexual etc.</p>
              <p class="description">pregnancy sms info app</p>
              <p class="description">estimating weight time to see a doctor - bridging gap for access to primary healthcare</p>
              <p class="description">using mobile technology to address healthcare issues</p>
            </div>
          </div>
        </li>

        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-gaming">Gaming</h2>
            <div class="content">
              <p class="description">stigma's associated with reproductive health e.g. using gaming to provide education on contraceptives</p>
              <p class="description">support local gamers on a global scale</p>
              <!-- <p class="description">idea goes here</p> -->
            </div>
          </div>
        </li>

        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-women">Women Empowerment</h2>
            <div class="content">
              <p class="description">helping women in rural areas e.g. disaster support for women</p>
              <!-- <p class="description">idea goes here</p>
              <p class="description">idea goes here</p> -->
            </div>
          </div>
        </li>

        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-law-order">Law and Order</h2>
            <div class="content">
              <p class="description">track data on crimes e.g. reporting data using hashtags</p>
              <p class="description">a waze app for crime</p>
              <p class="description">creating ride sharing when commuting between rural villages</p>
              <p class="description">anonymous reporting of crime and/or police brutality</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="columns large-4 medium-4 small-12 xsmall-12 text-center">
    <!-- <div class="columns xsmall-6 xsmall-centered"> -->
      <h1>#pakathonTO</h1>
      <a class="twitter-timeline" href="https://twitter.com/search?q=pakathonto" data-widget-id="509175845777182720" data-chrome="transparent" width="500" height="850"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</section>