<section class="toronto-appetizer">
  <div class="row">
    <div class="columns large-8 medium-8 small-12 xsmall-12">
      <ul class="row">
        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-book">Education</h2>
            <div class="content">
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
            </div>
          </div>
        </li>

        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-energy">Energy</h2>
            <div class="content">
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
            </div>
          </div>
        </li>

        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-healthcare">Healthcare</h2>
            <div class="content">
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
            </div>
          </div>
        </li>

        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-gaming">Gaming</h2>
            <div class="content">
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
            </div>
          </div>
        </li>

        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-women">Women Empowerment</h2>
            <div class="content">
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
            </div>
          </div>
        </li>

        <li id="stream-healthcare" class="columns large-6 medium-6 small-6 xsmall-12">
          <div class="single-stream">
            <h2 class="alpha icon-law-order">Law and Order</h2>
            <div class="content">
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
              <p class="description">idea goes here</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="columns large-4 medium-4 small-12 xsmall-12 text-center">
    <!-- <div class="columns xsmall-6 xsmall-centered"> -->
      <h1>#pakathonTO</h1>
      <a class="twitter-timeline" href="https://twitter.com/search?q=pakathonto" data-widget-id="509175845777182720" data-chrome="transparent" width="500" height="850"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</section>