<section class="admin-new-user">
  <div class="row">
    <div class="columns xsmall-12">
      <h4 class="delta">Add Project to <%= @city.name %></h4>
      <%= render 'project_form' %>
    </div>
  </div>
</section>