<section class="four-oh-four">
  <div class="v-wrapper">
    <div class="v-inner">
      <div class="row">
        <div class="columns large-8 large-centered medium-8 medium-centered small-12 xsmall-12 text-center">
          <h2 class="beta">Aray Yar!</h2>
          <h2 class="gamma">So we couldn't find the page you requested, but we found something better!</h2>
        </div>
      </div>
    </div>
  </div>
</section>