<section class="admin-new-hackathon">
  <div class="row">
    <div class="columns xsmall-12">
      <h4 class="delta">Edit Hackathon Details</h4>
      <%= render 'hackathon_form' %>
    </div>
  </div>
</section>