<section class="admin-new-hackathon">
  <div class="row">
    <div class="columns xsmall-12">
      <h4 class="delta">Create a new Hackathon</h4>
      <%= render 'hackathon_details' %>
    </div>
  </div>
</section>