footer.global {
  @include prop(top, 0);
  @include prop(left, 0);
  @include prop(right, 0);
  @include prop(padding, 15, 25);
  @include pre(transition, all 0.3s ease);
  background: transparent;
  z-index: 1000;
  background: $greyDark;

  a, .logo, nav, ul, li {
    display: inline-block;
  }

  nav {
    display: none;
    float: right;

    li {
      @include prop(margin, 0, 10);
      color: $white;
      font-family:  "OpenSans-Regular";
      @include fontSize(13);
      @include prop(letter-spacing, 2);
      text-transform: uppercase;

      a {
        color: $white;
        @include pre(transition, all 0.3s ease);

        &:hover {
          color: $greenDark;
        }
      }

      @media only screen and (min-width: $largeScreen + px) {
        @include prop(margin, 0, 15);
      }
    }

    @media only screen and (min-width: 950px) {
      display: block;
    }

    .button {
      background: $greenDark;
      color: $white;

      &:hover {
        background: $white;
        color: $greenDark;        
      }
    }
  }
}