header.global {
  position: fixed;
  @include prop(top, 0);
  @include prop(left, 0);
  @include prop(right, 0);
  @include prop(height, 78);
  z-index: 1000;
  @include prop(padding, 15, 25);
  @include pre(transition, all 0.3s ease);
  background: transparent;

  &.headerTransition {
    @include prop(height, 68);
    background: #ffffff;
    background: rgba(255,255,255,0.9);
  }

  a, .logo, nav, ul, li {
    display: inline-block;
  }

  .logo {
    float: left;
    position: relative;

    img {
      position: absolute;
      @include prop(margin, 0, 0, 0, -35);
    }
  }

  nav {
    display: none;
    float: right;

    li {
      @include prop(margin, 0, 10);

      a {
        color: $green;
        @include pre(transition, all 0.3s ease);

        &:hover {
          color: darken($green, 10);
        }
      }

      @media only screen and (min-width: $largeScreen + px) {
        @include prop(margin, 0, 15);
      }
    }

    @media only screen and (min-width: 950px) {
      display: block;
    }

    .button {
      background: $green;
      color: $white;

      &:hover {
        background: $white;
        color: $green;        
      }
    }
  }

  .drawer-btn {
    display: inline-block;
    float: right;
    @include prop(padding, 20, 0);

    @media only screen and (min-width: 950px) {
      display: none;
    }
  }
}