header.global {
  position: fixed;
  @include prop(top, 0);
  @include prop(left, 0);
  @include prop(right, 0);
  @include prop(height, 68);
  z-index: 1000;
  @include prop(padding, 15, 0);
  @include pre(transition, all 0.3s ease);
  background: transparent;

  &.headerTransition {
    background: #000;
    background: rgba(0,0,0,0.7);
  }
}