<section id="my-resources-repo">
  <div class="row">
    <div class="columns xsmall-12">
      <h1 class="alpha"><%= current_user.username %>'s Resources</h1>
      <h4 class="delta"><%= link_to "Add Resource", new_admin_resource_path(current_user) %></h4>
    </div>
  </div>
</section>