<header class="global">
  <div class="row">
    <div class="columns xsmall-12 small-12 medium-12 large-12">
      <a href="http://www.pakathon.org/" class="logo">
        <%= image_tag(Logo.find_by(name:"pakathon globe").image_url(:logo), size: "40") %>
        Pakathon
      </a>

      <nav>
        <div class="header-nav">
          <ul class="header-list">
            <li class="header-item"></li>
            <li class="header-item">About</li>
            <li class="header-item">The Hackathon</li>
            <li class="header-item">Blog</li>
            <li class="header-item">Partners &amp; Sponsors</li>
            <li class="header-item">Forum</li>

            <a class="button" href="javascript:void(0)">Get Involved</a>
          </ul>
        </div>
      </nav>

      <% if current_user %>
        <nav>
          <ul>
            <li><%= link_to 'Admin Dashboard', admin_path(current_user) %></li>
            <li><%= link_to 'Logout', admin_session_path("current"), method: :delete %></li>
          </ul>
        </nav>
      <% end %>

    </div>
  </div>
</header>





