<div>
  <h3>Team Members</h3>
  <p><%= link_to "Add Team Member", "#" %></p>
</div>

<div>
  <h3>Judges</h3>
  <p><%= link_to "Add Judge", "#" %></p>
</div>

<div>
  <h3>Mentors</h3>
  <p><%= link_to "Add Mentor", "#" %></p>
</div>

<div>
  <h3>Sponsors</h3>
  <p><%= link_to "Add Sponsor", "#" %></p>
</div>