<section id="get-involved-main">
  <div class="row">
    <div class="job-descriptions columns small-11 small-centered medium-10 medium-centered large-8 large-centered">
      <h2>City Leads - Volunteer</h2>
      <p class="job-location">San Francisco, Chicago, Atlanta, New York City, London, Malaysia, Singapore</p>
      <p class="job-synopsis">Pakathon is looking for leads to evangelize our movement in their cities. Leads will be responsible for recruiting delegates, organizing 3-4 events in their city every year and being the central spokesperson for our mission. This will be a two year commitment and the responsibilites will include:</p>
      <ul>
        <li>Recruiting 6-10 delegates for your core team</li>
        <li>Assigning team members to various committees and managing performance of each committee (Membership Engagement, Partnerships &amp; Alliances, Logistics &amp; Technical Management, Sponsorships, Media &amp; Marketing, Mentors &amp; Judges Engagement)</li>
        <li>Coordinating with other city leads across the world to organize the flagship global event in your city</li>
        <li>Work with the global team on aligning local and global strategy</li>
        <li>Speaking at conferences and events about Pakathon’s mission</li>
      </ul>
    </div>
</section>