<section id="cities-hero">
  <div class="row">
    <div class="columns xsmall-12 text-center">
      <h2 class="gamma">We're a Global Presence</h2>
      <p class="punch text-center">Through our events and programs we help our participants launch mission-driven businesses. We provide mentorship on business planning, prototyping as well as domain expertise from practitioners.</p>
    </div>
  </div>
</section>

<section class="cities-grid">
  <div class="row">
    <div class="columns xsmall-12">
      <% @cities.each do |city| %>
        <% if city.name != "Global" %>
          <div id="city-<%= city.slug %>" class="admin-city-panel column large-3 medium-3 small-6 xsmall-12" style="background-image: url(<%= city.hero_photo %>)">
            <a href="javascript:void(0)">
              <div class="v-wrapper">
                <div class="v-inner">
                  <h4 class="delta"><%= city.name.upcase %></h4>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>