<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="0; url=http://www.pakathon.org/" />
</head>
</html>

<h1>If you are not redirected automatically, follow the <a href='http://www.pakathon.org/'>link to Pakathon Homepage</a></h1>
