<div class="container">
  <div class="large-8 large-centered columns">
    <h1>Pakathon Homepage</h1>
  </div>
  <div class="large-12 columns">
    <div data-magellan-destination='our-mission' class="large-8 large-centered columns">
    </div>
  </div>
</div>