<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="0; url=http://www.pakathon.org/" />
</head>
</html>

<h1>If you are not redirected automatically, follow the <a href='http://www.pakathon.org/'>link to Pakathon Homepage</a></h1>

<%# City.all.sort_by {|city| city[:name]}.each do |city| %>
  <!-- <p>Go to <%#= link_to city.name, city_path(city) %></p> -->
<%# end %>

<%# if current_user %>
  <!-- <div id="topnav-loggedin" class="fixed" data-magellan-expedition="fixed">
    <dl class="sub-nav large-10 columns large-centered">
      <dd data-magellan-arrival="homepage">
        <%#= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:logo)), root_path, :class=>"topnav-titles" %>
      </dd>
      <dd data-magellan-arrival="our-mission"><a href="#our-mission" class="topnav-titles">OUR MISSION</a></dd>
      <dd data-magellan-arrival="global-event"><a href="#global-event" class="topnav-titles">EVENT</a></dd>
      <dd data-magellan-arrival="past-projects"><a href="#past-projects" class="topnav-titles">PAKATHON 2013</a></dd>
      <dd data-magellan-arrival="mentorship-challenge"><a href="#mentorship-challenge" class="topnav-titles">JUDGES + MENTORS</a></dd>
      <dd data-magellan-arrival="meet-the-founders"><a href="#meet-the-founders" class="topnav-titles">MEET THE FOUNDERS</a></dd>
      <dd data-magellan-arrival="support"><a href="#support" class="topnav-titles">SUPPORT</a></dd>
      <!-- <dd data-magellan-arrival="contact-us"><a href="#contact-us" class="topnav-titles">CONTACT US</a></dd> -->
      <!-- <dd data-magellan-arrival="admin-dashboard"><%#= link_to 'Admin Dashboard', admin_path(current_user), :class=>"topnav-titles" %></dd>
      <dd data-magellan-arrival="logout"><%#= link_to 'Logout', admin_session_path("current"), method: :delete, :class=>"topnav-titles" %></dd>
    </dl>
  </div> -->
<%# else %>
  <!-- <div id="topnav" class="fixed" data-magellan-expedition="fixed">
   <dl class="sub-nav large-8 large-offset-2 columns large-centered">
      <dd data-magellan-arrival="homepage">
       <%#= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:logo)), root_path, :class=>"topnav-titles" %>
      </dd>
      <dd data-magellan-arrival="our-mission"><a href="#our-mission" class="topnav-titles">OUR MISSION</a></dd>
      <dd data-magellan-arrival="global-event"><a href="#global-event" class="topnav-titles">EVENT</a></dd>
      <dd data-magellan-arrival="past-projects"><a href="#past-projects" class="topnav-titles">PAKATHON 2013</a></dd>
      <dd data-magellan-arrival="mentorship-challenge"><a href="#mentorship-challenge" class="topnav-titles">JUDGES + MENTORS</a></dd>
      <dd data-magellan-arrival="meet-the-founders"><a href="#meet-the-founders" class="topnav-titles">MEET THE FOUNDERS</a></dd>
      <dd data-magellan-arrival="support"><a href="#support" class="topnav-titles">SUPPORT</a></dd> -->
      <!-- <dd data-magellan-arrival="contact-us"><a href="#contact-us" class="topnav-titles">CONTACT US</a></dd> -->
  <!--   </dl>
  </div> -->
<%# end %>

<!-- <div class="row">
  <div class="large-12 text-center large-centered columns">
    <%# City.all.sort_by {|city| city[:name]}.each do |city| %>
      <div class="image-link-to-city-page large-2 columns end">
        <%# if city.name == "Toronto" %>
          <%#= link_to image_tag(city.background_img_url(:team)), city_path(city) %>
        <%# else %>
          <%#= link_to image_tag(city.background_img_url(:team)), city.eventbrite_page %>
        <%# end %>
        <p class="city-name">
          <%#= city.name.upcase %><br>
          <%# if city.eventbrite_page.present? %>
            <span style="font-style:italic; color:#43ac6a; font-size:0.75rem"><%#= link_to "Registration Open", city.eventbrite_page %></span>
          <%# else %>
            <span style="font-style:italic; font-size:0.75rem"> Registration Opening Soon</span>
          <%# end %>
        </p>
      </div>
    <%# end %>
  </div>
</div> -->

<!-- <div data-magellan-destination='our-mission' id="our-mission">
  <div class="row our-mission" style="padding: 3rem">
    <div class="large-12 columns text-center">
      <h1>OUR MISSION</h1>
      <div class="large-8 large-offset-2 columns">
        <h5 style="font-style:italic">Our mission is to connect entrepreneurs, researchers and technologists from Pakistan to those around the world to create projects and companies that can make an impact.</h5>
        <h5 style="font-style:italic">We host events and meet-ups both online and offline to foster these connections because we believe that geographical boundaries should not limit us in realizing projects that can make an impact on Pakistan and the world.</h5>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row global-event" style="padding: 3rem">
  <div class="large-12 columns">
    <div data-magellan-destination='global-event' id="global-event">
      <div class="row text-center">
        <div class="large-12 columns">
          <h1>GLOBAL EVENT 2014</h1>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-offset-2 columns">
          <h4 style="text-align:center; color:#678">Who is Invited?</h4>
          <div class="large-10 large-offset-1 columns text-center">
            <h5 style="font-weight: bold">Everyone!</h5>
            <h5 style="color:#43ac6a">Together we can make great things happen</h5>
            <p style="color:#555">Pakathon events have something for everyone. Engineers, business majors, designers, philosophers all have something to contribute. We believe interdisciplinary collaboration is one of our most powerful tools for change. Pakathon is for Pakistanis and non-Pakistanis alike.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <h4 style="text-align:center">Pre Connect</h4>
          <div class="large-11 large-offset-1 columns">
            <h5 style="font-weight: bold">Registrants from all 16 cities will connect to find team members</h5>
            <h5 style="color:#43ac6a">Multi-city teams will be favored in the judging process</h5>
            <p>The ideal team will have 4-6 people from different backgrounds and from different cities. If you don't have a team yet, don't worry: you can use our facebook page or email lists to meet people. When you register on your city's eventbrite page, check off which tracks you are interested in. We will connect you via email to those with similar interests. If you use facebook, list your idea and the skills you are looking for in team members. We encourage you to post videos or blogs detailing your team and idea.</p>
            <p>This is not only a great chance for you to work with friends in different cities around the world, it is also an opportunity to leverage skills and experiences across the US, Canada and Pakistan.</p>
            <p>US based teams focused on social issues in Pakistan (e.g Mobile banking) will benefit from partnering with Pakistani members since participants from Pakistan are more likely to understand local problems.</p>
            <p>Pakistan teams focused on global social problems (e.g diabetes) will benefit from pairing up with a North American participant since the latter will be better positioned to do market research and sales.</p>
          </div>
        </div>
        <div class="large-4 columns">
          <h4 style="text-align:center">Format of the event</h4>
          <div class="large-11 large-offset-1 columns">
            <h5 style="font-weight: bold">A Start-up Weekend – 26th - 28th September</h5>
            <h5 style="color:#43ac6a">Friday | Saturday | Sunday</h5>
            <p>Friday night will be brainstorming night! You will have the chance to form teams and work with mentors at your city's venue.</p>
            <p>Teams will work on their business plan and prototype all day on Saturday.We will also be hosting breakout sessions in all our locations as well as access to virtual skype sessions with our global mentors. If you have team members in multiple cities you will have to decide which city will be your hub where you will pitch your ideas.</p>
            <p>All teams will get an opportunity to pitch to incredible judges in their city.</p>
            <p>One team from each city will be nominated to pitch at the Pakathon Global Finals on October 11th. Pakistan based teams will send their videos and North American teams have the option of sending us a video or presenting in person.</p>
          </div>
        </div>
        <div class="large-4 columns">
          <h4 style="text-align:center">Prizes!</h4>
          <div class="large-11 large-offset-1 columns">
            <h5 style="font-weight: bold">$10K, admission into mentorship program, incubation in Pakistan and US</h5>
            <h5 style="color:#43ac6a">Oct 11th, February 1st</h5>
            <p>There will be two rounds of judging.</p>
            <p>The first round on Oct 11th will be based on the strength of each team's ideas. Pakistan teams will send videos and be on standby on skype. North American teams will send videos and have the option of presenting in person or through skype.</p>
            <ul>
              <li>Collaboration</li>
              <li>Creativity and impact</li>
              <li>Plan to execute</li>
            </ul>
            <p>We will require a prototype and projected business, marketing and implementation plan indicating how you will execute on this idea for the next 6 months.</p>
            <p>Each of the finalists would be eligible for another seed grant based off their progress in 6 months time and after the submission of a more detailed business plan on February 1st 2015.</p>
            <p>Finalists from both rounds will be applicable for incubation in Pakistan through our partners like Invest2Innovate as well as our university partners. Winners of our last round will also have access to incubation facilities in Boston.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row past-projects" style="padding: 3rem">
  <div class="large-12 columns">
    <div data-magellan-destination='past-projects' id="past-projects">
      <div class="row text-center">
        <div class="large-8 large-offset-2 columns">
          <h1>PAKATHON 2013</h1>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns text-center">
          <h4>Lookout360</h4>
          <div class="flex-video widescreen vimeo">
            <iframe src="http://player.vimeo.com/video/74865441" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
        <div class="large-6 columns text-center">
          <h4>AgriPak</h4>
          <div class="flex-video widescreen vimeo">
            <iframe src="http://player.vimeo.com/video/74865499" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns text-center">
        <h4>Clinic Click</h4>
        <div class="flex-video widescreen vimeo">
          <iframe src="http://player.vimeo.com/video/74558318" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
      <div class="large-6 columns text-center">
        <h4>Asli Goli</h4>
        <div class="flex-video widescreen vimeo">
          <iframe src="http://player.vimeo.com/video/101741606" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 large-offset-3 columns text-center">
        <h4>Tashaddud <span style="font-style:italic">@tashaddud</span></h4>
        <div id="tashaddud" class="flex-video widescreen vimeo text-center">
          <div style="padding-top: 10rem">
            <h3 style="color: #fff; background-color: black;">Mapping Sectarian Violence in Pakistan</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row mentorship" style="padding: 3rem">
  <div class="large-12 columns">
    <div data-magellan-destination='mentorship-challenge' id="mentorship-challenge">
      <div class="row text-center">
        <div class="large-8 large-centered columns">
          <h1>MENTORSHIP CHALLENGE</h1>
          <h5 style="font-style:italic; font-weight:bold">Calling entrepreneurs in our chapter cities who have successfully grown startups from an idea phase into a $1M+ revenues.</h5>
          <h5 style="font-style:italic">Compete with other mentors by helping your team implement their winning idea!</h5>
          <h5 style="font-style:italic">At the end of 6 months the winning team & mentor will be awarded prizes and some additional funding to carry their idea through. Participating mentors will be asked to commit atleast 4 hours a month to one team for 8 months.</h5>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row" style="padding: 3rem">
  <div class="large-12 columns">
    <div class="row text-center">
      <div class="large-12 columns">
        <h1>AWESOME PEOPLE</h1>
        <h5 style="text-align:center; font-style:italic; color:#678">Judges and Mentors</h5>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns large-centered">
        <%# @global.judges.each do |judge| %>
          <div class="large-3 columns text-center">
            <%# if judge.avatar.present? %>
              <%#= image_tag judge.avatar_url(:team), :class => "img-circle" %>
            <%# else %>
              <img class="img-circle" src="http://placehold.it/200x200&text=Img" />
            <%# end %>
            <p>
              <span style="font-weight:bold"><%#= judge.name %></span>
              <br>
              <span style="font-style:italic"><%#= judge.description %></span>
            </p>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row who-we-are" style="padding: 3rem" data-magellan-destination='meet-the-founders' id='meet-the-founders'>
  <div class="large-12 columns">
    <div class="row text-center">
      <div class="large-12 columns">
        <h1>MEET THE FOUNDERS</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center">
        <%# @global.team_members.sort_by {|team| team[:created_at]}.each do |team_member| %>
          <div class="large-6 columns end">
            <%# if team_member.name == "Asad Badruddin" || team_member.name == "Zheela Qaiser" %>
              <%# if team_member.avatar.present? %>
                <%#= image_tag team_member.avatar_url(:team), :class => "img-circle" %>
              <%# else %>
                <img class="img-circle" src="http://placehold.it/200x200&text=Img" />
              <%# end %>
              <p class="large-6 large-offset-3">
                <span style="font-weight:bold"><%#= team_member.name %></span>
                <br>
                <span style="font-style: italic; color:#43ac6a">Co-Founder</span>
                <br>
                <span style="font-style:italic"><%#= team_member.description %></span>
              </p>
            <%# end %>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row" style="padding: 3rem">
  <div class="large-12 columns">
    <div class="row text-center">
      <div class="large-12 columns">
        <h1>CHAMPIONS & MENTORS</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%# @global.mentors.each do |mentor| %>
          <div class="large-3 columns text-center">
            <%# if mentor.avatar.present? %>
              <%#= image_tag mentor.avatar_url(:team), :class => "img-circle" %>
            <%# else %>
              <img class="img-circle" src="http://placehold.it/200x200&text=Img" />
            <%# end %>
            <p>
              <span style="font-weight:bold"><%#= mentor.name %></span>
              <br>
              <span style="font-style:italic"><%#= mentor.description %></span>
            </p>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row support" style="padding: 3rem" data-magellan-destination='support' id='support'>
  <div class="large-12 columns">
    <div class="row">
      <div class="large-7 columns">
        <h1 style="color:white">SUPPORT</h1>
        <h5 style="font-style:italic; color:white">We are a group of passionate people putting in all the hours we have to make our vision a reality. For some of us this means juggling two jobs, for others studying in school during the day and working on Pakathon nights and weekends.</h5>
        <h5 style="font-style:italic; color:white">We need your help to support our events and our entrepreneurs. We ask you not to donate in the traditional sense but to think of this as a partnership and become part of our mission.</h5>
        <br>
        <a href="https://pakathon.wufoo.com/forms/pakathon-sponsorship-form/" style="color:white" target="_blank">
          <div class="large button success">
            I WANT TO HELP
          </div>
        </a>
      </div>
      <div class="large-5 columns text-center">
        <h1 style="color:white">SOCIAL IMPACT</h1>
        <h5 style="font-style:italic; color:white">A conversation worth having.<br>
          Let's talk.
        </h5>
        <div class="row">
          <div class="large-6 large-centered columns text-center">
            <a href="<%#= @global.facebook %>" target="_blank">
              <div id="facebook" class="large button success" style="width:5rem; height:5rem; border-radius:50%">
                <span style="color:white; font-size:2.25rem; width:100%; height:100%">f</span>
              </div>
            </a>
            <a href="<%#= @global.twitter %>" target="_blank">
              <div id="twitter" class="large button success" style="width:5rem; height:5rem; border-radius:50%">
                <span style="color:white; font-size:2.25rem; width:100%; height:100%">t</span>
              </div>
            </a>
            <div id="phone" class="large button success" style="height:4rem">
              <p style="color:white"><%#= @global.phone %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="row contact-us" style="padding: 3rem" data-magellan-destination='contact-us' id='contact-us'>
  <div class="large-12 columns">
    <div class="row text-center">
      <div class="large-12 columns">
        <h1>CONTACT US</h1>
        <h5 style="text-align:center; font-style:italic; color:#678">We'd love to hear from you!</h5>
        <h5 style="text-align:center; font-style:italic; color:#678">Let us know if you would like to be added to our mailing list</h5>
      </div>
    </div>
    <div class="row">
      <div class="large-4 large-offset-4 columns">
        <%#= form_tag contacts_path(@contact), { method: :post } do %>
          <div class="field">
            <%#= label_tag :name %><br>
            <%#= text_field_tag :name %>
          </div>

          <div class="field">
            <%#= label_tag :email %><br>
            <%#= text_field_tag :email %>
          </div>

          <div class="field">
            <%#= label_tag :message %><br>
            <%#= text_area_tag :message %>
          </div>

          <%#= hidden_field_tag :city_id, City.find_by(name: "Boston").id %>

          <div class="action">
            <%#= submit_tag "Save" %>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div> -->

