<section id="homepage-hero">
  <div class="v-wrapper">
    <div class="v-inner">
      <div class="row">
        <div class="columns large-10 large-centered medium-10 medium-centered small-12 xsmall-12">
          <div class="hero-text text-center">
            <h2 class="gamma">An action oriented global organization aiming to initiate ground breaking changes in Pakistan</h2>
            <p class="punch">Our mission is to connect entrepreneurs, researchers and technologists around the world and support the creation of sustainable projects and companies that make a positive impact in Pakistan and beyond. Pakathon's flagship event is a weekend hackathon held simultaneously across multiple cities around the globe.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="homepage-mission">
  <div class="row">
    <div class="columns large-10 large-centered medium-10 medium-centered small-12 xsmall-12 text-center">
      <h2 class="gamma">Pakathon is a global organization with over 15 city and university chapters. Our programming includes events, webinars, hackathons and online forums. The programs are designed to help you launch your business, and collaborate with a global network.</h2>
      <a href="/program" class="punch">Learn more about how we're making this happen</a>
    </div>
  </div>
</section>

<section id="homepage-impact">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12 text-center">
      <h2 class="gamma">Making An Impact</h2>
    </div>
  </div>

  <div class="row">
    <ul class="columns large-block-grid-3 medium-block-grid-3 small-block-grid-1 xsmall-block-grid-1">
      <li class="panel text-center education">
        <p class="punch">EDUCATION SERVICES</p>
        <p class="punch text-center">Through our events and programs we help our participants launch mission-driven businesses. We provide mentorship on business planning, prototyping as well as domain expertise from practitioners. For our university partners we provide capacity building tools to run our programs. We also create and distribute content on Pakistan, technology, design and business through our blogs, forums and other media.</p>
      </li>
      <li class="panel text-center networks">
        <p class="punch">CREATING GLOBAL NETWORKS</p>
        <p class="punch text-center">Global networks are important in the success of any business. Through our online collaboration tools and expansive reach, both in Pakistan and in chapters across three continents, our programs connect you to potential co-founders, partners, employees, mentors and investors all around the world.</p>
      </li>
      <li class="panel text-center financing">
        <p class="punch">FINANCING</p>
        <p class="punch text-center">Our goal is to nurture the entrepreneurial culture in Pakistan and beyond. In return for equity, we provide high performing teams funding to grow their business.</p>
      </li>
    </ul>
  </div>
</section>

<section id="homepage-sponsor-cta">
  <div class="row">
    <div class="columns large-7 medium-7 small-12 xsmall-12 text">
      <h2 class="delta">Interested in getting involved?</h2>
    </div>
    <div class="columns large-5 medium-5 small-12 xsmall-12 cta">
      <a href="/contact" class="button">Get in touch</a>
    </div>
  </div>
</section>

<section id="homepage-streams">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12 text-center">
      <h2 class="gamma">Streams at Pakathon</h2>
    </div>
  </div>
  <div class="row">
    <ul class="columns large-block-grid-6 medium-block-grid-3 small-block-grid-2 xsmall-block-grid-2 text-center">
      <li class="panel text-center icon-healthcare">
        Healthcare in the U.S.
      </li>
      <li class="panel text-center icon-gaming">
        Gaming
      </li>
      <li class="panel text-center icon-bitcoin">
        Bitcoin and financial lending
      </li>
      <li class="panel text-center icon-book">
        storytelling
      </li>
      <li class="panel text-center icon-retail">
        retail
      </li>
      <li class="panel text-center icon-cafe">
        cafes and democracy
      </li>
    </ul>
  </div>
</section>

<section id="homepage-analytics">
  <div class="row">
    <div class="columns large-6 medium-6 small-12 xsmall-12 column-left">
      <div class="row">
        <div class="columns large-12 medium-12 small-12 xsmall-12 img-one">
        </div>
      </div>

      <div class="row testimonial-row">
        <div class="columns large-5 medium-6 small-12 xsmall-12">
          <div class="testimonial">
            <h2 class="gamma">"Pakathon has touched the lives of many at Malakand over the weekend, and it won’t stop here."</h2>
            <p class="punch">- pakathon Malakand</p>
            <div id="testimonial-cta" class="text-center">
              <a class="button" href="https://medium.com/pakathon-channel/testimonial-from-pakathon-malakand-8d5584f90754" target="_blank">Read the testimonial</a>
            </div>
          </div>
        </div>

        <div class="columns large-7 medium-6 small-12 xsmall-12 img-two">
        </div>
      </div>
    </div>

    <div class="columns large-2 medium-2 small-12 xsmall-12 text-center column-center">
      <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-2 xsmall-block-grid-2">
        <li>
          <h2 class="gamma">1000</h2>
          <p class="punch">Global participants</p>
        </li>
        <li>
          <h2 class="gamma">15</h2>
          <p class="punch">Host cities</p>
        </li>
        <li>
          <h2 class="gamma">5</h2>
          <p class="punch">Host Countries</p>
        </li>
        <li>
          <h2 class="gamma">10</h2>
          <p class="punch">Member Universities in Pakistan</p>
        </li>
      </ul>
    </div>

    <div class="columns large-4 medium-4 small-12 xsmall-12 img-three column-right">
      <div class="img-text">
        <span class="tag">Success Story</span>
        <h2 class="gamma">Saim Siddiqui</h2>
        <p class="punch">After successfully competing at Pakathon 2013 in Boston, Saim has moved to Pakistan to launch his company Procheck: a serialization solution for drug companies</p>
        <a class="button" href="/program">get involved</a>
      </div>
    </div>
  </div>
</section>

<section id="homepage-news">
  <div class="row text-center">
    <div class="columns large-4 medium-12 small-12 xsmall-12">
      <h2 class="gamma">Pakathon In The News</h2>
    </div>

    <div class="columns large-8 medium-12 small-12 xsmall-12 text-center">
      <div class="row text-center">
        <ul class="columns large-block-grid-3 medium-block-grid-3 small-block-grid-3 xsmall-block-grid-1">
          <li class="panel text-center" id="pakathon-news-one">
            <a href="http://www.metro.us/local/pakathon-boston-techies-tackle-pakistan-problems/tmWmhA---3cNwhU1bEl2Vc/" target="_blank"></a>
          </li>
          <li class="panel text-center" id="pakathon-news-two">
            <a href="http://tribune.com.pk/story/584560/pakathon-aims-at-solving-pakistans-problems-through-technology/" target="_blank"></a>
          </li>
          <li class="panel text-center" id="pakathon-news-three">
            <a href="http://asiasociety.org/blog/asia/pakathon-taps-pakistani-diasporas-best-and-brightest-smart-solutions" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="homepage-social">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12 text-center social-text">
      <h2 class="gamma">Keep in Touch</h2>
      <p class="punch">Follow us on social media to stay informed of the exciting things to come</p>
      <div class="row">
        <div class="columns large-6 large-centered medium-6 medium-centered small-6 small-centered xsmall-12">
          <div id="social-icons-facebook" class="social-icons">
            <a href="https://www.facebook.com/PakathonBoston">
            </a>
          </div>
          <div id="social-icons-twitter" class="social-icons">
            <a href="https://twitter.com/PakathonGlobal">
            </a>
          </div>
          <div id="social-icons-instagram" class="social-icons">
            <a href="https://instagram.com/pakathonglobal/">
            </a>
          </div>
        </div>
      </div>
    </div>

   <!--  <div class="columns large-6 medium-6 small-12 xsmall-12">
      <div class="tweet">
        <a class="twitter-timeline" href="https://twitter.com/search?q=pakathon" data-widget-id="509175845777182720" data-chrome="transparent" width="500" height="104"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div> -->
  </div>
</section>