<div id="drawer-nav">
  <div class="mobile-only row text-center">
    <div class="column small-12 xmall-12">
      <ul>
        <li><a href="javascript:void(0)">Program</a></li>
        <li><a href="javascript:void(0)">Team</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="https://muut.com/pakathon">Forum</a></li>
      </ul>
      <a class="button" href="javascript:void(0)">Get in touch</a>
    </div>
  </div>
</div>