<footer class="global">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <nav>
        <ul>
          <!-- <li><a href="javascript:void(0)">People</a></li> -->
          <!-- <li><a href="javascript:void(0)">Blog</a></li> -->
          <!-- <li><a href="javascript:void(0)">Contact</a></li> -->
          <li>Sign up for our newsletter <input type="text" placeholder="email">
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>