<footer class="global">
  <div class="row">
    <!-- <div class="columns large-3 medium-3 small-12 xsmall-12">
      <div class="copyright">
        <p>Pakathon <span>&copy;</span> | Dekh Magar Pyar Say</p>
      </div>
    </div> -->
    <div class="columns large-12 medium-12 small-12 xsmall-12">
      <nav>
        <ul>
          <div class="left-nav">

            <% if request.original_url == "http://www.pakathon.org/program" %>
              <li class="header-nav-item"><a href="/program" class="active">Program</a></li>
            <% else %>
              <li class="header-nav-item"><a href="/program">Program</a></li>
            <% end %>

            <% if request.original_url == "http://www.pakathon.org/streams" %>
              <li><a href="/streams" class="active">Streams</a></li>
            <% else %>
              <li><a href="/streams">Streams</a></li>
            <% end %>

            <% if request.original_url == "http://www.pakathon.org/cities" %>
              <li class="header-nav-item"><a href="/cities" class="active">Cities</a></li>
            <% else %>
              <li class="header-nav-item"><a href="/cities">Cities</a></li>
            <% end %>

            <% if request.original_url == "http://www.pakathon.org/team" %>
              <li><a href="/team" class="active">Team</a></li>
            <% else %>
              <li><a href="/team">Team</a></li>
            <% end %>

            <% if request.original_url == "http://www.pakathon.org/careers" %>
              <li><a href="/careers" class="active">Careers</a></li>
            <% else %>
              <li><a href="/careers">Careers</a></li>
            <% end %>

            <% if request.original_url == "http://www.pakathon.org/resources" %>
              <li class="header-nav-item"><a href="/resources" class="active">Resources</a></li>
            <% else %>
              <li class="header-nav-item"><a href="/resources">Resources</a></li>
            <% end %>

            <% if request.original_url == "http://www.pakathon.org/faqs" %>
              <li><a href="/faqs" class="active">FAQs</a></li>
            <% else %>
              <li><a href="/faqs">FAQs</a></li>
            <% end %>

            <li class="header-nav-item"><a href="https://muut.com/pakathon">Forum</a></li>

            <!-- <%# if request.original_url == "http://www.pakathon.org/credits" %>
              <li><a href="/credits" class="active">Credits</a></li>
            <%# else %>
              <li><a href="/credits">Credits</a></li>
            <%# end %> -->
          </div>
          
          <li class="signup-form">
            
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="//pakathon.us7.list-manage.com/subscribe/post?u=603f8bbc2a581dfde2eef33df&amp;id=c6e5656c6b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="text">
                  Subscribe for updates
                </div>
                <div id="mc_embed_signup_scroll">
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <input type="text" name="b_603f8bbc2a581dfde2eef33df_c6e5656c6b" tabindex="-1" value="">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </form>
            </div>
            <!--End mc_embed_signup-->

          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>