<header class="global">
  <div class="row">
    <div class="columns xsmall-12 small-12 medium-12 large-12">
      <a href="/homepage_proto" class="logo">
        <%#= image_tag(Logo.find_by(name:"pakathon globe").image_url(:team), size: "30")%> PAKATHON
      </a>

      <nav>
        <ul>
          <!-- <li><a href="javascript:void(0)">About</a></li> -->
          <li><a href="javascript:void(0)">Hackathon</a></li>
          <li><a href="javascript:void(0)">Team</a></li>
          <li><a href="javascript:void(0)">Careers</a></li>
          <!-- <li><a href="javascript:void(0)">Partners &amp; Sponsors</a></li> -->
          <li><a href="javascript:void(0)">Forum</a></li>
        </ul>

        <a class="button" href="javascript:void(0)">Contact</a>
      </nav>

      <div class="drawer-btn">
        <a class="menu" href="javascript:void(0)">Menu icon</a>
      </div>
    </div>
  </div>
</header>