<header class="global">
  <div class="row">
    <div class="columns xsmall-12 small-12 medium-12 large-12">
      <a href="/" class="logo">
        PAKATHON
      </a>

      <nav>
        <ul>
          <!-- <li><a href="javascript:void(0)">About</a></li> -->

          <li><a href="/program">Program</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/careers">Careers</a></li>
          <!-- <li><a href="javascript:void(0)">Partners &amp; Sponsors</a></li> -->
          <li><a href="https://muut.com/pakathon">Forum</a></li>
        </ul>

        <a class="button" href="/contact">Get in touch</a>
      </nav>

      <div class="drawer-btn">
        <a class="menu icon-drawer" href="javascript:void(0)"></a>
      </div>
    </div>
  </div>
</header>