<!-- <div id="announcement-strip">
  <a href="javascript:void(0)" class="close-button icon-close"></a>

  <%# if DateTime.now < DateTime.new(2015, 11, 8) %>
    <a id="announcement" href="javascript:void(0)" target="_blank">
      <div class="row">
        <div class="columns xsmall-12">
            <h5 class="epsilon">Congratulations to GreenThumbs and Ammi, the winners of Pakathon Global Final 2015!</h5>
        </div>
      </div>
    </a>
  <%# else %>
    <a id="announcement" href="/global-final">
      <div class="row">
        <div class="columns xsmall-12">
            <h5 class="epsilon"><span>Watch Global Final Livestream</span> - Live at 11:00AM EST on November 8th, 2015</h5>
        </div>
      </div>
    </a>
  <%# end %>
</div> -->

<header class="global">
  <div class="row">
    <div class="columns xsmall-12 small-12 medium-12 large-12">
      <a href="/" class="logo">
        PAKATHON
      </a>

      <nav>
        <ul>

          <% if request.original_url == "http://www.pakathon.org/program" %>
            <li><a href="/program" class="active">Program</a></li>
          <% else %>
            <li><a href="/program">Program</a></li>
          <% end %>

          <% if request.original_url == "http://www.pakathon.org/cities" %>
            <li><a href="/cities" class="active">Cities</a></li>
          <% else %>
            <li><a href="/cities">Cities</a></li>
          <% end %>

          <% if request.original_url == "http://www.pakathon.org/resources" %>
            <li><a href="/resources" class="active">Resources</a></li>
          <% else %>
            <li><a href="/resources">Resources</a></li>
          <% end %>

          <li><a href="https://muut.com/pakathon">Forum</a></li>
        </ul>

        <a class="button" href="/contact">Get in touch</a>
      </nav>

      <div class="drawer-btn">
        <a class="menu icon-drawer" href="javascript:void(0)"></a>
      </div>
    </div>
  </div>
</header>