<header class="global">
  <div class="row">
    <div class="columns xsmall-12 small-12 medium-12 large-12">
      <a href="/" class="logo">
        PAKATHON
      </a>

      <nav>
        <ul>
          <!-- <li><a href="javascript:void(0)">About</a></li> -->

          <% if request.original_url == "http://www.pakathon.org/program" %>
            <li><a href="/program" class="active">Program</a></li>
          <% else %>
            <li><a href="/program">Program</a></li>
          <% end %>

          <% if request.original_url == "http://www.pakathon.org/team" %>
            <li><a href="/team" class="active">Team</a></li>
          <% else %>
            <li><a href="/team">Team</a></li>
          <% end %>

          <% if request.original_url == "http://www.pakathon.org/careers" %>
            <li><a href="/careers" class="active">Careers</a></li>
          <% else %>
            <li><a href="/careers">Careers</a></li>
          <% end %>

          <% if request.original_url == "http://www.pakathon.org/resources" %>
            <li><a href="/resources" class="active">Resources</a></li>
          <% else %>
            <li><a href="/resources">Resources</a></li>
          <% end %>

          <!-- <li><a href="javascript:void(0)">Partners &amp; Sponsors</a></li> -->
          <li><a href="https://muut.com/pakathon">Forum</a></li>
        </ul>

        <a class="button" href="/contact">Get in touch</a>
      </nav>

      <div class="drawer-btn">
        <a class="menu icon-drawer" href="javascript:void(0)"></a>
      </div>
    </div>
  </div>
</header>